[2020-03-06 10:07] ClementMarrast commented on #264
OK, I'll create a new issue.
Unfortunately, I don't have a public repo.

[2020-03-06 10:34] ClementMarrast opened #335 "Syntax Highlighter corrupt the display (`%X` is removed)"
Issue found using the plugin to review C code.

The code `%XX` is removed from the display as you can see bellow:
![image](https://user-images.githubusercontent.com/46934374/76075544-80956500-5f9d-11ea-9690-295cb89dd949.png)

You can see it on this PR:
https://bitbucket.org/clement-marrast/test/pull-requests/1/change-print-value/diff

Reproduced on Firefox 73.0.1 under Windows and plugin 3.20.

[2020-03-09 00:28] reyronald commented on #264
@ClementMarrast You can create one easily

[2020-03-09 09:13] ClementMarrast commented on #264
Ok @reyronald .

It's done here:
https://bitbucket.org/clement-marrast/test/pull-requests/1/change-print-value/diff

I add it to the created  issue.

Thanks

[2020-03-09 09:14] ClementMarrast commented on #335
Update first message with a demo PR.

[2020-03-11 08:10] Effectlife opened #336 "Wrong layer of file header when opening closed sidebar when hovering"
When having the sidebar on the left collapsed and it is opened by hovering on it, the file headers are rendered on top of the sidebar. I am using Chromium Version 80.0.3987.132 (Official Build) snap (64-bit) on Ubuntu 18.04.4.

![image](https://user-images.githubusercontent.com/11256922/76395368-72698f00-6377-11ea-8750-9e0548bc10de.png)

[2020-04-06 19:59] cs-altshift commented on #298
I think this issue can be closed. Syntax Highlighting seems to be supported by BitBucket natively now on "View File" pages.

[2020-04-09 12:14] aki-cat commented on #266
I have this issue too, not just on Firefox, but also on Chrome, in both mac and ubuntu. There seems to be a performance problem overall regarding medium-sized to large PRs.

[2020-04-09 12:17] aki-cat commented on #297
This would help greatly with #266
Having an option to disable the extension when it's slowing down your browser would be amazing.

[2020-04-11 23:54] reyronald commented on #298
Thanks @cs-altshift !

Closing

[2020-04-11 23:54] #298 closed, assigned to nobody

[2020-04-14 17:18] jwallet opened #344 "[fix] copy file name to clipboard button - not needed anymore ?"
@reyronald
i'm wondering if this feature will still be needed after adding some css style

added:
- `user-select:none` on badge and icon to make sure they are ignored when selecting the filename

so when double-clicking on a filename we now can select the same string that this feature copy
(i changed the icon on my branch for the add line to clipboard from atlassian-icon)
![image](https://user-ima

[2020-04-14 17:21] jwallet commented on #328
related to #341

[2020-04-14 18:32] jwallet commented on #185
red badges is diffinetively more common to see that one without it, slack, rocket chat and other chat app, windows has some app doing that too like Windows Mail, I really like the suggestion here.

btw, this feature only works while watching a pr, we see `?` in Pull Request list for the current repo,

you can also play with the alpha color, or opacity of the element to not cover the one below, but

[2020-04-15 05:55] #306 closed, assigned to nobody

[2020-04-15 05:55] #311 closed, assigned to nobody

[2020-04-15 11:15] jwallet commented on #250
working fine on both browser
@andremw this can be close

firefox - Version Dev 76.0b4
![f](https://user-images.githubusercontent.com/23088305/79331037-8a897c80-7ee8-11ea-978e-02db7a599ccf.gif)
chrome - Version 80.0.3987.163
![g](https://user-images.githubusercontent.com/23088305/79331240-dfc58e00-7ee8-11ea-8765-d1cdfbd79581.gif)

[2020-04-17 10:23] reyronald commented on #250
Confirmed, Don't know how this got magically fixed. I'll close, thanks for checking @jwallet

@kopach if you are still seeing this behavior it might require a specific set-up. Let me know here and i'll dive deeper.

[2020-04-17 10:23] #250 closed, assigned to reyronald

[2020-04-19 01:26] jwallet commented on #253
at my workplace we watch team pullrequests here:
https://bitbucket.org/dashboard/pullrequests?section=workspaces
and use the watch icon to get it in our watch list:
https://bitbucket.org/dashboard/pullrequests?section=watching

but i get your point, this is missing

[2020-04-19 21:25] kopach commented on #250
hey @reyronald. I can confirm, defect isn't reproducible anymore 👍

[2020-04-20 21:51] #328 closed, assigned to nobody

[2020-04-20 21:56] #344 closed, assigned to nobody

[2020-04-22 08:16] habakuk007 opened #348 "Firefox says: Script is not responding"
Hello,

Firefox 75.0 always says that the [script is not responding](https://support.mozilla.org/de/kb/warnung-nicht-antwortendes-skript#w_other-causes) on a Bitbucket pull request, with only 8 files:

![2020-04-22 10_14_10-logima _ DoseHub _ Pull request #60_ IHUB-267 Enabled automatic publish on Insta](https://user-images.githubusercontent.com/2253878/79957618-20418080-8482-11ea-988c-aadbbcb2c5e

[2020-04-22 17:08] jwallet opened #349 "Collapse diff bottom button is hidden by container"
![image](https://user-images.githubusercontent.com/23088305/80011688-365b3b00-849a-11ea-86a4-b1da3c5bca72.png)

to
![image](https://user-images.githubusercontent.com/23088305/80011631-204d7a80-849a-11ea-8dc6-8faa59c8181a.png)

caused by `div.diff-content-container.refract-container.word-diff`
- needed to be `position:relative` for a feature,
- needs to have `overflow:visible`

[2020-04-24 12:06] PLWpl opened #351 "Refined Bitbucket is causing Firefox to slow down"
Hi,

For a while now (about two months) I've been having issues with Refined Bitbucket. Whenever I enter PRs, a browser's bar appears informing me that

<img width="1662" alt="image" src="https://user-images.githubusercontent.com/35236340/80210647-62aabf00-8634-11ea-9ddd-b8405fb7baef.png">

Only stopping it or temporarily disabling helps - waiting doesn't.

The issue is present no matter the PR, i

[2020-04-29 08:32] #201 closed, assigned to nobody

[2020-05-10 04:42] Michaelhobo opened #354 "Merge commit template broken with beta pull request experience"
Bitbucket started rolling out a new PR experience, which you can enable in your personal settings, under labs

https://bitbucket.org/account/settings/features/
Find lab labeled "New pull request experience BETA"

I switched back to the old PR UI, and the merge commit template worked

[2020-05-13 19:26] jwallet commented on #351
i stumbled upon this issue, my case was index.js (minifed) caused the script to fail.
if I add index.js to the file I want to delete using rbb bitbucket is not freezing anymore, adding it to the files to collapse does nothing. if index.js is not minified it's working too.

 it's caused by highlight which tries to read the line. A line that represents the whole app.

@reyronald

[2020-05-13 19:43] jwallet commented on #351
it affects chrome as well. chrome freezes totally, firefox freezes the render but you can still change tab or scroll. chrome after 10secs sucessfully render, firefox crashes.

[2020-05-14 00:03] jwallet commented on #351
updating prism to latest : 1.20 fixes the issue

[2020-05-15 00:09] jwallet commented on #324
rbb uses prism.js
that's their source code for python:
https://github.com/PrismJS/prism/blob/master/components/prism-python.js

maybe you can migrate this issue on their page

[2020-05-15 00:11] jwallet commented on #335
https://github.com/refined-bitbucket/refined-bitbucket/issues/264#issuecomment-449190939

this issue comes from prism.js
https://github.com/PrismJS/prism
maybe you can open an issue on their page as well

[2020-05-15 00:11] jwallet commented on #331
https://github.com/refined-bitbucket/refined-bitbucket/issues/264#issuecomment-449190939

this issue comes from prism.js
https://github.com/PrismJS/prism
maybe you can open an issue on their page as well

[2020-05-17 03:03] jwallet opened #356 "collapse diff scrolling effect makes it difficult to review pr on vertical screen"
- i know there are top and bottom toggle, the bottom one make sense to have a scroll behavior smooth but the top one should not have one, it makes code reviewing kind of hard, it moves all elements at the top of the screen when it should collapse where the header was.
- if the header/top toggle is mid screen and i click on the top toggle it moves the header to the top, it shouldn't it makes it loo

[2020-05-17 03:45] jwallet opened #359 "Custom Default Reviewers for bitbucket cloud for any repository"
As a user I want to be able to set my own default reviewers when creating a Pull Request.
- Users don't have access to set repository default reviewers, only admins, so I want to define my own default users when creating a pr
- Need to be able to save it by repository, if none were saved, use the default suggested reviewers set by the admins

nice to have
- be able to defined reviewers team so i c

[2020-05-19 01:37] jwallet opened #360 "pull request list: add source branch, creation date, brach names no longer working"
using "add source branch, linkify branch names, and add creation date to each pull request row in pull request list" has no effect

![image](https://user-images.githubusercontent.com/23088305/82274944-87eace80-994f-11ea-9c81-9145d9c5ce8b.png)

the modified view by rbb in readme
![image](https://user-images.githubusercontent.com/23088305/82274742-f11e1200-994e-11ea-81a1-3610736dde15.png)

the actua

[2020-05-20 06:28] #295 closed, assigned to nobody

[2020-05-22 02:38] jwallet commented on #359
@reyronald I'm almost done with this feature, it's actually in draft here https://github.com/jwallet/refined-bitbucket/pull/16. I was initially planning to add a sub feature for teams (save custom reviewers by team, so it easy to switch between them in the same repository), but it took to long to code, so I will take a break and close this one. So I'm wondering if you would like this feature knowi

[2020-05-25 16:32] agolovenko commented on #354
yes, same here. New pull request experience looks much better due to inline side-by-side diff, so I'd really like code highlighting to be fixed for it

[2020-05-26 08:55] #324 closed, assigned to nobody

[2020-06-03 13:24] yuritoledo commented on #151
The highlight still does not work in TSX files :/

[2020-06-06 23:55] Michaelhobo commented on #354
For those of you that are affected, I'd urge you to upvote the bitbucket cloud issue to make this an official feature: https://jira.atlassian.com/browse/BCLOUD-12918

Ideally, this is something that should be staffed and supported by Bitbucket ... but here we are, trying to work around their missing features.

[2020-06-07 01:07] reyronald commented on #354
@Michaelhobo This is working for me in the new PR experience UI. Is your Bitbucke UI not in english or does it take a long time for the PRs to load? Do you see any errors in the console?

I've never seen it not work ever since I released that feature in #325

[2020-06-07 05:12] Michaelhobo commented on #354
I tried the beta UI again, and it seems to work most of the time (first load of my PR didn't use the merge commit template, but it worked after the first time). When I first looked at this a month ago, I had trouble finding a log message that looked suspicious, but I couldn't get it to work at all.

[2020-06-07 05:30] reyronald commented on #354
@Michaelhobo There is an arbitrary 10 second timeout involved. If a PR page doesn't load within that interval this feature won't work. I assumed 10 second was enough time. but probably it isn't.

I'll increase that timeout in the next version and hopefully that will make it more reliable to you.

[2020-06-07 05:34] Michaelhobo commented on #354
Thanks, I think that is likely to be the problem. Especially with larger
PRs (e.g. mass-moving files), bitbucket can take a LONG time to load.

On Sat, Jun 6, 2020 at 10:30 PM Ronald Rey <notifications@github.com> wrote:

--
Michael Ho
http://www.linkedin.com/in/michaelhobo

[2020-06-07 06:09] Michaelhobo commented on #354
Ah, I just tried again, and it's failing for me with this message:
Uncaught (in promise) TypeError: Cannot read property 'querySelector' of null
    at HTMLButtonElement.onFulfillPullrequest (main.js:29489)

That points to this line: const textarea = mergeDialogHeader.closest('[role="dialog"]').querySelector('textarea');

[2020-06-07 06:27] reyronald commented on #354
Interesting, thanks for the info. I'll re-open and look into it tomorrow.

[2020-06-08 00:00] #354 closed, assigned to nobody

[2020-06-08 00:40] reyronald commented on #354
@Michaelhobo I just released v3.21.0. Let me know if you still see the error in that version after it updates

[2020-06-08 18:23] Michaelhobo commented on #354
Yup, it's fixed!

[2020-06-11 17:46] runer112 opened #369 "With old PR experience, activity page doesn't work"
With the old PR experience, loading up a PR directly to the _/activity_ page instead loads an incomplete version of the overview page. This appears to be a new issue in v3.21.0.

[2020-06-11 17:54] runer112 commented on #369
After experimenting a bit more, it seems that this only happens if the PR has inline comments. When one is present, the target is unexpectedly redirected to _/diff?w=1#chg-\<filename\>_, where _\<filename\>_ is the name/path of the file with the most recent inline comment.

[2020-06-21 17:29] Michaelhobo opened #370 "Changing merge strategy before merging breaks MERGE_COMMIT_TEMPLATE"
Note: I'm using the Beta PR UI. I haven't tested this in the old UI

Steps to reproduce:
- From a PR page, click Merge. This brings up the Merge dialog.
- Switch Merge commit strategies from Merge to Squash

The MERGE_COMMIT_TEMPLATE won't be applied to the commit message.

Workaround:
You can set the default merge strategy in Repository Settings.

[2020-06-21 17:30] Michaelhobo commented on #370
FYI this isn't a dealbreaker for me, but I thought I'd file the issue anyway.

[2020-06-26 06:14] gronostajo opened #371 "Feature request: Evaluate custom JS code once PR is loaded"
I would like to execute some JS code when a pull request page is completely loaded. It's not repository-specific. I've planned to use userscripts, but the trivial approach triggers them before everything is loaded completely with XHR. Refined Bitbucket looks like a good candidate to provide this feature. We already have custom CSS injection, custom JS would be nice.

---

Possibly relevant: what I

[2020-06-30 06:58] jarle opened #372 "Feature request: Support for hosted Bitbucket solutions"
My organization is hosting its own Bitbucket-instance, so the extension is not triggering because of the URL. It would be very useful if it was possible to register custom domains, or have some other mechanism for triggering the extension.

[2020-06-30 12:33] jwallet commented on #372
bitbucket server is quite different than the cloud version, some feature won't work because the DOM elements are not the same and pretty much all features are already available with official addons for bitbucket server.

[2020-06-30 13:24] reyronald commented on #372
@jarle Bitbucket Cloud and Bitbucket Server are two different products.

This extension is only for Bitbucket Cloud

[Please see this section of the readme for more details](https://github.com/refined-bitbucket/refined-bitbucket#can-i-use-this-on-bitbucket-server)

[2020-06-30 13:24] #372 closed, assigned to nobody

[2020-07-26 22:08] Michaelhobo opened #373 "MERGE_COMMIT_TEMPLATE never applies to first time opening a new PR"
I'm still trying to figure out exactly why this happens. Every time I open a brand new PR from the bitbucket UI, and click "Merge" to bring up the merge dialog, my MERGE_COMMIT_TEMPLATE doesn't apply. After a refresh, it works. I had this behavior on 4 consecutive PRs in a row in quick succession, so I don't think this is some flake or timing related issue.

Has anybody else seen this behavior? I'

[2020-07-27 03:20] Michaelhobo commented on #373
I'll add this this is very reproducible. e.g.:
Open the PR UI 30 seconds after creating it? No good.
Opoen the PR UI hours after creating it? Same thing.
Leave the PR UI open for many minutes, and try the Merge button again a few times? Same thing.
After a refresh, it works immediately.

I'm pretty sure there's some bug with the first time opening the PR UI per PR.

[2020-07-27 14:27] willsheppard opened #374 "Does not work with "new pull request experience""
Syntax highlighting and other features do not work when I am using Bitbucket's new PR display.

It's a shame because this was a wonderful extension before Bitbucket changed their UI.

[2020-07-28 19:05] hkennyv commented on #374
+1, happy to contribute to help expedite this if someone can point me in the right direction

[2020-07-29 01:33] reyronald commented on #374
Syntax highlighting is intentionally not supported in the new PR experience because the feature is already in the official roadmap of Atlassian for the product, so it wouldn't make sense to work on it, then to have to roll it back,

If the official statement by Atlassian changes then we will act.

[2020-07-29 01:33] #374 closed, assigned to nobody

[2020-07-29 01:41] #234 closed, assigned to nobody

[2020-07-29 01:41] #254 closed, assigned to nobody

[2020-07-29 01:41] #264 closed, assigned to nobody

[2020-07-29 01:41] #303 closed, assigned to nobody

[2020-07-29 01:41] #331 closed, assigned to nobody

[2020-07-29 01:41] #335 closed, assigned to nobody

[2020-07-29 01:47] #356 closed, assigned to nobody

[2020-07-29 15:50] willsheppard commented on #374
Fair enough. It would be good to mark on the config page which features are not expected to work with the new pull requests though.

[2020-08-28 20:43] brettgoss commented on #252
@reyronald I think at this point, it's pretty safe to say it's not going to be implemented natively anytime in the near future. Do you have any plans on the horizon to port the syntax highlighting in RefinedBitbucket to the new PR UI? https://jira.atlassian.com/browse/BCLOUD-8673 moved from 'In Progress' back to 'Under Consideration' in June 😞

Edit: Just found a gist in the comments of the BCLOUD

[2020-09-21 07:16] RobertChrist opened #376 "Atlassian has decided not to implement syntax highlighting in new PR UI"
tl;dr: Atlassian dropped syntax highlighting from the new PR UI roadmap, would you reconsider the feature or accept a PR on this?

-------

Hi @reyronald, in Issue #252 , you stated that syntax highlighting (and I assume other related features, like double-clicking a word to highlight all occurrences of the word) will not be rolled out to the new PR UI, because native support was on Atlassian's ro

[2020-09-21 07:26] RobertChrist opened #377 "New PR UI, padding"
Hi @reyronald,

My company is moving from bitbucket server to cloud, and I found this extension in an attempt to make the transition less painful.  One of the issues I have with the new PR UI is that the filetree the new UI displays has so much padding around each element that it only takes a few files before you genuinely can't see all of the files in the tree on a normal monitor any longer.  And

[2020-09-21 10:35] reyronald commented on #377
Hey @RobertChrist

Thanks for opening an issue before investing time in a pull request.

This change sounds simple enough for a user script using something like [Tampermonkey](https://www.tampermonkey.net/). Or at the very least, I would try implementing it there before reaching for the extension ecosystem.

Can you give that a shot first?

I'll close for now and let me know when you have anything

[2020-09-21 10:35] #377 closed, assigned to nobody

[2020-09-21 10:40] reyronald commented on #376
Hey @RobertChrist

Yes, given Atlassian's difficulties with delivering this, I'll give it a shot myself.

Someone in that issue you referenced provided a temporary work-around in case you're interested and it works for you:  https://gist.github.com/lephuongbg/bf26e0aa24b3c9b0071b7597522ded15

[2020-09-21 17:25] RobertChrist commented on #376
Yup, I'm already running that greasemonkey script.

Okay, that's great to hear!  I very much look forward to this patch.  Please let me know if there's any way I can be helpful

[2020-09-21 17:26] RobertChrist commented on #377
Sounds good @reyronald .  I'll play around with it over, and if I find something that I think might work well for a larger audience,  I'll open a new issue with some screenshots.  Thank you for the quick feedback!

[2020-09-24 18:01] raijinsetsu commented on #373
We are also experiencing this issue.

When navigating from the bitbucket.org homepage to a PR, clicking Merge: the template is not applied. Clicking Refresh on the browser, then clicking Merge: the template is applied.

The issue appears to be that the extension does not attempt to load the template on page load unless the page is being loaded by a refresh.

Chrome: 85.0.4183.121 (Official Build)

[2020-09-25 11:20] reyronald commented on #373
Hey everyone,

I'll look into this this weekend, sorry for the huge delay.

[2020-09-27 14:55] #373 closed, assigned to nobody

[2020-09-28 05:44] jamesheazlewood opened #379 "Plugin not working in pull request screen"
I've tried it in a commit diff and it works well. However inside a pull request screen, there is no syntax highlighting.

[2020-09-28 11:52] reyronald commented on #379
The syntax highlighting is only implemented in the old pull request experience, not the new one.

[2020-09-28 11:52] #379 closed, assigned to nobody

[2020-09-28 19:14] runer112 commented on #369
3.22.2 update: now the activity page simply doesn't work, ever. It *always* loads an incomplete version of the overview page instead.

[2020-09-28 19:23] runer112 commented on #369
Since I could no longer work around this issue by re-navigating to the activity page, I investigated a bit further. By experimenting with the options, **I've determined that a single option is the culprit**:

This seems to make sense considering my previous finding that this would only happen if the PR had inline comments. That causes some diff contents to appear on the activity page, which would

[2020-09-28 19:28] runer112 opened #380 "Duplication of inserted page elements"
It seems that logic to identify that a page element has been added is no longer functional.

Example screenshot with duplicated button to collapse description, "showing" count, and load diffs button:
![image](https://user-images.githubusercontent.com/6608979/94477995-9fa94d80-01a0-11eb-8761-0d0ddb5dda62.png)

[2020-09-29 14:32] jinglesthula opened #381 "Chrome extension requesting permission to read browsing history"
Not sure if this permission was recently added, or if Chrome just recently started notifying users, but when I started the browser I saw that it is requesting permission to "Read your browsing history", and to accept permissions or remove the extension.

This is a bit of a turn-off for me, as I've been enjoying the extension and am not sure why it needs to now start accessing my browser's history

[2020-09-29 23:04] reyronald commented on #381
This warning started to pop up because of the added `webNavigation` permission. Its description is:

You can read about it here: https://developer.chrome.com/extensions/webNavigation

This is necessary ever since Atlassian recently started using the [History API](https://developer.mozilla.org/en-US/docs/Web/API/History) to handle route navigations rather than having server-rendered views for all t

[2020-09-29 23:47] #380 closed, assigned to reyronald

[2020-09-29 23:53] #369 closed, assigned to reyronald

[2020-10-12 12:08] chestozo commented on #381
this one is also scary:
![image](https://user-images.githubusercontent.com/498934/95744794-9b9b2680-0c9c-11eb-8e2c-c8e28c1afa97.png)

what you may need to update in BB profile?

[2020-10-13 00:21] theKashey opened #385 "Refined cases degradation of bitbucket user interface"
Hey! Great project, using it for years and completely happy!

Except for the last week, when Refined started causing a full page refresh 🙀

I've traced the problem down to this function - https://github.com/refined-bitbucket/refined-bitbucket/blob/89e40530ebda863035dd31fd851c2050a4d2a833/src/ignore-whitespace/ignore-whitespace.js#L19

- you open a PR, it does not contain `?w=1`
- refined reloads t

[2020-10-13 00:24] theKashey commented on #385
![image](https://user-images.githubusercontent.com/582410/95801621-94c8ee00-0d46-11eb-840a-2a2f0ca554e1.png)
Look like this option has to be disabled. Ideally not by the user, which should now about advanced configuration.

[2020-10-13 10:48] reyronald commented on #381
That one has always been there.

If the extension cannot change the data on bitbucket.org then it can literally do nothing

[2020-10-13 11:25] reyronald commented on #385
Hey @theKashey , honestly that is kind of by design.

Originally that feature only made sure the links in the pull request list opened with the `?w=1` query parameter, but some users said that it wasn't enough and that they expected to never see a pull request with whitespace when this option on (see #306).

So the behavior in the first case looks as intended to me, but I couldn't reproduce the se

[2020-10-14 00:45] theKashey commented on #385
A very new experience. The problem hit me just this week, before it was working great.
The problem is more related that internal links no longer persist `?w` attribute and every second action triggers the `ignoreWhitespace` logic.

[2020-10-14 18:13] raijinsetsu commented on #385
I believe this was caused by the fix to using merge templates with the new UI. I noticed this issue started occurring after that version was pushed out. I'll have to dig up with original issue and PR but I vaguely remember that the change hooked into the browser navigation to detect URL changes.

[2020-10-14 18:18] raijinsetsu commented on #385
Issue #343 and PR #378 .

[2020-10-23 16:50] mramos-dev commented on #385
Having the 'Set "Ignore whitespace" ON by default in the Old PR Experience (already natively supported in the New PR experience)' option check seems to prevent the MERGE_COMMIT_TEMPLATE for functioning. Is this related to this reported issue?

[2020-10-28 01:02] pingcheng commented on #376
Does anyone know why Atlassian is not doing the colour highlighting?
Looks like this is a feature that can purely do on client's side.

[2020-10-30 06:31] RobertChrist commented on #376
@pingcheng No idea, but from nearly a decade of working with Atlassian products, this seems like normality for them.

I just opened a PR to add syntax highlight, and syntax theme support to this plugin, so it may be available soon, or [you can try it out in my repo](https://github.com/RobertChrist/refined-bitbucket/tree/feature/RC/AddSyntaxHighlightInNewUI_AddSyntaxHighlightThemeOptions) in the me

[2020-10-30 06:32] RobertChrist commented on #376
@reyronald Hi Rey!  My team officially swapped over to bitbucket.org two days ago, so I went ahead and implemented this feature.

I also decided to add syntax highlighting theme support, and made it backwards compatible for the old diff/PR UIs.

PR available here: https://github.com/refined-bitbucket/refined-bitbucket/pull/386

Let me know if you need anything, or any changes you would like me to

[2020-10-30 06:38] RobertChrist opened #389 "New PRs Opened"
Hi @reyronald

In the process of working on the issue in #376 , I also opened a few PRs I or my team has found annoying in the bitbucket.org UI.  I'm not sure what the protocol is for opening PRs unsolicited, so I thought I'd open an issue here, and we can just close it if opening this case was superfluous

[Pull Request 387](https://github.com/refined-bitbucket/refined-bitbucket/pull/387) adds a

[2020-11-07 19:12] reyronald commented on #385
I'll explicitly remove the ignore whitepace feature for the New UI since it's not needed there, but the full page refresh in the Old UI is necessary to achieve the feature's description since it's the only way load a PR with whitespaces off.

---

This is a separate issue. Will be resolved in the next release, thanks for pointing it out!

[2020-11-07 19:14] #385 closed, assigned to nobody

[2020-11-07 19:19] #336 closed, assigned to nobody

[2020-11-07 19:58] #185 closed, assigned to nobody

[2020-11-08 18:26] #360 closed, assigned to nobody

[2020-11-10 08:05] JeroenVdb opened #393 "Mark is (re)viewed"
Github has a nice feature to [mark files in a PR as view/reviewed](https://github.blog/2019-07-01-mark-files-as-viewed/). Is this something this extension (could) support?
I was working myself on a simple solution before I found this extension so I might also try add it to this codebase.

[2020-11-16 07:52] littleGnAl commented on #376
Any update on this?

[2020-11-16 17:09] RobertChrist commented on #376
@littleGnAl still sitting in PR waiting for @reyronald to review and merge

[2020-11-19 11:35] JeroenVdb commented on #393
FWIW this is how I solved it: https://github.com/JeroenVdb/bitbucket-pullrequest-file-review

[2020-11-19 11:35] #393 closed, assigned to nobody

[2020-12-05 18:13] #266 closed, assigned to nobody

[2020-12-05 18:13] #348 closed, assigned to nobody

[2020-12-05 18:13] #351 closed, assigned to nobody

[2020-12-19 00:07] adrian861 commented on #252
+1 on adding this, Atlassian still has not pulled the trigger.

[2021-01-04 02:24] chrisaligent commented on #376
The new PR experience will be made mandatory from Feb 15th onwards:
![Selection_1806](https://user-images.githubusercontent.com/45612883/103495627-58131b80-4e8b-11eb-9a47-3845f836d53e.png)

I can't perform code reviews without syntax highlighting, so if there's anything I can do to help get this reviewed/merged please let me know. I don't want to pressure anyone but the impact of losing this featu

[2021-01-04 02:49] RobertChrist commented on #376
Hey @chrisaligent , I agree.  I'm not sure what the hold up is, I'm still waiting on a PR review / merge from @reyronald or @andremw

[2021-01-04 14:32] triforcely commented on #376
Hey @RobertChrist, I tested your feature based on extension built off _feature/RC/AddSyntaxHighlightInNewUI_AddSyntaxHighlightThemeOptions_ branch and I've found some issues with it:

1. When navigating to comment from the "Activity" tab it causes a full page refresh after windows scrolls to the desired area.
![image](https://user-images.githubusercontent.com/12202969/103545283-a16e6580-4ea1-11eb-

[2021-01-25 06:03] RobertChrist commented on #376
@triforcely Hi Triforcely,
    I haven't received any update from the repository owner, @reyronald, since opening this PR last November.  As such, I'm not really sure what to do with this PR.    He did review another one of my PR's available here: https://github.com/refined-bitbucket/refined-bitbucket/pull/387, but by the time the PR was reviewed, I was in the process of accepting a new position i

[2021-01-25 12:05] andremw commented on #376
Hey guys, I've been talking to @reyronald about this for some time since it's getting harder and harder for him to maintain the extension, and I think that the time has come to address this matter.

@reyronald, what would we need to do in order to bring more contributors? How can I help?

Would someone here be interested in becoming a maintainer with Ronald?

We would need to move the deployment t

[2021-01-25 12:56] reyronald commented on #376
Everyone can relax, this is still on my radar.

At the time this pull request was opened there was a backlog of other existing PRs that needed review first that I've been slowly clearing since. This one is the most recent to have been created and therefore took the last spot of my todo list.

It's also been low priority since Atlassian contacted me directly to let me know they were working on this

[2021-01-25 13:58] andremw commented on #376
We hope so!

Let me know if you need any help.

[2021-01-25 13:59] andremw commented on #376
We hope so.

Let me know if you need any help.

[2021-01-25 14:04] andremw commented on #376
@reyronald, we hope so.

Let me know if you need any help.

[2021-01-25 15:16] RobertChrist commented on #376
@reyronald This is great to hear!  Thank you for the update, I was very confused.  That makes a lot of sense!  Thank you very much!

[2021-01-28 23:21] robbieheywood commented on #252
+1 - this would be great!

[2021-01-31 20:16] #381 closed, assigned to reyronald

[2021-01-31 21:05] RobertChrist commented on #389
I'm going to close out this issue, as these PRs have since been merged.  w00!

[2021-01-31 21:05] RobertChrist commented on #389
I'm going to close out this issue, as these PRs have since been merged.  wooooo!

[2021-01-31 21:06] #389 closed, assigned to nobody

[2021-01-31 21:06] RobertChrist commented on #376
@triforcely - @reyronald has just merged this PR in, so I'm closing out this issue.  Yay!!

[2021-01-31 21:06] #376 closed, assigned to reyronald

[2021-02-12 12:11] robbieheywood commented on #376
Hey @reyronald / @RobertChrist  - this change is great! Is it possible to get a new release of the extension that includes this? I think there's only a couple of days until the old PR experience is removed.

[2021-02-13 22:41] reyronald commented on #376
@robbieheywood A release has already been pushed to the store and it's in revision process. Should become available soon.

[2021-02-14 22:31] chrisaligent commented on #376
Just got to work, opened Chrome, and saw that the extension updated itself to the latest version.
Went to Bitbucket, opened a PR, switched to the new PR experience...and we have syntax highlighting! :tada:
So far it seems to be working perfectly!

Just here to say thankyou to @reyronald @RobertChrist (and anyone else who may have been involved) for the amazing work, this makes Bitbucket usable aga

[2021-02-15 00:10] maxbrunet opened #401 "MERGE_COMMIT_TEMPLATE does not work in Firefox"
The merge commit template insertion is skipped on an error, Refined Bibucket wrongly logs that it is related to permissions:

[code]

If I output the error in the catch, I get:

[code]

This seems to be thrown by the call to `findAllByText()` here:
https://github.com/refined-bitbucket/refined-bitbucket/blob/c53474f120b4cd3f6359e1f0b2080c4fb3410c78/src/merge-commit-message-new/merge-commit-message-

[2021-02-16 05:39] reyronald commented on #376
Hey @chrisaligent ,

Thanks a lot for stopping by to drop that heartfelt comment!

I always deeply appreciate when users go out of their way to express their gratitude, and makes the effort of maintaining the extension and working on these features much more worthwhile!

I hope we can keep all of you satisfied in the future as well.

Cheers!

[2021-02-22 11:40] pastelsky opened #402 "Syntax highlighting doesn't seem to be working?"
It appears that syntax highlight for the new pull request experience was enabled on  https://github.com/refined-bitbucket/refined-bitbucket/issues/376

But I don't seem to see it still?

For eg —
https://bitbucket.org/atlassian/atlassian-connect-js/pull-requests/285

![image](https://user-images.githubusercontent.com/8946207/108703598-d78aa600-7530-11eb-9051-708d3cbf35e9.png)

[2021-02-22 14:12] reyronald commented on #402
This is how it looks to me

![image](https://user-images.githubusercontent.com/7514993/108719881-7e9e1c00-74f6-11eb-9a9d-feb3ac02f083.png)

Can you tell me which options you have enabled and disabled ?

[2021-02-25 09:28] triforcely opened #403 "Syntax highlighting not working for added files"
Chrome: 88.0.4324.190

The latest update with syntax highlighting is great and reviewing experience is much better. It works fine for "edited" and "deleted" files but there is no syntax highlighting for newly added files
![image](https://user-images.githubusercontent.com/12202969/109132433-206e7480-7754-11eb-8403-3bdd20053cec.png)
Interestingly, when I change the view mode of a given file to "View

[2021-03-04 15:33] RobertChrist opened #404 "Code Available for Update to Syntax Highlight, for new Load Files: Individually Mode"
Hey @reyronald,
    When I opened the PR on syntax highlighting in rbb, I based the changes on the gist available here: https://gist.github.com/lephuongbg/bf26e0aa24b3c9b0071b7597522ded15

lephuongbg just wrote me to say he recently updated his script, to work with the new "Load Files: Individually Mode" now available in bitbucket.

I no longer use bitbucket, so this isn't really on my priority li

[2021-03-04 17:13] reyronald commented on #404
Hey Rob,

Sure, feel free to open a PR of you want.

Otherwise I'll get to this myself later.

Thanks!

[2021-03-25 21:53] jdege commented on #280
I'm looking at a PR that touched 123 files.

Being able to collapse all of them except the one I am reviewing would be helpful.

[2021-03-31 07:49] LeEnno commented on #216
I'm afraid that this issue was introduced again. No more `ins` and `del` in the markup if syntax highlighting is enabled.

Working with disabled extension:
![working without syntax highlighting](https://user-images.githubusercontent.com/2038814/113109042-e6d2d280-9205-11eb-951b-8b8bcaecc993.png)

Broken with enabled extension:
![broken with syntax highlighting](https://user-images.githubuserconten

[2021-04-05 06:09] pastelsky commented on #402
@reyronald
<img width="346" alt="Screenshot 2021-04-05 at 11 37 26 AM" src="https://user-images.githubusercontent.com/8946207/113543111-54667080-9603-11eb-9873-fb5d61899522.png">

[2021-04-07 07:01] mnn opened #407 "Syntax highlighting loses background highlighting of changed parts"
Without syntax highlighting:

<img width="543" alt="2021-04-07_08-48" src="https://user-images.githubusercontent.com/1975567/113822887-48eb8480-977e-11eb-99ee-5626b5d0b493.png">

With syntax highlighting:

<img width="568" alt="2021-04-07_08-49" src="https://user-images.githubusercontent.com/1975567/113822947-5bfe5480-977e-11eb-9089-f8c1af4c598d.png">

It's a bit annoying. I am forced to frequentl

[2021-04-14 18:50] Johennes opened #408 "Feature request: resolve comments"
Both GitHub and GitLab have functionality to mark comments as resolved. BitBucket is lacking this feature, however, and when you go into the third or fourth review round on a PR, the comments start cluttering up the diff and it gets hard to keep track of what has already been addressed and what not.

It'd be great if Refined BitBucket would add an option to mark a single comment as resolved. In or

[2021-04-15 00:08] reyronald commented on #408
Hey @Johennes ,

I had a call with the Bitbucket team a few weeks ago and they told me this was on their backlog. Unsure about the priority or the release date..

I'll wait a bit to see if it lands soon before implementing it here.

[2021-04-15 07:25] Johennes commented on #408
Yeah, I had actually checked their Jira yesterday before reporting this issue. I only found tickets like https://jira.atlassian.com/browse/BCLOUD-6535, reported a long while ago, so it didn't seem to be on any near term roadmap. 😔

[2021-05-14 18:52] pastelsky commented on #402
Turned out to be something blocking this extension from working on the page. Closing this.

[2021-05-14 18:52] #402 closed, assigned to nobody

[2021-05-14 18:52] pastelsky commented on #407
This should fix it —
https://github.com/refined-bitbucket/refined-bitbucket/pull/410

[2021-06-01 10:58] devnev opened #411 "Merge template not used for some merges"
Sometimes RB seems to bail out of using the merge template, with a console log "[refined-bitbucket] User doesn't have permissions to merge this pull request. Skipping "mergeCommitMessage" feature."

This happens when merging PRs by someone else (e.g. when they're on holiday or otherwise unavailable), or merging a PR where not all the checks pass (e.g. when a team agrees that the checks aren't usef

[2021-06-16 13:16] #334 closed, assigned to nobody

[2021-07-26 19:36] 0x43eba opened #413 "Feature Request: support for non bitbucket domains (IE: internal BB instances)"
My cooperate BB does not match any of the instances of bitbucket in the settings. Can feature be added to allow custom define of bitbucket URL? This is feature I am willing to develop out and submit as PR if wanted.

[2021-07-26 19:50] reyronald commented on #413
Are you using Bitbucket Server ?

[2021-07-27 13:53] 0x43eba commented on #413
Yes, it would appear that we are.

[2021-07-27 13:55] reyronald commented on #413
Bitbucket Cloud and Bitbucket Server are two different products.

This extension is not compatible with Server.

See the README.

[2021-07-27 13:55] #413 closed, assigned to nobody

[2021-09-30 01:18] ablekhman opened #414 "Syntax highlight is not working correctly for multiline comments"
The syntax highlight is not working correctly for multiline Java comments:
[code]
In the case above all lines, except the first one (`/**`), are not recognised as comments. As a result, syntax highlight is applied to comments as if they are valid code lines.

[2021-10-01 11:52] reyronald commented on #414
This is a known limitation of how the extension works. Each line is highlighted individually and it not aware of the surrounding context.

Theoretically it would be possible to fix but I feel it's not worth the effort.

[2021-10-07 07:11] LaurensUP opened #418 "Syntax not working for "View entire file""
This view is very convenient to get a grasp on the code, but unfortunately it does not load syntax highlighting.

[2021-11-04 14:52] ManiacDC opened #420 "Refined Bitbucket mangling comparisons after 3.26.0 update"
Refined Bitbucket updated to 3.26.0 this morning for me, and now some of my comparisons have a ___KEEPTAGS1___ in them.

With RB on (incorrect):
![image](https://user-images.githubusercontent.com/1823305/140336371-c0c49492-2439-46a2-b51f-aa2af1c866a3.png)

With RB off (correct):
![image](https://user-images.githubusercontent.com/1823305/140336460-a7a117aa-e2a0-431f-afcc-af05906c8c9e.png)

This is

[2021-11-04 15:04] reyronald commented on #420
cc @pastelsky

I'm going to disable the change that caused this issue in a patch release.

Thanks for reporting this.

[2021-11-04 15:12] ManiacDC commented on #420
Thanks!

[2022-01-20 17:34] cloudbuck3t opened #423 "Add Clojure Support"
Hi!  Would be amazing to have
`.clj` Clojure
`.cljs` ClojureScript
`.cljc` Clojure (common? crossover?) that can have both Clojure and ClojureScript

Please 👯‍♀️

[2022-01-25 19:39] reyronald commented on #423
Hi @cloudbuck3t ,

Check out the list of merged pull request, there are plenty of examples on how to add language support.

[2022-03-02 15:24] spsaucier commented on #411
This is happening for me as well. It makes this feature unusable for me. It seems like it wouldn't hurt to enable this functionality even when all checks haven't passed -- it's not an 'expensive' operation to run.

[2022-03-21 21:31] ThomasMcDonald opened #427 "Navigating back through tasks duplicates count preview"
After clicking through comments and going back using the back button it duplicates the file code count
![image](https://user-images.githubusercontent.com/11895741/159367101-0432a73d-ab52-4675-ae41-34cd8553e2a6.png)

### Steps to Reproduce.
1.  Create a task
2. on the right hand menu navigate to task
3. click back button
4. ???
5. profits

[2022-03-22 17:49] dereknheiley commented on #420
any ETA on fixing the original "Preserve word diffs when highlighting lines" changes?

[2022-03-22 17:53] dereknheiley commented on #407
@pastelsky looks like the changes had to be disabled by a patch update, any ETA to re-enable? looks like it might have been an edge case or two that needed to be handled?

[2022-04-29 08:25] raul1991 opened #429 "The plugin isn't working for me"
I have enabled the theme and set it to `dark` and I've also set the merge template to this gist
https://gist.githubusercontent.com/raul1991/e6ce4e308bab4bf75596d4317084989a/raw/48b146f91bf515ea635821ab2458b9d1b0045128/MERGE_COMMIT_TEMPLATE.md

But I do see the following error on the console.
`Uncaught (in promise) failed due to [object Object]`

It points me to a file that has Sindre Sorhus which

[2022-04-29 08:33] raul1991 commented on #429
I forgot to mention that the theme isn't working either.

[2022-06-20 13:59] divinity76 opened #430 "(feature request) ignore/strikeout PR's from the pull-requests page?"
would be nice if i could ignore/hide/strikeout selected PR's.

at my job, on the https://bitbucket.org/{org-name}/{project-name}/pull-requests/ page, there are lots of pull requests that are irrelevant to me, relating to code I am not qualified to/interested in reviewing, i wish i could hide them, or strikethrough-text them.

edit: made a duplicate feature request in the (upstream?) Bitbucket proj

[2022-06-22 10:56] divinity76 opened #432 "in Chrome Extensions store, feature "Pullrequest Ignore" should be renamed "Diff Ignore""
![image](https://user-images.githubusercontent.com/1874996/175012617-e05e2ba5-4ac6-4019-b567-aaf12bcf7d01.png)

[2022-06-25 23:31] divinity76 commented on #430
GreaseMonkey implementation: https://gist.github.com/divinity76/88c3ca5f7d58b2eb62c3f8b6bcdb5091

[2022-07-09 11:31] Zerotask opened #435 "Feature Request: add syntax highlighting for the Dart language"
add syntax highlighting for the Dart language

[2022-07-11 02:03] tw0517tw opened #436 "Firefox Add-on page removed"
visit https://addons.mozilla.org/en-US/firefox/addon/refined-bitbucket-/ and found page 404.
is this add-on pulled from store?

[2022-07-11 13:12] reyronald commented on #436
Yes, it was pulled, I'll look into it this week

[2022-07-20 08:53] mnn commented on #407
Unfortunately the problem is still present. These are fresh screenshots:

<img width="474" alt="2022-07-20_10-36" src="https://user-images.githubusercontent.com/1975567/179938819-5a937762-ae1b-4126-accf-4219207b4404.png">
<img width="467" alt="2022-07-20_10-37" src="https://user-images.githubusercontent.com/1975567/179938831-7c748cb5-a0aa-4d53-b22d-2a11538672b5.png">

Extension version: 3.26.1 (cu

[2022-07-26 03:11] marionebl opened #437 "Feature request: Rerun pipeline (steps) from build status"
<img width="470" alt="Screen_Shot_2022-07-26_at_1_06_01_pm" src="https://user-images.githubusercontent.com/4248851/180914945-c111b6f6-92a5-421d-b31e-eb10399373e1.png">

Button to rerun a step or the full pipeline would go where the red rectangles are in the screenshot above. Clicking it would perform the indicated action.

Are you interested to include this feature in refined-bucket? If so I'd con

[2022-08-04 07:14] DBX12 commented on #407
Can confirm what @mnn says for Extension version 3.26.1 on `Firefox 91.12.0esr (64-bit)` on debian.

[2022-08-30 23:28] ConnorSinnott commented on #436
Hey @reyronald! Any update on the Firefox plugin?

[2022-09-30 20:51] ConnorSinnott commented on #436
Hey @reyronald is this project still active? The plugin has been absent from the Mozilla marketplace for 2 months now.

[2022-10-07 21:28] dereknheiley commented on #297
a quick way to toggle this back off would be really handy to work around #407 aswell

[2022-10-11 09:00] jn-chrn commented on #436
I also would like to know, it has been 3 months now.

[2022-10-11 15:02] BenWildeman commented on #435
looks like this was accidentally removed in #137

[2022-11-09 18:51] ConnorSinnott commented on #436
The silence here is a bit concerning. Is the project dead? This issue is critical since it prevents Firefox usage without hacking it in through developer tools. @reyronald are you the one to speak with about setting up this plugin for Firefox, or perhaps could someone else take those reigns? Bitbucket without your extension is just... awful.

[2022-11-17 14:26] nbrideau commented on #436
Hey, I got tired of waiting and packed 3.26.1 up for release and had Mozilla sign it. https://longreachindustries.ca/refined-bitbucket-3.26.1.xpi

[2022-11-29 15:39] medallyon opened #443 "Feature Request: Hide files whose diffs are excluded"
For my Bitbucket repository, I have added the `**/*.pbt` file pattern for meta files that don't contribute to the pull request in a meaningful way, and to hide these entries to prevent unnecessary scrolling. However, Bitbucket has decided to keep the entries as part of the PR, but with a bulgy message instead:

![image](https://user-images.githubusercontent.com/17483199/204572898-e4928264-fabe-421