[2016-04-12 05:13] andremw opened #1 "Enable HTML <script> syntax highlight"
The inline <script> tags are not being highlighted as expected.

It looks like that it can be accomplished using Prism's [Show Language Plugin](http://prismjs.com/plugins/show-language/), but I tried that and the style got messed up again.

So I think it's more important to fix the CSS problem (to be able to remove the styles added in the source-handler.js and use the .css files) and then try to s

[2016-04-12 12:40] andremw-cit opened #2 "Highlight modal and collapsed code"
All the code that is not loaded by the time the page is rendered is not highlighted.
Two tracked scenarios so far:
- Collapsed code. When clicking "Show more lines" the code doesn't get highlighted.
  ![selection_066](https://cloud.githubusercontent.com/assets/12530242/14460137/336d89c4-0092-11e6-8f25-827ab6e23633.png)
- Old versions of code (modal screen).
  ![selection_067](https://cloud.githubu

[2016-04-12 12:41] andremw opened #3 "Highlight modal code and collapsed code"
All the code that is not loaded by the time the page is rendered is not highlighted.
Two tracked scenarios so far:
- Collapsed code. When clicking "Show more lines" the code doesn't get highlighted.
  ![selection_066](https://cloud.githubusercontent.com/assets/12530242/14460137/336d89c4-0092-11e6-8f25-827ab6e23633.png)
- Old versions of code (modal screen).
  ![selection_067](https://cloud.githubu

[2016-04-12 12:41] #2 closed, assigned to nobody

[2016-04-12 17:52] hk0i opened #6 "Highlighting disappears when switching tabs"
The syntax highlighting seems to work fine on initial page load, but when switching to the **Commits** or **Activity** tabs the highlighting disappears.

![screen shot 2016-04-12 at 10 49 48 am](https://cloud.githubusercontent.com/assets/755669/14470049/56766da0-009c-11e6-8888-aa1b08977ec4.png)

This might be somehow related to the [Highlight modal code and collapsed code](https://github.com/andre

[2016-04-12 17:55] andremw commented on #6
Yep. I'm pretty sure it's related to #3 . The thing is that for each of these events (tab change, show more code etc.) we need to call prism.highlightAll().

Thank you very much!

[2016-04-13 13:49] andremw opened #8 "Automatically "highlight" ocurrences of the selected text"
Just like in everyday IDEs and text editors, we should be able to see all the occurrences of a selected text.

![selection_070](https://cloud.githubusercontent.com/assets/878746/14495183/c703c400-0164-11e6-9a49-86c206c80d20.png)

There must be some good lib already implementing this feature.
If not, it can be implemented by checking the document.getSelection().toString().

This fiddle shows how to

[2016-04-13 15:37] dmrickey opened #9 "No screenshots on the chrome store page"
No screenshots on the chrome store page

[2016-04-14 13:03] andremw commented on #9
Fixed!

[2016-04-14 13:03] #9 closed, assigned to nobody

[2016-04-14 13:20] andremw commented on #3
Just use this selector to get the elements that are not highlighted:
`'.source:not([class*="language"])'`

and use `prism.highlightElement` on each element.

[2016-04-15 09:33] wpodgorski opened #13 "Add YAML highlighting for *.yml files."
Currently extension is able to highlight YAML files, but only if their file extension is `*.yaml`. Files extended by `*.yml`, which is correct YAML extension, are ignored. Please add `*.yml` file extension for YAML highlighting.

[2016-04-15 12:21] andremw opened #15 "New logo / icon"
It would be very nice if we had a logo and a beautiful extension icon. I'm definitely not good with drawing and coloring, so _help wanted_. lol
This is not supposed to be a syntax highlight project only, so the current icon is not the most appropriate.

[2016-04-15 23:56] rproenca commented on #8
Implemented and merged with dev branch.

[2016-04-15 23:56] #8 closed, assigned to nobody

[2016-04-16 20:03] #13 closed, assigned to nobody

[2016-04-18 13:39] andremw commented on #6
@hk0i , the problem is already solved. You can check by downloading the new version.

[2016-04-18 13:39] #6 closed, assigned to nobody

[2016-04-19 12:20] andremw opened #20 "Set page-specific constraints for scripts (matches)"
Some scripts will only be run at specific pages, so in order to avoid loading all content for all pages, we load only the content that will be useful.

[2016-04-19 12:40] rproenca commented on #20
And this would fix another issue that we have today: code like the one below runs forever on pages in which 'container-id' does not exist.

[code]

[2016-04-20 12:15] rproenca opened #21 "'Merge' button not getting enabled after minimum approval is reached"
Workaround: refresh the page and the button gets enabled

[2016-08-11 20:42] andremw opened #24 "Enable syntax highlight for side-by-side diff"

[2016-08-12 06:58] sunnz opened #25 "Support PHP syntax with extensions other than .php"
When looking at the diff of a branch, I can see PHP files with .php extension gets syntax highlighting but not when the extension is .php, e.g. .inc:

Screenshot (first file has .php extension and the second file had .inc):

![Screenshot: first file has .php extension and the second file had .inc](https://www.evernote.com/l/Acfxh84zyu9PjJNNih3XGUR2VlUmZGX-hV4B/image.png)

So I had a quick look at

[2016-08-12 16:38] andremw commented on #3
Collapsed code highlighting done here https://github.com/andremw/refined-bitbucket/commit/f55dd2868ca06e334667f7f0da8549486b8c1f74

[2016-08-12 23:53] andremw commented on #25
Hi, man. Thanks for your contribution!

I cannot say that I'm too familiar with PHP, but for me it looks like it might be related to this other issue https://github.com/refined-bitbucket/refined-bitbucket/issues/1.

If I'm correct, this would probably not be something too hard to fix.
What do you think? I'll take a look at Prism's doc to see if I find something.

[2016-08-13 16:15] andremw commented on #21
Fixed here https://github.com/andremw/refined-bitbucket/commit/5302418673a8e1489eb69df469581c5ddbbcb4c9

[2016-08-13 18:54] andremw commented on #21
Changes were made to dev branch.

[2016-08-13 18:54] #21 closed, assigned to nobody

[2016-08-19 13:47] Akaryatrh opened #27 "Invalid Manifest makes download of extension impossible"
As posted here : https://chrome.google.com/webstore/detail/refined-bitbucket/afppminkfnfngihdocacbgeajbbdklkf/support I wasn't able to download and install your extension either on Chrome 52 or even Canary. The detailed error says "Invalid Manifest".

[2016-08-19 14:04] andremw commented on #27
:O Thank you very much and sorry for this inconvenience! I'll check what happened and inform you as soon as I fix it.

[2016-08-19 14:18] andremw commented on #27
This was due to a change that I made and passed unnoticed by the web store publishing system. I already reverted it and it will be available within 1 hour. The version will be 2.1.10.

Thanks again!

[2016-08-19 14:18] #27 closed, assigned to nobody

[2016-08-19 14:48] andremw commented on #27
It's already available.

[2016-08-28 21:08] apitzele commented on #24
I was looking at implementing the side by side diff, but I'm not following how the extension.js should get bundled.  Are you using a minifier?   I couldn't tell since its not in source control.  I've never written a chrome extension so I apologize in advance if this is common knowledge.

[2016-08-29 11:54] andremw commented on #24
Hey, @apitzele. Thanks for you interest in contributing.
My bad here. I haven't created a "contribute" section in the documentation yet. I totally forgot it.
But in order to create the extension.js I'm using browserify, using the custom command _npm run build_. It's defined in the package.json, if you want to take a look.

Anyway, I'm gonna improve the README to include this information. But if yo

[2016-08-29 12:36] apitzele commented on #24
That's great Andre, I'll check it out tonight.  Btw, thanks for creating this extension.  I'm still surprised BB doesn't have these features baked in.

[2016-08-29 17:17] hk0i commented on #24
I'm not sure this is the right spot but since @apitzele brought up about how to make the chrome extension I thought I'd chime in. I have some very basic jQuery + [Mousetrap.js](https://craig.is/killing/mice) code I wrote that works on bitbucket for changing the tabs in a PR with the 1, 2, 3 keys on the keyboard (this is how the private bitbucket hosting works) I was going to add an enhancement and

[2016-08-29 19:03] andremw commented on #24
@hk0i , it looks interesting! I think you can go ahead and try to add this feature. It will be much appreciated.
I would just ask you to create another issue if you want to discuss it further (just so that we can have a reserved place to do it).

[2016-09-05 03:18] apitzele commented on #24
@andremw , it looks like I don't have permissions to publish a branch to this repo.  Can you authorize me so I can create a PR?

[2016-09-05 06:32] hk0i opened #29 "Support keyboard binds for Pull Requests."
This is that ticket I said I was thinking about filing.
We should support key binds (or key mappings) for certain features.

Here's a short list of what I've come up with:
1. Switching between PR tabs using <kbd>1</kbd>, <kbd>2</kbd>, <kbd>3</kbd>
2. Skipping to next/previous comments in the list using <kbd>N</kbd> and <kbd>P</kbd>

I think the paid version of bitbucket is doing all of this alread

[2016-09-05 19:19] andremw commented on #24
@apitzele , you can fork the repository, work on the features in your repo, and then create a pull request to my repo. After you commit some things in your repo GitHub will display a notification asking if you want to create a PR.

[2016-09-05 19:36] andremw commented on #29
Your gist looks really nice, @hk0i! One question: how does it behave when I'm writing a comment and type one of these characters (1, 2, 3, N or P) in the comment?

Regarding the integration with the codebase, I think you can create another folder inside /src and work there.

You'll need to change manifest.json to include the new files. I also think it would be nice if you could keep jQuery out to

[2016-09-05 20:06] hk0i commented on #29
Mousetrap takes care of the keybinds for that scenario, if you're typing in a text field the default is to allow text fields to do their thing. If you for some reason wanted it to ignore text fields, there's an option for that, too.

About jQuery, I think you're right. I started with it for some reason, but kind of towards the end I stopped using it as much. As long as chrome supports the JS it sh

[2016-09-05 20:09] hk0i commented on #29
Oh one more thing. The `self.comments` variable is lazily initialized, this was sort of a work around to wait for the rest of the diff content to load asynchronously but it's still a little error prone.

Since you did the syntax highlighting part maybe you know a better way to wait for the diff content to load?

[2016-09-05 20:33] andremw commented on #29
You can take a look at this little helper I wrote: https://github.com/andremw/refined-bitbucket/blob/dev/src/wait-for-render.js

You can use it like this: `waitForRender(diffContentSelector).then(...)`

[2016-09-06 12:31] andremw commented on #29
@hk0i actually go ahead and use jQuery if you want to. I'm already using it because of the highlight plugin.. :)

[2016-09-15 18:36] hk0i commented on #29
I saw this message, I acknowledged it, but I forgot to reply. I'm going to fork today and play with it for a little bit. Morning coding exercise. I think there's a ticket where someone mentioned they didn't know how to build the plugin. I'm going to dig for that post, unless you have a guide somewhere that says how to build it.

If you don't have a guide somewhere already and I have time, I'll add

[2016-09-16 00:34] andremw commented on #29
@hk0i, I updated the README and added a "Contributing" section, where I explain how I'm building the extension.js file and how to load the dev version of the extension in your browser. Let me know if you think it needs more improvement.

[2016-09-16 01:06] apitzele commented on #29
@hk0i , one thing to watch out for if you happen to be using Windows is the Browserify commands rely on Unix based wildcards so they choke on Windows (including inside a Cygwin shell).  I started to mess with a library (Glob) that @andremw located which is meant to abstract the wild cards but I didn't make much headway.  If you are coding in Windows, you'll need replace the wild card based express

[2016-09-16 01:55] hk0i commented on #29
Thanks for the heads up. I got a little sidetracked this morning so I ended up getting a late start on this. I'm developing on OS X so everything went smoothly so far; I think I'm close to having something _that works_, you guys can review after and let me know what to fix up on this to keep the code consistent.

[2016-09-16 04:03] hk0i commented on #29
I'm taking some time to clean this up, so I'll have a more polished version maybe sometime over the next few days and I'll send a PR.

[2016-09-18 17:37] andremw commented on #29
PR #31 merged. Thanks, hkoi!

[2016-09-18 17:37] #29 closed, assigned to nobody

[2016-11-01 16:45] andremw opened #32 "Create a tooltip for the disabled merge button in pull request window"
By default the minimum number of pull request approvals is 2, and until then the merge button gets disabled. This can be taken as a bug in Bitbucket's UI, so the extension should show a tooltip explaining that the extension disabled it when the user hovers/clicks the button.

[2016-11-01 18:31] hk0i commented on #32
Instead of a tool tip maybe change the caption to say something like "Waiting for Approvals"
I'm not sure if you can find the right words small enough to fit in though. Maybe even just "Merge (@#)" where the # in parens is the number of approvals needed.

"Merge (@2)"
or
"Merge (2 Approvals Needed)"
if the size fits well.

[2016-11-07 12:22] andremw commented on #24
Done in https://github.com/andremw/refined-bitbucket/pull/30

[2016-11-07 12:22] #24 closed, assigned to nobody

[2016-11-17 07:34] madskonradsen opened #33 "Bitbucket compare doesn't work with refined bitbucket enabled"

[2016-11-17 11:59] andremw commented on #33
Hi @madskonradsen . Thanks for contributing!
I'm not sure what Bitbucket's compare feature is about. Maybe it's not a feature that I use.

Could you clarify, please?

[2016-11-17 12:00] andremw commented on #32
Sorry for the delay. I was in vacation and didn't take a time to look at it. I'll work on it as soon as possible.

[2016-11-17 15:59] madskonradsen commented on #33
It's the feature of comparing two branches on bitbucket. Take this page for example: https://bitbucket.org/chromiumembedded/cef/branches/compare
drop-down number 2 doesn't work when Refined Bitbucket is enabled.

[2017-02-23 12:47] mrmartineau opened #35 "Improve fonts"
@andremw I think improving the fonts on Bitbucket would also make a great addition to this extension.

Adding a CSS file that contains the below code would significantly improve the interface.

[code]

Let me know what you think and I can submit a PR for it.

[2017-03-03 23:10] andremw commented on #35
Hi, @mrmartineau! Thanks for the suggestion. I tried it and I think it gets really nice. Feel free to go ahead and submit a PR!

[2017-03-23 15:22] przemkow commented on #33
+1

[2017-03-29 12:08] kopach opened #38 "Automatic "highlighting" of the selected text - deselects it"
I like the feature of automatic "highlighting" of text after selecting it, but most of the times I just want to select the text to copy it. But this feature deselects the text for me, so I have to manually select work by dragging and this is really disappointing.

As possible solution I see:

- do not deselect the text after double click on it (so, "highlighting"  will work + word becomes selected

[2017-05-09 09:45] tibuntu opened #39 "Add option to enable syntax highlighting on hosted bitbucket servers"
Hey guys! Awesome work here!
I would really like to have an option to use another URL than 'bitbucket.org'.

Currently the only solution to get it partially working (Seems to work only for key mappings) on self hosted Bitbucket servers is to recompile the plugin after changing line 21 and 34 in extension/manifest.json.

[2017-07-16 00:27] reyronald opened #41 "No highlight on diffs loaded by user demand when Pull Request is too big"
When pull requests are too big, Bitbucket chooses to not load diffs beyond a certain number of files to keep the loading time of the page to a minimum. For those diffs, it then gives the user the option to load them on demand by clicking an anchor tag where the code should be.

In that scenario, the loaded diff is not syntax highlighted. Take a look:

![before](https://user-images.githubuserconten

[2017-07-19 14:10] andremw opened #43 "Fix performance issue for pull requests with lots of files"
When working with big pull requests the screen becomes unresponsive while the plugin is trying to highlight everything.

Some ideas:
- Use Prism's web worker feature to highlight asynchronously;
- Change the plugin to highlight only some pixels above and below the viewport. This one looks better to me.

[2017-07-24 14:14] #41 closed, assigned to nobody

[2017-09-01 20:42] davidmankin opened #45 "Feature Request: keyboard shortcuts for next/previous file in PR review"
I'd like "j" and "k" to scroll to the next/previous file in the PR review diff view.

[2017-09-07 17:59] andremw opened #46 "Need new maintainer(s)"
Guys, since I no longer use BitBucket, I want to transfer the maintenance to whoever wants to maintain it.

This person needs to have an account at the chrome web store so that I can transfer the extension.

[2017-09-07 23:19] reyronald commented on #46
I was just going to ask you that, since there has been some issues popping up and even if we can merge PRs, we can't update the extension at the store. I still use BitBucket everyday so I'm up for the task.

[2017-09-11 18:53] andremw commented on #46
Great, @reyronald. I'll need the e-mail of your account in the Chrome Web Store (if you don't have one, you'll need to create).

[2017-09-11 19:52] reyronald commented on #45
Hello @davidmankin !

If I understood correctly, BitBucket already has this featured in their PR view. Both 'j' and 'k' by default will go down and up respectively through iterable elements on the page (file list, comments, patches).

I already tried it myself with different browsers and the extension disabled, and it works. Isn't it what you had in mind?

[2017-09-14 18:56] reyronald commented on #38
Hey @kopach ,

I totally agree with you, this issue had been bugging me for a while too!

Although the second option would've been the easiest to implement from a technical perspective, I just completed a fix using the first solution instead since I think it's the most natural behavior that a user would expect. I included two gifs of the before and after in the PR, [so feel free to go check them o

[2017-09-14 19:05] reyronald commented on #33
Can anyone confirm if this is still happening? I tested with the link @madskonradsen provided and it seems to be working fine, or maybe I'm not testing the right thing? Let me know

[2017-09-16 00:50] andremw commented on #33
I think we can close it. I remember this bug, and it's not happening anymore. It seems that this new UI just "fixed" the bug for us..

[2017-09-16 01:03] reyronald commented on #33
Perfect! I'm closing it then

[2017-09-16 01:03] #33 closed, assigned to nobody

[2017-09-16 21:09] kopach commented on #38
hey @reyronald.

From functional perspective - it's exactly what I've expected. Looking forward for new release 🎉 . Thanks.

[2017-09-16 21:14] reyronald commented on #38
@kopach Glad to hear that! I'm gonna leave the PR open for a week or so just to give a chance to be reviewed. I'll ping you when the release is ready so you can give further feedback if necessary 8)

[2017-09-28 01:18] #46 closed, assigned to nobody

[2017-09-28 01:20] reyronald commented on #45
I'm gonna go ahead and close this issue for now because of what I state above. Feel free to comment if you come back and we can talk about it!

[2017-09-28 01:20] #45 closed, assigned to nobody

[2017-09-28 01:21] reyronald commented on #38
Hello @kopach ,

Version 2.6.1 is out with this change! Update your extension, try it out and let me know how it's working for you!

[2017-09-28 01:21] #38 closed, assigned to reyronald

[2017-09-28 06:29] kopach commented on #38
Hi @reyronald.
So far - works as expected. Thanks 🎉

[2017-09-28 06:39] kopach opened #51 "0 Approvals required to merge Pull request by default"
As a user I don't expect that this extension will disable merge button by default. At first, I thought this is some bitbucket bug or I lost some permissions. The same situation happened with my colleagues after I recommended this extension.

How about to set `0` as required amount of approvals by default. So, once user check settings and change this value on something else - it will not be surpris

[2017-09-28 06:41] kopach commented on #51
Looks like similar issue but different solution: https://github.com/refined-bitbucket/refined-bitbucket/issues/32

[2017-09-28 12:59] reyronald commented on #51
Yeah I agree, same thing happened to me the first time.

Actually I think now BitBucket already implemented this feature themselves.

![image](https://user-images.githubusercontent.com/7514993/30967772-43137346-a42b-11e7-9978-c6c0dfd543d1.png)

I'll test if the functionality is the same/as expected, and if it is, I might just remove it from the extension entirely.

[2017-09-28 14:07] kopach commented on #38
@reyronald, found an issue looks like related to this feature (cannot revert version to check if it wasn't introduced previously).

So, when I want to select a word written in line commenting text box by double clicking it - this plugin removes selection (means deselects word just after selecting)

[2017-09-28 23:22] reyronald commented on #38
@kopach You are absolutely right, I checked and it was introduced with this PR actually, my bad!

The reason being this functionality doesn't highlight occurrences of a word in anything inside a diff block that isn't a line of code, like comments and tasks.

I already have a fix for it which involves extending the highlighting functionality to that type of text as well, I believe the feature can b

[2017-10-02 15:33] asiderop commented on #39
Agreed, this should be a configurable option for the extension.

[2017-10-04 13:54] reyronald opened #52 "highlight-ocurrences: Can't select words by double-clicking them in a comment or task"
### Version 2.6.1

### Current behavior

The highlight-occurrences feature deselects any word inside a comment box or task that was selected through a double-click.

![before](https://user-images.githubusercontent.com/7514993/31179401-e7e6973c-a8e9-11e7-82f7-d5251ed12ca6.gif)

### Expected behavior

User should be able to select words by double-clicking them inside comment boxes and tasks in the P

[2017-10-05 10:52] asiderop commented on #39
Maybe I am wrong (I do not know a lot about Chrome extensions), but supporting self-hosting BitBucket servers would require permissions for accessing all tabs and all websites.

Then the extension, as loaded on every page request, would check if the URL matches its configured URL and programmatically load the scripts only when there is a match.

Is there a less intrusive way to accomplish this?

[2017-10-05 13:26] reyronald commented on #39
@asiderop That's exactly the approach I am experimenting with, and no, I don't think there's any less intrusive way to accomplish it sadly.

But that small logic check logic is pretty lightweight. I'm thinking it wouldn't be so consequential anyway and the payoff would be very appreciated, because we've been receiving requests for this feature since the start! The extension would have a lot more u

[2017-10-06 12:39] reyronald commented on #39
@asiderop @tibuntu [Just submitted a pull request for it](https://github.com/refined-bitbucket/refined-bitbucket/pull/54)! However I don't have access to an instance of Bitbucket server, so I couldn't test in an actual REAL scenario, it would be great if any of you could try it out in your case and report back if it works as expected, would definitely appreciate that!

[2017-10-06 12:59] reyronald commented on #51
I haven't had the time to test this yet, but just wanted to reach out to @andremw to see if you're ok with me removing the feature from the extension if it turns out that the Bitbucket first-party feature correctly replaces it, just in case, do you have anything to add ?

[2017-10-06 13:02] reyronald commented on #3
Well, seems like it's resolved! Closing this issue.

[2017-10-06 13:02] #3 closed, assigned to nobody

[2017-10-06 13:05] tibuntu commented on #39
@reyronald @asiderop i just gave it a try!

I've checked out your feature branch and re-compiled the extension. Directly after installing it chrome notifies about "There were warnings when trying to install this extension:
Unrecognized manifest key 'applications'."

I've configured the URL of our Bitbucket server (using HTTPS of course) but it doesn't work. Unfortunately i can't tell why. Is there

[2017-10-06 13:09] reyronald commented on #39
@tibuntu  You can ignore the Unrecognized manifest key 'applications' error, it has to do with some keys in the manifest file that are there so that the extension can also work on Firefox, so Chrome doesn't recognize it.

Can you tell me what form your URL has? And yeah, from the chrome://extensions page, click "background page" in Inspect views. Also, with the options view opened, right-click the

[2017-10-06 13:16] reyronald commented on #39
@tibuntu Just say your edit, and wow, that's so strange! If the hotkeys are working it means that the content scripts were successfully injected in your Bitbucket server domain... so everything else from the extension should also work!

Is by any chance the PR you are checking really big? If it is can you check a smaller one? Try refreshing too just in case, haha.

[2017-10-06 13:19] tibuntu commented on #39
@reyronald Thanks for clarification!

the URL is `https://git.ourcustomer.com`
Chrome version: 61.0.3163.100 (64-Bit)

And the only error that i can find in the developer tools is:

`Error in event handler for (unknown): TypeError: Cannot read property 'msg' of undefined
    at chrome-extension://fjccjnfkdkdmjohojoggodkigkjkkjhl/contentscript.js:41:11`

Just to be sure: We are mainly working with

[2017-10-06 13:56] reyronald commented on #39
@tibuntu Yes, the extension supports YAML.

I just commited something, fetch/pull the changes, enable/disable the extension, then reload it, try again and let me know!

EDIT: Readd the URL in the options box after reloading it by the way

[2017-10-06 14:36] andremw commented on #51
100% ok! :tada:

[2017-10-06 21:05] tibuntu commented on #39
Still doesn't work. Now i got these error messages:

[code]

[2017-10-08 05:17] reyronald commented on #39
@tibuntu Those errors are actually coming from the extension and they show up in any page that's not a pull request or commit (I know, I have to take care of that), so the feature itself of loading the content scripts in the configured URL in the options is working wonderfully! That was also evidenced by the fact that you got the hotkeys working too.

So now that we got that out of the way, the fa

[2017-10-16 01:34] #52 closed, assigned to reyronald

[2017-10-16 01:48] reyronald opened #55 "highlight-ocurrences: Can't select words by double-clicking them when CREATING comment/task"
### Version 2.6.2

Same bug #38 , #52 , but now inside the textarea when creating comments or tasks

**Current behavior:** Double-clicked word inside the textarea of comment or task creation is not selected (actually is selected but inmediately loses it)

**Expected behavior:** Double-clicked word is selected

**Minimal steps to reproduce:**

1. Create a new comment on some code.
2. Add some text

[2017-10-16 02:20] reyronald commented on #55
Pull request #56 merged and available in version 2.6.3, already out.

@kopach @GuilloOme

[2017-10-16 02:20] #55 closed, assigned to nobody

[2017-10-16 06:34] kopach commented on #55
hi @reyronald. It works much better now, thanks 🎉
anyway, some minor improvements still possible 😉

![select](https://user-images.githubusercontent.com/8749624/31598204-a37086c8-b24c-11e7-93d7-66392784a9f0.gif)

[2017-10-16 17:35] reyronald opened #57 "highlight-ocurrences: Selection changes when dblclicked word is repeated in the same node"
### Version 2.6.3

**Current behavior:** When double-clicking a word that exists multiple times in the same HTML node, the selection always jumps to the first occurrence of the word in that element.

![select](https://user-images.githubusercontent.com/8749624/31598204-a37086c8-b24c-11e7-93d7-66392784a9f0.gif)

**Expected behavior:** Double-clicked word is selected.

[2017-10-16 18:48] reyronald commented on #57
Closed and published in version 2.6.4.

[2017-10-16 18:48] #57 closed, assigned to reyronald

[2017-10-17 09:54] velosipedist opened #59 "Double-clicking any spaces-indentation makes all indentations highlighted"
But i don't expect to see any highlights at all. Needs to check for `/^s+$/` in selection

[2017-10-22 06:33] reyronald commented on #39
Ok, so I finally got around to install the trial of Bitbucket Server on my own machine And to my surprise, Bitbucket Server is an entirely different product. I had just assumed that it was the in-house version of Bitbucket Cloud, but that's not the case. After investigating further, I stumbled upon the following info:

[Source](https://confluence.atlassian.com/bitbucketserver/bitbucket-rebrand-faq

[2017-10-22 06:33] #39 closed, assigned to reyronald

[2017-10-22 07:01] #51 closed, assigned to reyronald

[2017-10-22 07:01] #32 closed, assigned to reyronald

[2017-10-22 07:01] #59 closed, assigned to reyronald

[2017-10-23 16:38] kadaan opened #63 "Embedded <del> and <ins> tags break syntax highlighting"
For lines that bitbucket includes `<del>` and `<ins>` tags, syntax highlighting is broken.

[2017-10-24 12:36] ayamnikov opened #64 "Double click removes the highlighted word"
Sometimes when I double click on a word it disappears.

Software versions:
Chrome: Version 51.0.2704.106 unknown (64-bit)
Refined Bitbucket 2.6.4

[2017-10-24 12:52] ayamnikov commented on #64
Before double click:

![before-dbl-click](https://user-images.githubusercontent.com/2318230/31943989-3b2f2294-b8d3-11e7-92ea-c7e7c5743c4e.png)

After double click on word "self":

![after-dbl-click](https://user-images.githubusercontent.com/2318230/31944016-51e3c38c-b8d3-11e7-8586-9d8ecb7f50e1.png)

[2017-10-24 13:23] ayamnikov commented on #64
I understand how the bug works. It wipes the word out only if it was already highlighted by previous double click.

[2017-10-24 13:25] reyronald commented on #64
Thank you for your contribution! I'll take a look at it this week!

[2017-10-25 23:11] reyronald opened #66 "collapse-diff: When diff is nothing but a file rename with no contents changed, collapse button doesn't work"
![collapse-diff-rename](https://user-images.githubusercontent.com/7514993/32027666-47e42daa-b9b8-11e7-806e-907aa7b80153.gif)

[2017-10-27 09:34] tibuntu commented on #39
Sorry for the late reply. Thank you for digging deeper! Very unfortunate ;)

[2017-10-27 13:42] #66 closed, assigned to nobody

[2017-10-30 23:05] #64 closed, assigned to nobody

[2017-11-06 14:49] AndyDeany opened #74 "Inline code in comments look different when Syntax Highlighting is enabled on Google Chrome"
When _Syntax Hightlighing_ is enabled, inline code in comments, `like this`, do not have a background as they do ordinarily.

Syntax highlighting enabled:
![](https://image.prntscr.com/image/GKFR_IMJRc6g-OjJzBYjRA.png)

Syntax highlighting disabled:
![](https://image.prntscr.com/image/ZJVV16yRSReUVgKiSPpA8Q.png)

Some info about my Chrome:

Google Chrome | 61.0.3163.100 (Official Build) (64-bit) (

[2017-11-08 17:52] reyronald opened #75 "Code is highlighted with a yellow background when viewing file from source"
This is due to the styles inserted by the occurrences highlighting feature, which adds a `.highlight` class that is actually used by Bitbucket itself in this page.

Solution should be rename the CSS class used by our feature to a name with a low probability of collision, something like `__refined_bitbucket_highlight`.

[2017-11-10 20:17] reyronald opened #76 "Re-implementation of syntax-highlighting so that diffs loaded dynamically are also highlighted"
The current implementation of the syntax-highlighting feature inspects the DOM when the PR is loaded, and applies the highlighting logic to the diffs that it finds at that particular moment. This means that in certain scenarios were the diffs are not initially loaded, they're not syntax-highlighted. So far I've identified this occurring:

1. When a diff fails to load because the PR is too big, and

[2017-11-13 14:32] reyronald opened #78 "Feature request: Open pull request links with "Ignore whitespace" option enabled by default"
As a user of the extension, I want that every time I click in a pull request in the pull request list page "https://bitbucket.org/{team}/{repo}/pull-requests/", the PR opens with "Ignore white space" option enabled by default, so that I don't have to manually enable it each time I am reviewing code.

I should be able to opt-in / opt-out of the feature in the Options page, in case I'd like to disab

[2017-11-17 11:52] cbecker opened #79 "Add julia syntax support"
Thanks for this wonderful add on. I'm working with julia files (*.jl), would it be possible to support it?
I saw that prism supports julia highlighting. Is it enough to add the respective line in the `language-ext.js` file?

I am on a slow internet connection for a few weeks which is why I cannot install npm and its tools to have a try. thanks!

[2017-11-17 13:00] reyronald commented on #79
Hello @cbecker , thank you for the praise! And yes, that alone should be enough! I'll add it for you since you are having Internet issues, I'll let you know.

[2017-11-17 13:07] cbecker commented on #79
@reyronald sounds great, thanks! I'll be happy to test-drive it on my repos

[2017-11-17 13:13] reyronald commented on #43
Bitbucket has a predefined limit to how many diffs it will load into a single Pull Request initially. That way they keep the overall load time somewhat constant no matter how big the PR is, so in theory the page shouldn't really slow down very much even if there are many files changed.

Before merging #77 , the previous implementation of syntax-highlighting had some flaws that would make the perfo

[2017-11-17 13:13] #43 closed, assigned to nobody

[2017-11-17 13:13] #76 closed, assigned to nobody

[2017-11-18 20:09] reyronald opened #82 "[FR] Occurrences highlighting available in `src` view"
As a user of the extension I would like to be able to use the occurences-highlighting feature not only in the Pull request view, but also in the Source code view.

[2017-11-20 15:21] cbecker commented on #79
@reyronald what's the best way to try this out?

[2017-11-20 15:24] #79 closed, assigned to nobody

[2017-11-20 15:29] #78 closed, assigned to nobody

[2017-11-20 15:42] #75 closed, assigned to nobody

[2017-11-20 15:42] reyronald commented on #79
@cbecker I just published version 3.1.0, which has Julia language support added. Update your extension and let me know!

[2017-11-20 16:38] cbecker commented on #79
Thanks, working perfect! it makes a big difference when reviewing code with syntax highlighting :)

[2017-11-20 17:13] reyronald commented on #79
@cbecker Definitely! Glad to know you finding it useful :D

Make sure to try out the rest of the features! =)

[2017-11-23 10:56] kopach opened #84 "Hide option conflicts with bitbucket diff tree plugin"
I'm using [bitbucket diff tree](https://github.com/minhdam/BitbucketDiffTree)  plugin to show file tree.
And when I use it with `refined-bitbucket` - there are conflicts.

![screenshot at 11-54-50](https://user-images.githubusercontent.com/8749624/33169485-280d1f7a-d045-11e7-9ecf-5cc94b3c9350.png)

[2017-11-23 13:22] reyronald commented on #84
Hello @kopach , thanks for the report! From looking at the image I have some idea of where the issue might be, I'll roll out a fix for it some time next week.

I'll also try to add an option to disable the collapse button feature too before that as a temporary "solution" in the mean time.

[2017-11-23 15:43] kopach commented on #84
@reyronald. Basically, I really like this option. And this button multiplication is not that big issue for me. Looks ugly, but not the issue. So, personally, I'll not use your temporary solution 😛

[2017-11-23 16:02] reyronald commented on #84
Hehe, I see. I won't hurry with the temporary solution then. I still believe though that every feature should be optional though, just in case any user bumps into a similar case in the future.

[2017-12-02 23:46] reyronald opened #86 "Improvement request: Every feature should be have an option to enabled it / disable it"
As a user of the extension, I want to be able to enable / disable all of the features individually through the Options page, so that I can have full control of how my own user experience is affected.

[2017-12-03 00:07] #84 closed, assigned to nobody

[2017-12-03 00:09] #86 closed, assigned to nobody

[2017-12-03 15:20] kopach opened #88 "collapse diff button on bottom of the file"
Would be great to duplicate collapse diff button on the bottom of the file. Most of the time I'm reviewing files from up to bottom, and if I finalized review for the particular file I want to collapse it. Currently, to do so - I need to scroll up to the beginning of the file. Would be great to have this collapse button on the bottom of the file - to do not scroll back manually to the file beginnin

[2017-12-04 02:25] awendland opened #89 "Publish to addons.mozilla.org"
Now that #40 has merged and the extension lints as compatible with Firefox addons (as reported by https://www.extensiontest.com/test/e2063b50-d897-11e7-ab7b-6bf57e79ff4d), this extension would be great for everyone who leverages the Firefox Add-ons store.

It looks like you need to create a Firefox account and then can publish it. How can us Firefox users help you out with that process and its mai

[2017-12-04 03:44] reyronald commented on #88
That's a great idea! I'm currently working on an undocumented feature right now that my team and myself have been neeeding, as soon as I'm done with that I'll tackle this one.

Thanks for the suggestion, keep 'em coming!

[2017-12-04 03:56] reyronald commented on #89
Hey @awendland , the reason why this extension is not yet published in the Firefox store is because... well, no one had asked! Hehe.

If this extension as it is is really compatible with Firefox like you and others have pointed out it would be amazing! The transition could be done in minutes I suppose, let's hope that's the case. I'll finish two more issues that I'm working on right now then I'll

[2017-12-05 04:29] awendland commented on #89
@reyronald Thanks for jumping on the case! Yes, you should definitely check out Firefox Quantum. It's finally a browser that really contends with Chrome; maybe Chrome's monopoly trend will start to healthily recede a little.

I just loaded the extension using the temporary extensions process at https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Your_first_WebExtension#Installing. Things see

[2017-12-05 13:12] reyronald commented on #89
That's fine! It's an improvement over something from the Google Extension API that apparently Mozilla hasn't implemented themselves in Firefox, but they are falling back to the traditional behavior, so should be fine.

I'll test all the features myself when I get around to it, in the meantime you can enjoy the ones that you use!

[2017-12-07 01:35] reyronald opened #90 "Feature request: Default Merge Strategy"
I would like to be able to choose either "Merge commit" or "Squash" as the default merge strategy for pull requests.

[2017-12-08 00:09] #90 closed, assigned to reyronald

[2017-12-13 14:08] reyronald commented on #84
@kopach v3.2.0 has been released with this fix. Update your extension and let me know of any feedback / issues! :)

[2017-12-13 18:35] kopach commented on #84
@reyronald, with this new version the bug seems to be not reproducible anymore.  Thanks 👍

[2017-12-13 22:23] davidmankin opened #92 "[FR] Option to default to "Close source branch" on merge page"
Much like the default merge strategy, I'd like to be able to always default to have "close source branch" checked in the merge PR screen. (Possibly in the Create and Edit PR pages too.)

[2017-12-13 23:15] reyronald commented on #92
Thank you for your suggestion @davidmankin ! I would find that useful too, and it's certainly an easy to add feature. I'll include it in the next release.

[2017-12-21 08:00] l1bbcsg opened #93 "Syntax highlighting interferes with other styles"
This extension adds a cascade stylesheet with styles for syntax highlighter, however css rules in that stylesheet are too generic and interfere with elements outside of code areas that are supposed to be highlighted. One example is inline code produced by backticks (same as this: `code` - not sure how to properly escape it). Naturally it's supposed to look like this:

![screen shot 2017-12-21 at 1

[2017-12-21 14:34] reyronald commented on #93
Hello @l1bbcsg , thank you so much for your thorough investigation of the issue!

I'll try to include this fix in the next release!

[2017-12-29 15:39] burntcookie90 opened #96 "[FR] Collapse deleted files by default."
Deleted files take a _lot_ of space in the PR view and can usually be collapsed.

[2018-01-02 01:35] ikornienko opened #97 "[FR] Merge commit message template"
Bitbucket Cloud has the corresponding feature request: [Issue #14101](https://bitbucket.org/site/master/issues/14101). It seems that it won't be implemented any time soon.

With Bitbucket Cloud now supporting Squash merge strategy for PRs, the commit message becomes really important (vs having some generated commit message for merge commits). I believe for many teams it would make more sense for S

[2018-01-02 04:24] legendtang opened #98 "Userscript and Safari extension support?"
I assume that the only feature in this extension is the updater and it is possible to port to any other userscript forms. Do you have any plans on those support?

[2018-01-02 13:23] reyronald commented on #98
I'm not sure what you mean when you say the only feature in this extension is the updater, can you elaborate? There are plenty of features packed in this extension. I don't know either to which feature you refer to with "the updater".

Also not sure what you mean with support for Userscripts. If you want to run your own scripts on Bitbucket you can do so by using something like Tampermonkey, I can

[2018-01-02 13:24] reyronald commented on #96
Hi @burntcookie90 , thank you for your contribution! Sounds like something that can easily be done, I'll put it on the road-map.

[2018-01-02 13:27] reyronald commented on #97
Hi @ikornienko , thank you for your contribution! I'll look into it !

[2018-01-05 18:00] #88 closed, assigned to reyronald

[2018-01-05 18:16] reyronald commented on #74
Duplicate of #93

[2018-01-05 18:51] #74 closed, assigned to nobody

[2018-01-05 18:51] #93 closed, assigned to nobody

[2018-01-06 21:45] rm-rf-etc opened #102 "Installed extension but nothing happens"
At first I could not figure out how to make this extension work. I tried several things before deciding to logout of bitbucket and log back in. There's no mention, in the readme, of the need to do this. I think this needs to be added to the [_Installing_ section](https://github.com/refined-bitbucket/refined-bitbucket#installing). Currently it says only "refined-bitbucket is available on the Google

[2018-01-06 23:41] reyronald commented on #102
Hello!

Did it work when you logged out and then logged in?

Honestly I don't remember having this issue myself when I first installed it. I'm thinking that maybe it's a cache related problem with Chrome that doesn't happen to everyone all the time.

Regardless, I'll try to see if I can reproduce it and will definitely add the suggestion to the readme, like you said.

Thank you for bringing it up!

[2018-01-07 04:24] rm-rf-etc commented on #102
Hi Ronald, yes, that solved the issue. Thanks so much for your efforts.

[2018-01-07 11:43] reyronald commented on #102
No problem Rob! Hope you enjoy the extension. Let me know if you find any other issue :)

[2018-01-07 11:43] #102 closed, assigned to nobody

[2018-01-09 13:33] reyronald commented on #88
Available in the already published release v3.3.0

[2018-01-09 13:33] reyronald commented on #74
This should be solved in the already published release v3.3.0. Let me know!

[2018-01-09 13:33] reyronald commented on #93
This should be solved in the already published release v3.3.0. Let me know!

[2018-01-09 13:42] reyronald commented on #89
Hey @awendland , the Firefox Add-on is already officially published! Check it out here: addons.mozilla.org/en-US/firefox/addon/refined-bitbucket-/.

Let me know if you find any issues with it.

[2018-01-09 13:42] #89 closed, assigned to reyronald

[2018-01-10 20:12] AndyDeany commented on #74
Yes, I can confirm it's working now :) thanks

[2018-01-15 23:01] reyronald commented on #96
Completed via #101 !

Will be available in next release.

Closing.

[2018-01-15 23:01] #96 closed, assigned to reyronald

[2018-01-16 12:17] fawques commented on #97
Hi, while you look into this, could you also implement pull request templates? There is already a [chrome extension](https://github.com/tcrammond/chrome-pullrequest-templates), but not a firefox one.

The [corresponding bitbucket feature request](https://bitbucket.org/site/master/issues/11571/custom-pull-request-description-template) has > 200 votes but almost no response from the atlassian team.

[2018-01-16 13:23] reyronald commented on #97
Hi @vguzmanp , definitely !

[2018-01-16 13:49] reyronald commented on #97
@vguzmanp Can you open another issue for that please? So that we can track it separately.

[2018-01-16 16:26] fawques opened #105 "[FR] Pull request template"
Hi, could you implement pull request templates? The [corresponding bitbucket feature request](https://bitbucket.org/site/master/issues/11571/custom-pull-request-description-template) has > 200 votes but almost no response from the atlassian team.

I found a [chrome extension](https://github.com/tcrammond/chrome-pullrequest-templates) that does this, but not a firefox one.

This is related to  #97

[2018-01-16 17:26] reyronald commented on #98
I'm going to close this for lack of activity, but feel free to reopen it if you come back!

[2018-01-16 17:26] #98 closed, assigned to nobody

[2018-01-16 17:34] reyronald commented on #25
Maybe I am misunderstanding, but this extension chooses the appropriate syntax highlighting style based on the file extension, not the file contents. The reason it is not being highlighted at all is because the extension `.inc` is not included in the list of supported languages.

This could be fixed as easily as adding that new entry in that array, although it would mean that ALL .inc files would

[2018-01-16 17:41] reyronald commented on #1
I'm not sure I understand correctly.

I believe this happens because the extension is highlighting the contents of the script tag as HTML instead of JavaScript because the extension of the file is `.html`, not sure how the mentioned plugin could correct that.

If that's what this issue is about, then I'm afraid is not trivial since the highlighting occurs on a line-by-line basis, so Prism has no c

[2018-01-17 18:10] reyronald commented on #105
Hey @vguzmanp , take a look at the description of #106, is that how you would expect it to work ?

I coded it to mimic the GitHub functionality since some users might already be used to that.

[2018-01-18 08:15] fawques commented on #105
Hi @reyronald, thank you for doing it so quickly!
Yes, mimicking the github behavior is the best way to go.

It would also be super useful to be able to set an external URL to fetch the template, so that I can use the same template in different repositories, but with the current PR I'm already happy :)

[2018-01-19 21:00] #25 closed, assigned to nobody

[2018-01-19 21:00] #1 closed, assigned to nobody

[2018-01-20 00:59] reyronald opened #109 "chore(prettier): Add Prettier"

[2018-01-22 00:17] #105 closed, assigned to nobody

[2018-01-22 01:12] #92 closed, assigned to nobody

[2018-01-22 01:41] #20 closed, assigned to reyronald

[2018-01-22 02:05] reyronald opened #112 "[FR]: Code-reviewing features available to Commits"
I would like to have the code-reviewing features of the extension available in the commits view as well, not only in pull requests.

- Syntax highlighting
- Occurrence highlighting
- Collapsable diffs
- Diffs removal

[2018-01-22 14:55] reyronald commented on #109
Closed via #114

[2018-01-22 14:55] #109 closed, assigned to reyronald

[2018-01-23 16:16] reyronald opened #115 "[Bug]: PR features don't work in production (as of c06de4d)"
Introduced in c06de4d1e0efe769c8d13d63a0dc1aa2d4176fa5, when running the bundled version of the extension, none of the pull request features work.

If a `console.error` statement is added in the `.catch` of the code that execute those features, like this:

Before: https://github.com/refined-bitbucket/refined-bitbucket/blob/c06de4d1e0efe769c8d13d63a0dc1aa2d4176fa5/src/main.js#L98-L100

After:
[code

[2018-01-23 17:39] reyronald commented on #115
Closed via #116 .

Go read the pull request for details on this interesting case.

[2018-01-23 17:39] #115 closed, assigned to reyronald

[2018-01-23 18:01] reyronald commented on #112
Closed via #113

[2018-01-23 18:01] #112 closed, assigned to reyronald

[2018-01-23 20:47] reyronald commented on #105
Closed via #106, and already available in the [released v3.4.0](https://github.com/refined-bitbucket/refined-bitbucket/releases/tag/v3.4.0).

@vguzmanp Let me know how if it's working for you or if you have any feedback!

[2018-01-23 20:49] reyronald commented on #96
Already available in [version 3.4.0](https://github.com/refined-bitbucket/refined-bitbucket/releases/tag/v3.4.0) thanks to @arhughes.

@burntcookie90 let me know how it goes!

[2018-01-23 20:49] reyronald commented on #92
Closed via #110 and already available in [version 3.4.0](https://github.com/refined-bitbucket/refined-bitbucket/releases/tag/v3.4.0)

@davidmankin let me know how it goes!

[2018-01-23 20:50] burntcookie90 commented on #96
just updated, already fantastic, thanks @arhughes and @reyronald!

[2018-01-23 20:56] arhughes opened #117 "Manifest file is invalid"
Installing from the Chrome Web Store fails with a "Manifest file is invalid." error message.

[2018-01-23 21:04] reyronald commented on #117
Hmm, that's odd, I just reinstalled and don't see the error message, also @burntcookie90 reported here https://github.com/refined-bitbucket/refined-bitbucket/issues/96#issuecomment-359925975 that he could update properly as well.

Can you uninstall and reinstall, close and reopen Chrome or anything similar to check?

[2018-01-23 21:07] arhughes commented on #117
Just tried again without doing anything else and it worked fine.

[2018-01-23 21:07] #117 closed, assigned to nobody

[2018-01-23 22:33] reyronald commented on #117
We've had similar troubles with Chrome / the web store before (see #102), seems like Google has some polishing to do on it.

Glad to know it was false alarm!

[2018-01-24 09:53] Daanvm opened #119 "'Read and change data on GitHub' permission should not be required"
Hi, I've always been a happy user of this plugin, thanks for all your hard work!

However, I was a bit disappointed this morning when I saw the following two options:
![screen shot 2018-01-24 at 10 41 33](https://user-images.githubusercontent.com/1397121/35325311-a4ccae48-00f3-11e8-8af3-ab926293e382.png)

It's not only that I don't want to give a plugin access to my GitHub gists, it's also that it

[2018-01-24 13:54] reyronald commented on #119
I can completely relate to that feeling. Every time one of my apps asks me for a new permission, I frown!

First, let me provide some context on why the permission is there, for documentation purposes (I may redirect other users that ask about this here). For the pull request template feature (#106), I needed to let the user provide a URL to a place where the template file was hosted publicly, so

[2018-01-24 15:38] reyronald commented on #119
Closed via #120.

Already released and published in [v3.4.1](https://github.com/refined-bitbucket/refined-bitbucket/releases/tag/v3.4.1).

[2018-01-24 15:38] #119 closed, assigned to reyronald

[2018-01-24 15:41] Daanvm commented on #119
@reyronald Thanks for your awesome work and thorough explanation! 👍

[2018-01-24 16:40] lacrm opened #121 "Missing few template engine support"
Hey nice extension, i see that there is no support for the smarty template files (*.tpl) or the (*.twig) template with your extension. It would be nice to find it in an upcoming update, thanks.

[2018-01-24 18:28] reyronald commented on #121
Hello @lacrm !

I think the name of the classes for those languages should be `language-smarty` and `language-twig` respectively.

Do you have by any chance have a link to a public Bitbucket repository that has files in this format so that I can test it? Or are you willing test it yourself?

[2018-01-24 19:39] reyronald opened #122 "When PR diff has previous versions comments, collapse button is misplaced"
The location of the button to toggle the collapse/expand of the diff should be at the rightmost in the header, like this:

![image](https://user-images.githubusercontent.com/7514993/35353152-a4272a4e-011c-11e8-82a1-03bb7a160c70.png)

But when there are previous version comments, the button is misplaced like this:

![image](https://user-images.githubusercontent.com/7514993/35353165-ab6a5ba0-011c-11

[2018-01-25 13:53] reyronald commented on #121
Closed via #123

[2018-01-25 13:53] #121 closed, assigned to nobody

[2018-01-25 17:25] reyronald commented on #35
Closed via #126

[2018-01-25 17:25] #35 closed, assigned to nobody

[2018-02-01 14:17] reyronald opened #128 "[FR] Code Review features available in branch compare view"
I want to use all the code review features in the branch compare view, not just the pull request and commits view.

- Syntax highlighting
- Occurrence highlighting
- Collapsable diffs
- Diffs removal

[2018-02-01 16:29] atdrago opened #129 "[FR] TypeScriptReact syntax highlighting (tsx)"
Currently, only `.ts` extensions get syntax highlighting, whereas `.tsx` files get none. Support for `.tsx` files is built into `language-typescript`, so it seems like this would be an easy one to add here https://github.com/refined-bitbucket/refined-bitbucket/blob/dev/src/syntax-highlight/language-ext.js#L65

Is adding support for `.tsx` as simple as adding `'.tsx': 'language-typescript',` after

[2018-02-01 17:44] reyronald commented on #129
Definitely! Feel free to open the PR and I'll merge it right away!

Glad to hear that your team is enjoying the extension ! 😊 😊

[2018-02-01 17:51] reyronald commented on #129
Closed via #130

[2018-02-01 18:00] reyronald commented on #129
New [version 3.5.0](https://github.com/refined-bitbucket/refined-bitbucket/releases/tag/v3.5.0) is published with this fix.

Let me know if it works properly!

[2018-02-01 19:10] atdrago commented on #129
Yep, working as expected! The only "issue" is that it lights up keywords that appear within text nodes of a JSX element. Definitely not a big deal though.
![screen shot 2018-02-01 at 11 05 07 am](https://user-images.githubusercontent.com/144225/35697929-6ed4be54-0740-11e8-82b4-1243dabe994b.png)

[2018-02-01 19:13] reyronald commented on #129
Hmm, perhaps it would have been a better idea to use React JSX instead of TypeScript.

Could you copy / paste some of your code [here](http://prismjs.com/test.html), choose between those two and check which one works better?

[2018-02-01 19:20] reyronald commented on #129
Seems like `language-typescript` doesn't actually support JSX out of the box, look at this currently open PR https://github.com/PrismJS/prism/pull/1277 which is adding it to PrismJS.

I'll follow on it and see if the highlighting improves once that one is merged

[2018-02-01 19:59] adamchenwei opened #131 "it does not collapse anymore..."

[2018-02-01 20:41] atdrago commented on #129
Hmm... I think you're right... my apologies. React JSX doesn't solve the above issue, but does give some nicer coloring. Top is React JSX, bottom is TypeScript
![screen shot 2018-02-01 at 12 39 37 pm](https://user-images.githubusercontent.com/144225/35702141-20a15e2e-074d-11e8-96b3-8af9c7415e79.png)

[2018-02-01 20:46] reyronald commented on #129
Yeah, we definitely jumped the gun.

I'll wait a little to see if the above PR for the official TSX support is merged before releasing a patch, let's hope it's better than the alternatives we have now!

[2018-02-01 22:16] atdrago commented on #129
Agreed!

I definitely should've researched a bit more. I saw `language-typescript` and [went here](https://atom.io/packages/language-typescript), which is what I use in Atom. That lead me to [this file](https://github.com/Microsoft/TypeScript-TmLanguage/blob/master/TypeScriptReact.tmLanguage). So `language-typescript` is used for syntax highlighting in Atom, but it's clear to me now it has nothing

[2018-02-02 12:46] reyronald commented on #129
Hehe, don't sweat it, and yeah let's open it again.

Let's wait a few days to see if https://github.com/PrismJS/prism/pull/1277 gets merged so we can use that, in the mean time just tell your team to bare with it 😅

EDIT: TSX support for PrismJS was move to another PR https://github.com/PrismJS/prism/pull/1280

[2018-02-02 13:39] reyronald commented on #131
I can collapse fine, can you verify if the feature is enabled in the options?

[2018-02-02 16:03] reyronald opened #133 "[FR] Add counters to the Branches and Pull requests links in the sidebar"
I would like to have a counter of the number of open/active branches and pull requests in the sidebar navigation menu, so I can see it from anywhere inside the repository.

![image](https://user-images.githubusercontent.com/7514993/35759150-35316238-084e-11e8-9a04-0e407ac5c1d2.png)

[2018-02-02 23:02] reyronald opened #135 "[FR] Add source branch next to PR title in PR list view"
Currently, the pull request list shows the PR and the destination branch (among other information), but it doesn't display the source branch from which the PR was created.

![Current view of the pull request list](https://user-images.githubusercontent.com/7514993/35758618-577a4af6-084b-11e8-901c-63d3c7777a7c.png)

The overall experience would be enhanced if the source branch could be displayed as

[2018-02-02 23:43] reyronald commented on #133
Closed via #134

[2018-02-02 23:43] #133 closed, assigned to reyronald

[2018-02-05 13:14] reyronald commented on #129
Hey @atdrago , the PR was merged and React TSX is now available in http://prismjs.com/test.html.

Please check there to see if that syntax highlighting works better for your code base and let me know!

[2018-02-05 14:49] atdrago commented on #129
Hey @reyronald, this looks great! It's just slightly nicer than React JSX, which is to be expected, but I'm glad there's a proper solution. It's funny how all of this happened at the same time.

**Some screenshots**

Only real difference here is that the type of `string` is highlighted:
<img width="679" alt="screen shot 2018-02-05 at 6 34 43 am" src="https://user-images.githubusercontent.com/14422

[2018-02-05 15:16] reyronald commented on #129
Hehe yeah I thought the same thing, what a coincidence that both issues were opened at the same time! Extremely convenient 😆

Like you said, it is definitely better and I think TSX users will be satisfied, although I'm noticing that some improvements could be made, for instance the `ComponentAProps` type in the `ComponentA` declaration (first line) should be highlighted, just like `string`, right?

[2018-02-06 00:37] reyronald commented on #131
Reopen it when you can provide some more details.

[2018-02-06 00:37] #131 closed, assigned to nobody

[2018-02-06 05:01] atdrago commented on #129
I'll definitely be able to do this by this weekend, if not sooner! I'll keep you updated!

[2018-02-06 17:32] reyronald commented on #135
Closed via #136

[2018-02-06 17:32] #135 closed, assigned to reyronald

[2018-02-06 18:48] reyronald opened #138 "Ignore Whitespace parameter is not added to dynamically loaded pull request links"
The Ignore Whitespace feature works by adding the query string parameter `?w=1` to each pull request title link in the pull request list view.

However, it is doing so with only the PR links that were initially loaded with the page, any other PR link that was dynamically added is not being touched. This happens when any filtering or search is executed in the list.

[2018-02-06 19:20] reyronald commented on #138
Closed via #139

[2018-02-06 19:20] #138 closed, assigned to reyronald

[2018-02-06 20:47] reyronald commented on #122
Closed via #140

[2018-02-06 20:47] #122 closed, assigned to reyronald

[2018-02-06 20:49] reyronald opened #141 "[FR] Add creation date to each PR row in the pull request list/table view"
What the title says

[2018-02-10 16:48] atdrago commented on #129
Hey @reyronald. Sorry for the delay!

I was able to follow your instructions and load the extension locally. Here's what I found (I did some name changing inline because I'm paranoid):

Looks like the `<ComponentProps>` is getting highlighted now!  I don't think that was happening before. However, types specified after a colon still don't get highlighted (like `Option[]` or the second `ComponentPr

[2018-02-10 17:25] reyronald commented on #129
Hey @atdrago , thank you so much for taking the time to test it! I know it can be difficult to find time to invest on this volunteer-type of work! 🌟

To the extension's concern, what we want to know is if the new language definition that was introduced in the new version of Prism that I updated in that branch is loaded properly, instead of the old one we had. To verify this, we just need to know i

[2018-02-10 19:49] atdrago commented on #129
Apologies, man! I read this and thought you wanted me to tell you how the TS highlighting could be improved. 🤭

I went back and checked again. I loaded the extension from your branch in one window, then opened a different window, disabled the extension from your branch and re-enabled the one from the store, then cleared my cache and loaded up a PR in that window. Refreshed a few times just to be s

[2018-02-11 01:36] dpekkle opened #143 "Syntax Highlighting doesn't work"
Hi, I've just set this up but Syntax Highlighting doesn't work.

I've tried viewing PRs with .js, .html, .pl, .pm and .t extensions, no luck.

I've tried clearing my cache, logging out of bitbucket, restarting my browser, but no luck.

Word occurence, toggle diff text and the diff loading features are all operating, but not syntax highlighting (and possibly the " Improve the default font-family an

[2018-02-11 04:50] reyronald commented on #143
Hello @dpekkle

Can you tell me what browser you are running on? Which version of the extension do you have? Can you check if there's any errors in the developers console?

Open this PR and let me know if you don't see any syntax highlighting on it either https://bitbucket.org/atlassian/atlaskit/pull-requests/4412/fix-component-move-scroll-lock-style/diff?w=1

This is how I see it by the way, just

[2018-02-11 04:58] reyronald commented on #129
Perfect!! I'm glad to hear that!

Give me just a few days and I'll publish a new version with this fix! I'll inclulde you as a co-author on the pull request if you don't mind since you were involved in testing and verifying this! Which I appreciate a lot!

Yeah, actually I have the same problem with JSX in my code base and I've noticed that's definitely the reason. I just learned to live with it 😅

[2018-02-11 05:21] dpekkle commented on #143
Hi @reyronald

I'm running Google Chrome Version 64.0.3282.140 (Official Build) (64-bit), Windows 10.

Refined Bitbucket is Version: 3.5.0, from the chrome webstore.

Console, no highlighting:
![image](https://user-images.githubusercontent.com/1937814/36070067-909ac8bc-0f47-11e8-8043-c5011b8b452c.png)

[2018-02-11 05:24] dpekkle commented on #143
Thought it might be one of my extensions (ublock) involved so I've disabled all other extensions.

![image](https://user-images.githubusercontent.com/1937814/36070085-006180b4-0f48-11e8-9eed-05983d2aa87a.png)

[2018-02-11 05:35] reyronald commented on #143
I was checking the code and I think I already know what it is... when did you first install the extension?

[2018-02-11 05:38] dpekkle commented on #143
About 5 hours ago today

[2018-02-11 05:38] dpekkle commented on #143
About 5 hours ago today.

[2018-02-11 05:44] reyronald commented on #143
Perfect.

I changed some of the configuration settings in the latest version and I just noticed that I forgot to update the setting related to syntax highlighting. It will work on anyone that had the extension prior to that version, but not on someone who installed it recently, like you!

My deepest apologies, that was a totally my fault :(, thank you for taking the time to come and letting me kno

[2018-02-11 05:56] dpekkle commented on #143
No worries, thanks for the really quick turnaround.

.pl is perl, which is already on that list

.pm and .t are also both perl (modules and test files respectively). No syntactic differences, so whatever perl interpreter you have should cover it.

Another related one is .tt which is for template toolkit, perl based templating for web pages (http://template-toolkit.org/docs/index.html). Usually doe

[2018-02-11 06:20] reyronald commented on #143
Cool, the extension already has the Perl grammar, but only associated to .pl files, so we are going to have to add the rest manually.

If you'd like to contribute you can just add the entries to the list here : https://github.com/refined-bitbucket/refined-bitbucket/blob/dev/src/syntax-highlight/language-ext.js and submit a pull request! If you don't have the time I'll do it myself before releasing

[2018-02-11 16:50] #143 closed, assigned to reyronald

[2018-02-11 16:51] reyronald commented on #129
Closed via #137

[2018-02-11 16:51] #129 closed, assigned to atdrago

[2018-02-11 17:24] reyronald commented on #143
I just published v3.6.0, please let me know if it is working for you now! Make sure to verify the checkbox for the feature is enabled in the Options page and that your cache is refreshed when you go to Bitbucket!

[2018-02-11 17:34] reyronald commented on #129
Out in v3.6.0!

Let me know if everything is working as expected in the released version!

[2018-02-11 22:00] dpekkle commented on #143
Looks good, working now thank you :)

On Mon, Feb 12, 2018 at 4:24 AM, Ronald Rey <notifications@github.com>
wrote:

[2018-02-11 23:12] TimAEllis opened #147 "Missing syntax highlighting for swift?"
It seems you have the capabilities for swift but haven't included it in the export. (NB: I haven't actually tested this with swift yet so it may be there. I just noticed the inconsistency with ".swift" missing)

[2018-02-11 23:33] reyronald commented on #147
The export you mention doesn't actually represent all of the languages the extension is able to highlight!

It just includes those extensions that don't exactly match the name of the alias provided by PrismJS, check them all here: http://prismjs.com/index.html#languages-list

In the specific case of Swift, since the extension for swift files is `.swift`, and the name of the alias provided by Prism

[2018-02-12 16:01] dmrickey opened #149 "[FR] Hide pluses / minuses"
An option I think would be super helpful is the ability to hide the pluses/minuses in a changeset.  The colors are enough for me (though this option would have to be off by default for colorblind users).  I often find myself copying code between pull requests to make sure it does what it should.  So whether it's me copying/pasting it between IDEs or diff tools, the pluses/minuses always get in the

[2018-02-12 19:02] atdrago commented on #129
Looks great, @reyronald! Thanks again! 😊

[2018-02-13 04:42] reyronald commented on #149
Hello @dmrickey , thank you for coming in and suggesting a feature!

I can complete relate to that feeling, I copy code from the diffs all the time and always have to remove all of the pluses and minuses manually! It's a pain! It makes complete sense and don't know how I didn't think of it myself 😅 , so I think it's a great idea!

I got excited by it and went ahead and coded a prototype, but went

[2018-02-13 11:29] mkozak0108 opened #150 "Embedded JS and CSS are not highlighted"
Our team is using Polymer to build web application and because of it's nature most of the JS/CSS code is located inside .html files.

Unfortunately CSS inside <style> and JS inside <script> tags is not highlighted in the PR.
I've tested such files on [http://prismjs.com/test.html](http://prismjs.com/test.html) they are highlighted.

[2018-02-13 17:10] atdrago opened #151 "Error while parsing TypeScript React (tsx)"
Just wanted to report this because I ran across it this morning. I noticed I wasn't getting syntax highlighting for a certain TSX file and found this error in my console:

[code]

I cleared my cache and refreshed multiple times with no change. This isn't happening with all TSX files, so I'll look into exactly what is causing this when I have some time.

[2018-02-13 22:04] reyronald commented on #151
Hm, that's odd :/, never seen that one before. Is the error consistent? Meaning, does it always fail with the same files every time ?

I've done several refactors to the entire code base in recent releases so it's possible I broke something =(. Did you make sure you are not running both the dev and the production extension at the same time, by the way ?

[2018-02-15 06:01] tzimpel commented on #98
I'd be interested in Safari support, too.

[2018-02-15 13:20] reyronald commented on #98
Ok @tzimpel , noted, I'll look into it for a future release, thank you for showing interest!

[2018-02-16 13:46] bpahan opened #154 "Last updated user name in pull request list"
Could you add "by {username}" to the end of the second row on pull request item

![image](https://user-images.githubusercontent.com/2129348/36310400-8f9b431e-1330-11e8-9364-95db473b7cb9.png)

[2018-02-16 13:51] reyronald commented on #154
You mean the username of whoever updated the PR last? Not the creator of the PR ?

[2018-02-16 14:04] bpahan commented on #154
Yes.

It can be some workaround on this issue https://bitbucket.org/site/master/issues/13021/add-reviewer-status-of-needs-work-to
No matter how many people vote for this issue, Bitbucket team won't done it

[2018-02-16 14:07] reyronald commented on #154
I see! Yeah Atlassian is very slow when attending customer requests for issues.

I'll take a look, I think it could be done. Thanks for the suggestion!

[2018-02-17 02:19] apitzele commented on #149
@reyronald - very nice.  I would find this feature useful as well.

[2018-02-20 15:48] stevemuskiewicz opened #155 "Close branch checkbox being defaulted to on in PR edit view even when the PR settings specify it as off"
When running Refined Bitbucket in Chrome (Mac), if you create a PR via either the Bitbucket UI or the API and uncheck the "Close source branch" option, then go to the "Edit" view for the PR, the option is shown as checked by default with no user action to actually change it.

Disabling Refined Bitbucket and viewing the same Edit page (or using a different browser) shows the expected result - the "

[2018-02-21 21:31] reyronald commented on #155
I can't reproduce this :/. It is true that if the feature is enabled in the extension, it will check the "close branch" checkbox every time you try to Edit the PR, that is indeed something I should fix, but if I disable the feature through the Options page, the checkbox is not manipulated at all when I try to create or edit PRs. Are you completely certain this is the behavior that you are seeing o

[2018-02-22 02:17] stevemuskiewicz commented on #155
My bad, I didn't think to check the options and that option was enabled.  When I disabled it now I don't see the close branch option getting checked any more.

However its behavior does seem a little confusing, it reads 'Check the "Close anchor branch" checkbox by default when creating a new pull request' but in this case I was *editing* an existing pull request, so I guess I wouldn't have expecte

[2018-02-22 02:34] #149 closed, assigned to reyronald

[2018-02-22 02:37] reyronald commented on #155
Yes, definitely. I agree with you on that, it shouldn't actually enable the checkbox when editing the PR! I'm fixing it.

Thank you for pointing that out, I guess I didn't give it much thought when I did initially 😅

[2018-02-22 02:46] #155 closed, assigned to nobody

[2018-02-22 02:47] #147 closed, assigned to nobody

[2018-02-22 18:47] atdrago commented on #151
Just wanted to pop in so this doesn't get stale. I still haven't had time to look into it, but just to answer your questions:

- I believe the error is consistent in that it occurs for the same file
- Yes, I did check that I wasn't running both versions. I was running the live 3.6.0 and had the local version disabled

If I'm able to pinpoint what's causing it just through normal PR review, I'll de

[2018-02-22 19:17] reyronald commented on #151
Hey @atdrago , thanks for stopping by! And don't worry, I won't close it because I'm interested myself in getting this resolved, apparently it has popped up to other users as well, see #152 !

I haven't encountered this myself yet so I can't help much, but I was doing some digging regardless and I think the issue relies here specifically: https://github.com/refined-bitbucket/refined-bitbucket/blob

[2018-02-23 15:12] #141 closed, assigned to reyronald

[2018-02-26 14:57] #63 closed, assigned to reyronald

[2018-02-26 15:22] reyronald commented on #15
I had a designer friend of mine @alfonsote sketch some ideas, would love to hear the opinions of the user base!

**Option 1**

![option-1](https://user-images.githubusercontent.com/7514993/36678383-f513f804-1ae6-11e8-876a-57b629682be9.png)

**Option 2**

![option-2](https://user-images.githubusercontent.com/7514993/36678398-fb87631a-1ae6-11e8-8fdb-8937bc9e34a8.png)

[2018-02-26 20:55] #128 closed, assigned to nobody

[2018-02-26 22:09] clarkd commented on #15
I've been using this plugin for quite some time and would love to give something back. I'm a front-end designer so have put together a few more logo ideas for you!

I noticed the above was using Bitbucket's old logo so tried to pull in aspects of Atlassian's new branding here without completely copying their work!

These first two work quite well I think, but would need some tweaking to get into a

[2018-02-26 23:33] dpekkle commented on #15
I'm mostly thinking in terms of the extension icon but the RB from clarkd or the icon from option 2 look nice.

[2018-02-27 00:38] reyronald commented on #15
Hey @clarkd , those look amazing!! I would be perfectly happy with any of the options!

Although as @dpekkle says, we would need to come up with a smaller version of the logo as a whole to be used as the icon, which can be as small as 16x16 px (see https://developer.chrome.com/apps/manifest/icons), so that's something to take into account!

If you'd like to submit a pull request to include them, j

[2018-02-27 00:52] clarkd commented on #15
Hey @reyronald, glad you like them!

If you're happy to, we'll go with the RB logo for all the icons, and you can then use the larger format "REFINED BITBUCKET" for the README, App store etc?

I'll prep a PR tomorrow!

[2018-02-27 00:53] reyronald commented on #15
@clarkd That sounds great! Looking forward to the PR! 😃

[2018-02-27 12:20] alisspers opened #160 "SCSS syntax highlighter seems to remove characters in the code diff"
It seems as though the syntax highlighter removes characters in the diff. I've only found this in SCSS files though (did a quick scan through a few HTML/JS files and they had no problem).

This first image is the diff without syntax highlighting:

![screen shot 2018-02-27 at 13 12 42](https://user-images.githubusercontent.com/208699/36728314-9ca5ba6a-1bc0-11e8-8bbf-21f2aded0727.png)

And here's wi

[2018-02-27 15:36] reyronald commented on #160
Thank you for letting me know! I'll take a look into it.

If you could provide the HTML for the diff's node it would be extremely helpful! It's a section with the class `uudiff`

[2018-02-27 21:50] alisspers commented on #160
Sure thing, here's the `hite-space`-node, with and with highlighter enabled:

WITHOUT HIGHLIGHTER:

	<div class="udiff-line common">
		<div class="gutter" id="...">
			<a class="add-diff-comment add-line-comment" href="#add-comment" title="Add a comment to this line">
				<span class="aui-icon aui-icon-small aui-iconfont-add-comment">Add a comment to this line</span>
			</a>
			<a class="line-numb

[2018-02-27 22:30] JimPatterson opened #161 "Options "Don't carry pluses and minuses" and "Syntax highlighting" cause missing leading plusses"
With the recent update to 3.7.0 I noticed that some of our code looked wrong.  Playing around with it, it looks like if both of the options "Don't carry pluses and minuses" and "Syntax highlighting" are on, then leading plus ("+") characters in the source code are hidden.   If either of those options are off, then the code shows correctly.

Look at line 85 in ![leading_plus-with_dont_carry_plus-of

[2018-02-27 23:42] reyronald commented on #160
Perfect! I already figured it out, fix is coming tomorrow! Thank you!

[2018-02-27 23:53] reyronald commented on #161
Hello @JimPatterson , thank you for letting me know!

Could you provide me with the HTML of line 85 with the Syntax Highlighting option off? It would be a `<div class="udiff-line addition"> ... </div>`, that would help tremendously!

[2018-02-28 00:08] JimPatterson commented on #161
I captured both with the option on and off.  Here are the files for you.

BTW: Thanks for this extension, it helps a lot.

[option-on.txt](https://github.com/refined-bitbucket/refined-bitbucket/files/1765132/option-on.txt)
[option-off.txt](https://github.com/refined-bitbucket/refined-bitbucket/files/1765133/option-off.txt)

[2018-02-28 00:30] reyronald commented on #161
@JimPatterson are you on Chrome or Firefox ?

And you are welcome! ^^

[2018-02-28 01:33] JimPatterson commented on #161
Chrome (on linux if that matters)

[2018-02-28 13:13] #160 closed, assigned to reyronald

[2018-02-28 13:21] reyronald commented on #160
Hey @alisspers , just released a new version, please verify if the error is fixed when you update and let me know!

[2018-02-28 13:26] reyronald commented on #161
Hey @JimPatterson , truth to be told, I couldn't actually reproduce the error on my end, but I published a fix for this feature that might have impacted the behavior you were seeing. Please update and let me know if the issue persists.

[2018-02-28 14:19] alisspers commented on #160
Just looked at the same PR as before and it works great now. Thanks for the fast response!

[2018-02-28 14:46] reyronald opened #163 "[FR] Insert badge with the number of commits of the current pull request next to the "Commits" tab"
I would like to have a badge with the number of commits of the current pull request next to the "Commits" tab when viewing a pull request.

![image](https://user-images.githubusercontent.com/7514993/36793748-922ca0f8-1c74-11e8-85fc-76fd2e6cd788.png)

[2018-02-28 15:56] anupshah commented on #161
Hi. I noticed the original problem and saw a fix, which is great. However, unfortunately still seeing a problem with the latest version. See the two screenshots as examples in C# and SCSS

![image](https://user-images.githubusercontent.com/2446665/36797397-c096a404-1c9f-11e8-9af0-07d5e3a55ff5.png)
In the above, should see background-color and border-color. Instead see the first two characters miss

[2018-02-28 16:41] JimPatterson commented on #161
It seems to have gotten worse.  That same section of code now looks like
![more-missing-first-chars](https://user-images.githubusercontent.com/1703168/36794576-b3a84f9e-1c6e-11e8-8ee7-d23eeabf3bdf.png)  Notice the the "t" on line 86 is now missing.

The html for the lines is:
[86-good.txt](https://github.com/refined-bitbucket/refined-bitbucket/files/1767571/86-good.txt)
[85-good.txt](https://githu

[2018-02-28 17:03] reyronald commented on #161
@JimPatterson @anupshah I suggest you turn off the "Don't carry pluses and minuses to clipboard" in the mean time while I solve this, so that it doesn't affect your code review experience! I assume that you don't see that happening with the feature off, right?

[2018-02-28 17:05] reyronald commented on #161
@anupshah Could you provide me the HTML of the lines that are broken? It should be a `<div class="udiff-line addition"> ... </div>` node. Also, are you using the latest version of Chrome?

[2018-02-28 17:24] reyronald commented on #161
@anupshah @JimPatterson Nevermind, I already noticed what the problem is! Working on a fix now

[2018-02-28 19:54] #161 closed, assigned to reyronald

[2018-02-28 19:59] reyronald commented on #161
Just published a new release, please check again and let me know what do you see!

[2018-02-28 20:06] JimPatterson commented on #161
The updated version looks good.  Thanks for the super fast fix.

[2018-03-01 13:10] jettero opened #167 "option to skip onInstalled window.open"
Because of chrome sync, I have this plugin in 5 browsers around the room. This project updates a lot, so I get a window.open('https://github.com/refined-bitbucket/refined-bitbucket/releases/latest') on 5 browsers every couple days.

Could we get an option to disable the news feed?

I forked and found the relevant onInstalled.addListener(); but it's not clear how to get at the options in there, sin

[2018-03-01 14:59] requaos opened #168 "sometimes extra minus signs in diff view"
I do not have exact reproduction steps, but sometimes in the diff view there will be an extra minus(-) on removed lines... its not a big deal but makes my eyes twitch from the single char offset, makes my brain think "wait, didn't just run that through the linter before pushing?"

[2018-03-01 15:58] btenny opened #169 "can't seem to get the option to show the "source branch name" in the pull request list view to work"
This is the option I want to use:
 ![image](https://user-images.githubusercontent.com/1723948/36854478-1bdee728-1d3f-11e8-8129-94fef68b42f6.png)

But my pull request list view shows unchanged.

[2018-03-01 16:01] reyronald commented on #169
It should only work in the view from a URL like `https://bitbucket.org/user/repo/pull-requests/`, do you have any errors in the console?

Also, can you see the counters in the sidebar for the number of branches and open pull requests?

[2018-03-01 16:04] btenny commented on #169
Yes, I can see the counters in the sidebar for the number of branches and open pull requests, that option is working fine.

Here is the console:

![image](https://user-images.githubusercontent.com/1723948/36854914-3cdc9a00-1d40-11e8-8b8e-6eb0c1e57046.png)

[2018-03-01 16:04] btenny commented on #169
and my URL is: https://bitbucket.org/datatrac/cops_statis/pull-requests/

[2018-03-01 16:06] reyronald commented on #169
Just to be sure, did you enable the feature in the Options page through `chrome://extensions` ?

[2018-03-01 16:12] btenny commented on #169
Yup...

![image](https://user-images.githubusercontent.com/1723948/36855421-6684d0c4-1d41-11e8-8c99-5178782148d5.png)

[2018-03-01 16:15] reyronald commented on #169
Ok, in the console's network tab, filter for requests to `api.bitbucket.org` like so, and let me see which ones you have in there:

![image](https://user-images.githubusercontent.com/7514993/36855557-2caaea42-1d4a-11e8-9a85-e568d24fe551.png)

[2018-03-01 16:24] btenny commented on #169
here you go...

![image](https://user-images.githubusercontent.com/1723948/36856063-1a41017c-1d43-11e8-8eb9-f7ed8e43b53b.png)

[2018-03-01 17:38] reyronald commented on #169
Enable the "Set "Ignore whitespace" ON by default when entering a Pull request from the Pull requests list page" option and try again, let me know **if that feature works**! It should append `?w=1` to each pull request link.

[2018-03-01 17:48] reyronald commented on #169
Also, let me see the markup for any DOM node that is a row of the table `table.pull-requests-table`, it should have the class `.pull-request-row`. Strip any confidential information from it if you need, I only need to see the structure of the HTML

[2018-03-01 18:02] anupshah commented on #161
Hi. Thanks for such a quick turnaround. Faster than my ability to respond, that's for sure :)

Just checked and looks fixed to me!

[2018-03-01 18:02] btenny commented on #169
Enabling that option made it work!  Thanks.  The pull request list view now shows the extra info.  What is that "whitespace" option?  It is not clear what it does.

[2018-03-01 18:10] reyronald commented on #169
It opens the pull request with whitespaces ignored by default. Typically what Bitbucket would have you do is open the pull request, click the "..." dropdown of any diff and check the "Ignore whitespace" option, which will then refresh the page and load all the diffs again.

![image](https://user-images.githubusercontent.com/7514993/36861162-80b0b284-1d59-11e8-8c53-2374c065c0e6.png)

This is cumber

[2018-03-01 18:26] requaos opened #170 "please add support for Jenkinsfile*, or other files with no extension using crunch bang syntax"
When I write Jenkinsfiles by hand I use groovy, which I indicate in the Jenkinsfile on the firstline:
[code]
I also write script files in linux without dot extensions:
[code]
[code]
[code]
et al...
This is a long standing convention in *nix world, any ideas on implementing support for parsing the crunch bang line for syntax highlighting language choice? It could be any file without an extension, a

[2018-03-01 18:32] reyronald commented on #170
The issue that I see with it is that the extension syntax highlights diffs, not entire file contents. If the shebang is not part of the diff, it won't be able to find it anywhere so nothing would be highlighted in that case. What do you think?

[2018-03-01 19:29] btenny commented on #169
OK thanks... and yes, I would love this bug fixed because I **don't** want to use the "ignore whitespace" option.

[2018-03-01 19:44] requaos commented on #170
hrmm, good point... what about a language selector option for diff views with an unrecognized language?

[2018-03-01 20:15] reyronald commented on #170
You mean like a button or dropdown right in the diff header or something similar?

[2018-03-01 20:25] requaos commented on #170
yeah, something like that... not trying to burden the ui/ux judgment call by prescribing a solution

[2018-03-01 20:30] reyronald commented on #170
In your use case, is it possible to determine which language grammar to apply based on the filename and/or file path? I'm thinking that allowing the user to configure a mapping of rules to grammars could also be a way to go, so that the user can tell the extension "all the files that match the following rule or pattern should use this grammar", but don't know if that could actually be more useful

[2018-03-01 20:57] requaos commented on #170
that kinda goes back to parsing the shebang...

[2018-03-01 22:12] reyronald commented on #170
I don't think it would be the same, because the shebang is part of the contents of the file, not the filename. Also, with shebang parsing you wouldn't necessarily need to configure anything extra as a user.

[2018-03-01 22:23] reyronald commented on #167
Hey @jettero , I'm sorry I somewhat interrupted your work flow with the updates! 😢 There were indeed a few consecutive releases in the last few days because of some serious bugs found in one of the new features, I apologize!

Addressing your specific question, yes, it is possible to introduce an option to disable this and it's not difficult at all, it would only take a few lines of code! I'll make

[2018-03-01 22:24] reyronald commented on #168
Could you post a picture of one instance of this case, both with the feature on and off, so I can see the expected behavior versus the wrong one? That can maybe give me an idea of where to start to look for the possible bug.

Thanks for letting me know!

[2018-03-01 22:25] reyronald commented on #169
Will fix it for the next release! :)

[2018-03-02 10:51] franklynw opened #171 "Missing first character on some lines"
On some (seemingly random) lines of the diff, the first character of the code is missing, so you will see stuff like -

   unc decorate(_ cell: MyCollectionViewCell, selected: Bool) {
       et thingColor = cell.thing?.color() ?? UIColor.defaultThingColor

It's not consistent though, most of the lines of code are fine.

Browser is Chrome, on Mac running Sierra

[2018-03-02 11:44] franklynw commented on #171
On further investigation , it appears that it's not only first characters which are missing - there are many places where other characters are missing too, eg -

cellstatusTitleLabel.font = UIFont.thingMediumFont(size: 16) // (missing full-stop - should be cell.statusTitleLabel.font)

Apart from the first char issue, the other missing char always seems to be the first full-stop, but again, it's se

[2018-03-02 13:07] reyronald commented on #171
Hello @franklynw , this is a bug related to the "Don't carry pluses and minuses to clipboard when copying diff's contents " feature, so if you disable it your diffs should go back to normal.

You can keep it disabled until the feature is stabilized again, thank you for posting the issue! If you get any more information on the bug let me know!

[2018-03-02 17:04] jettero commented on #167
Hey, thanks for that.

I don't have any special interest in contributing, no. I don't mind contributing though. If it's simpler to do than explain and you're cool with doing it: go for it.

[2018-03-02 19:19] reyronald opened #172 "[FR] Add option to toggle comments in diffs"
Just like GitHub works! 😄

[2018-03-03 18:23] drexler commented on #170
Created pull request #174 to handle specific files that are universally known to have a particular language. Example Jenkinsfile is groovy-based and Vagrantfile is ruby-based.

[2018-03-05 14:45] JimPatterson commented on #168
I think this is related to the fixes for #161.  The option "Don't carry pluses and minuses to clipboard when copying diff's contents" off, fixes the display.  Here is a screen shot of the "broken" state:
![extra-diff-markers-bad](https://user-images.githubusercontent.com/1703168/36980788-5a606356-2059-11e8-88dd-ed142f4abab3.png)

Notice how the top two lines look correct, but the bottom block does

[2018-03-05 19:53] davidmankin opened #175 "Extra leading "-" in some diff lines"
Refined Bitbucket is adding extra minuses at the start of some deleted lines.

See:
![image](https://user-images.githubusercontent.com/721246/36996389-96b2f014-206b-11e8-9824-e1dea96c1bd1.png)

Some of the deleted lines end up with two minuses and some with one.

The same diff without the extension:
![image](https://user-images.githubusercontent.com/721246/36996491-d56f0e82-206b-11e8-857d-df29e24e

[2018-03-05 19:55] davidmankin commented on #168
I just filed #175 with the same issue.

[2018-03-05 19:59] reyronald commented on #175
Hello @davidmankin , thanks for reporting the issue!

That's a bug in the "Don't carry pluses and minuses to clipboard when copying diff's contents" feature, if you disable it in the Options, your diff should return to normal.

I'm planning to have it fixed in the next release some time next week, sorry for the inconvenience!

[2018-03-06 18:11] btenny commented on #169
Oh good... when will it be?  I am loving these extensions, but my favorite one is the one that is broken :-)

[2018-03-06 23:30] reyronald commented on #169
@btenny I'll try to put it out by Monday  Not soner just because I've been busy with other projects.

Glad to hear you are loving the extension! :D

[2018-03-07 00:02] reyronald commented on #169
@btenny If you disable the "whitespace" feature again, is the "source branch name" lost too ?

[2018-03-07 01:03] #167 closed, assigned to nobody

[2018-03-07 02:13] reyronald commented on #168
Just letting everyone know that I'm already working on a fix for this.

If anyone has the time and is willing to load a development version of the extension in their browsers to test the fix in their environments before it is pushed into a release, let me know, it would help to make sure the fix is actually covering all of the cases.

[2018-03-07 14:16] dmfay opened #178 "Collapse isn't working"
hi! This may be the same issue as #131. I'm using Vivaldi and Chrome on OSX, and have the following collapse patterns (the second should be redundant, but just in case):

[code]

It's still trying to load package-locks and I'm seeing the 'Oops! You've got a lot of code in this diff and it couldn't load with the page' message for them and for subsequent files.

[2018-03-07 17:58] reyronald commented on #178
I'm not sure if I understood correctly. The auto-collapse feature does not prevent Bitbucket from trying to load the files, it just collapses (or hides) the diff from view. If you want them to be removed entirely, use the "Diff ignore" feature instead.

Let me know when you try that.

[2018-03-07 21:41] dmfay commented on #178
That worked, thanks! Great work with this btw :)

[2018-03-07 21:41] #178 closed, assigned to nobody

[2018-03-07 22:08] reyronald commented on #178
Thank you! Glad you are enjoying it! ^^

[2018-03-07 23:21] btenny commented on #169
Yes

[2018-03-08 12:27] nikoladev commented on #167
Would it be possible to subscribe to updates in a less intrusive way? I'd like to know what changed, but without a new tab popping up randomly.

I like the way Refined Github handles it: https://github.com/sindresorhus/refined-github/issues/1137

Or maybe a small 'unread messages dot' on the extension icon?

[2018-03-08 12:40] reyronald commented on #167
@nikoladev Both of those are great ideas!

I will tackle the notification badge on the extension icon when I'm done solving some of the current bugs with one of the latest features. You can open a separate issue for that if you want.

Thank you!

[2018-03-08 12:52] reyronald commented on #169
@btenny I tried reproducing the bug on my machine two days ago by setting my Options like you have them in the screenshot you uploaded, but I couldn't! Disabling the "white-space" feature does not remove the "source branch name" feature for me ! 😕

Can you confirm if it's a caching issue ? (clear your cache after changing the options maybe?)

If that's not it I honestly don't know what's causing t

[2018-03-08 12:55] reyronald commented on #175
Duplicate of #168

[2018-03-08 13:13] btenny commented on #169
I cleared cache and still not working.

These options:
![image](https://user-images.githubusercontent.com/1723948/37152784-8141142e-22a8-11e8-9365-8affb5fe2435.png)

Get me this:
![image](https://user-images.githubusercontent.com/1723948/37152796-8ad2d25c-22a8-11e8-80c6-5b8df8bbceef.png)

If I then, enable the "whitespace" option, then I see this:
![image](https://user-images.githubusercontent.com

[2018-03-08 13:17] btenny commented on #169
I really need to see the source branch but I do not want the whitespace option.  I thought you said on March 1st you noticed/found the bug with the whitespace option?

[2018-03-08 14:06] jettero commented on #167
@nikoladev I love that idea. I do want to see the changes. It's just a pet peve over here. I've been looking for years for an extension that would prevent extensions from opening unsolicited tabs after an update.

[2018-03-08 14:52] ghost opened #181 "Feature request add a custom style to bitbucket pages"
Being able to add a style element on the page would be nice, right now I am using a bookmarklet, which kinda sucks. This could be very helpful to change the tab length on the overview page.

`.refract-container .source { tab-size: 4 !important; }`

The bookmarklet I am currently using:

`javascript:(function(){ var style = document.createElement(%27style%27), styleContent = document.createTextNode

[2018-03-08 14:58] #169 closed, assigned to nobody

[2018-03-08 15:01] reyronald opened #182 "Refined Bitbucket Updates"
# Refined Bitbucket Updates

Subscribe to this thread to receive e-mail notifications through GitHub every time a new update for the extension is released!

[2018-03-08 15:02] #182 closed, assigned to reyronald

[2018-03-08 15:13] btenny commented on #169
Thanks for the fix!  I hope this fix will also make the "created on" date show too.

[2018-03-08 15:14] reyronald commented on #167
@jettero @nikoladev Subscribe to #182 !

Will be posting the updates there on each release as well!

Thanks for the idea again 👍

[2018-03-08 15:30] reyronald commented on #169
@btenny No problem! The release is already out, update, test it, and let me know !

[2018-03-08 15:44] btenny commented on #169
Excellent!  It is fixed, this is a good day.  Thanks for being so responsive.

[2018-03-08 15:50] reyronald commented on #169
You're welcome! Thanks for reporting the issue. It's always great when users are willing to be involved in improving the product!

[2018-03-08 17:07] nikoladev commented on #167
Thanks for implementing it so quickly!

[2018-03-12 23:06] #15 closed, assigned to nobody

[2018-03-13 14:22] #163 closed, assigned to reyronald

[2018-03-14 13:33] Daanvm opened #183 "Bad side-by-side scrolling performance with syntax highlighting enabled"
The scrolling performance in a side-by-side window becomes really bad sometimes when highlighting is enabled. It's not uncommon for the CPU to hit over 100%, which causes the scrolling to freeze. It doesn't really seem related to the file size, it also happens for files of about 200 to 300 lines.

![screen shot 2018-03-14 at 14 06 31](https://user-images.githubusercontent.com/1397121/37404844-4fad

[2018-03-14 13:40] reyronald commented on #183
Hey @Daanvm!

I don't use side-by-side very much so I probably wouldn't have noticed this myself, thank you for the in-depth analysis!

I will be taking a look at this to see if it's trivial enough to be pushed into the next release. Hope it is not causing you too much trouble in the mean time.

[2018-03-14 14:42] Daanvm commented on #183
Thanks! The cpu usage of the side-by-side diff isn't really great anyway, even without any plugins active. So maybe there isn't a perfect solution.

I'll use the normal diff view in the meantime. Thanks for your great work in this plugin!

[2018-03-15 03:07] hk0i opened #184 "Rakefile support"
Rakefiles in diffs aren't being properly highlighted it seems

![image](https://user-images.githubusercontent.com/755669/37442350-0fe65fd0-27c3-11e8-82e9-4a78a5f19d6c.png)

**Expected:** `Rakefile`s to be highlighted as ruby code
**Actual:** No highlighting for `Rakefile` at all.

This is probably a quick fix I can try digging into later when I have some time if someone can throw me a hint on wher

[2018-03-15 14:45] reyronald commented on #184
Hello @hk0i ,  thanks to the work from @drexler in #174 this is already pretty easy to fix. Only thing you have to do is add an entry to `rakefile` here, between `jenkinsfile` and `vagrantfile`:

https://github.com/refined-bitbucket/refined-bitbucket/blob/ffd868f762ca3b871a2170176b82012ca7ea3b28/src/syntax-highlight/language-ext.js#L69-L73

So it would look like this (it has to be lowercase)

[cod

[2018-03-15 19:48] brianespinosa opened #185 "Could we get something more closely resembling the badges that BB previously had for PR counts?"
If I recall correctly before they robbed us of them, the PR badges looked something like this:

![image](https://user-images.githubusercontent.com/1161781/37487400-ac536d8c-284e-11e8-998f-d2fc494e64d6.png)

We would basically get that with this:
[code]

I am happy to open a PR for this if it is something there is consensus on. I am not opposed to something else for the color of the badge, etc.

[2018-03-15 20:04] reyronald commented on #185
Could you post a picture of how they look like when collapsed? And also how they would look like when the number has three or four digits?

[2018-03-15 20:15] brianespinosa commented on #185
![image](https://user-images.githubusercontent.com/1161781/37488684-acbf1844-2852-11e8-902d-14e02de579f0.png)
This is how they look currently (if that is what you mean by "collapsed"). Do you mean when there are none?

I made sure those styles still work when there are multiple digits:
![image](https://user-images.githubusercontent.com/1161781/37488798-f8c28848-2852-11e8-872d-12a5a235d482.png)

[2018-03-15 20:17] brianespinosa commented on #185
Ah. THIS is what you mean by collapsed:
![image](https://user-images.githubusercontent.com/1161781/37488873-1ee6ad10-2853-11e8-95ad-768637bcfcb3.png)

I can look at raising them to the top right when collapsed. I'll have to see if there's a parent selector for that to make it easy.

[2018-03-15 20:20] reyronald commented on #185
Yup, that's what I mean. I didn't add a background to the badge to not take unnecessary space when the menu was collapsed so that the numbers wouldn't stamp on top of the icons. Would like to know what the rest of the user-base would feel like, but sadly they don't frequent this repo frequently =P

[2018-03-15 20:25] reyronald commented on #185
For reference, this is how it looks right now:

<table>
<tr>
<td>
<img src="https://user-images.githubusercontent.com/7514993/35759127-0f886b44-084e-11e8-9e3a-58e9ce3da71a.png" alt="expanded"/> <br />
Expanded
</td>
<td><img src="https://user-images.githubusercontent.com/7514993/35742830-1c604af8-0812-11e8-936b-f6083599fb45.png" alt="collapsed" /> <br />
Collapsed</td>
</tr>
</table>

[2018-03-15 20:27] brianespinosa commented on #185
Seems like there is no deterministic class to target for collapsed that I am seeing. They inline the width. The best way would probably be to add this:

[code]
Which gives this:
![image](https://user-images.githubusercontent.com/1161781/37489297-61bde47c-2854-11e8-83c8-230bbabe9298.png)

These numbers could use some fine tuning. Probably padding could be reduced. I could put a more solid proposal

[2018-03-15 20:33] reyronald commented on #185
Don't know if you noticed but the markup of the sidebar actually changes when it is collapsed or expanded and I in fact insert different HTML for each mode, so that would have to be taken into account as well.

I honestly don't know if there would be community interest :(, not sure if you are still willing to invest time in it taking that into account! It'll probably wouldn't be merged for a while

[2018-03-15 20:36] brianespinosa commented on #185
I'll put something together. I'm more than happy to invest some time on this, even if nothing happens with it. That's how this whole open source thing works. ;)

[2018-03-15 20:37] reyronald commented on #185
Fair enough! Glad to have you on board :)

[2018-03-16 03:53] hk0i commented on #184
Very neat, will be sending pr shortly.

[2018-03-16 11:16] drexler commented on #154
@reyronald  i can take a stab at this. I need further clarification though.

 Looking the [BitBucket API](https://developer.atlassian.com/bitbucket/api/2/reference/resource/repositories/%7Busername%7D/%7Brepo_slug%7D/pullrequests/%7Bpull_request_id%7D),  @bpahan  are you looking for:
- the username of the person with the last activity (comments, commits etc) on the PR? or
- specifically the userna

[2018-03-16 11:20] bpahan commented on #154
The first. Any activity

[2018-03-16 12:42] reyronald commented on #154
I wouldn't include it if it requires more than one API call per pull request. Imagine, that page shows dozens of PR rows, if that was the case we would end up with 25+ HTTP requests every time we visited that list, which I don't think would be a responsible thing to do :/

[2018-03-16 12:46] bpahan commented on #154
But if you make an option in settigns anyone will make his own decision

[2018-03-17 17:33] drexler commented on #154
@reyronald although your concerns are valid, i tested this with a large PR listing by viewing the list of merged/declined pull requests within my team with this feature enabled. The user experience was still the same.  Performance-wise, i'll say it's still the same.  I have the implementation done in #187.  I'm open to suggestions on improving the PR like the last time :wink:

[2018-03-18 22:38] drexler opened #188 "Firefox add-on 3.7.3 does not work"
Installed and attempted to use it on the following Firefox versions:

- Firefox version 59.0.1 (64 bit)
- Firefox Developer Edition version 60.0b4 (64bit)

Furthermore, i built the add-on from source and the results were the same - installs correctly on both browsers - Chrome & Firefox but the latter never works.

Most likely, i think the issue is with how the addon is being generated.

[2018-03-20 20:30] deepakrb commented on #172
I'd really like to see this feature, your ability to review a PR degrades as more and more people begin to comment and it breaks up changes into changes and other peoples opinions. It'd be nice to switch them all off so you can have the same experience the first reviewer had.

It'd also be nice to be able to toggle them on or off per file

[2018-03-20 20:35] deepakrb opened #189 "[FR] Add the ability to create a PR from the compare page"
Bitbucket has the convenient but hidden feature 'Compare' which can be found at https://bitbucket.org/{USER}/{REPO}/branches/compare . Or by clicking the '+' in a repo and clicking the 'Compare branches or tags' button.

Its a pleasant diff page but I would like a CTA which allows me to take the two branches I am comparing an 'Create a PR' where the feature and target branches are set from the bra

[2018-03-21 12:59] #154 closed, assigned to reyronald

[2018-03-22 11:46] alonl commented on #97
Good call. I would also be very happy if I could add the Description of the Pull Request to the merge commit message.

Thanks a lot for this great extension!

[2018-03-22 12:58] #184 closed, assigned to nobody

[2018-03-22 13:09] drexler commented on #189
@reyronald i'll take a stab at this.

[2018-03-22 13:19] #168 closed, assigned to reyronald

[2018-03-22 13:19] #175 closed, assigned to reyronald

[2018-03-22 13:49] reyronald commented on #182
# 3.8.0 (2018-03-22)

This release was possible thanks to the help of some great contributors! Special thanks to [@clarkd](http://github.com/clarkd),
[@drexler](http://github.com/drexler) and [@hk0i](http://github.com/hk0i) for selflessly taking some of their time to work on
a few issues and new features.

On another note, we finally have a new logo! Beautifully designed by [@clarkd](http://github

[2018-03-22 14:56] deepakrb commented on #189
cheers @drexler , I made a start on it here https://github.com/deepakrb/refined-bitbucket/commits/merge-compare (It looks similar to the 'Create Pull Request' link on the branches page - I need to fix whitespace diffs) but If you want to do your own implementation I am happy to leave it

[2018-03-22 15:30] drexler commented on #189
@deepakrb sweet! Go ahead with your implementation;  you're a bit ahead of me here.

[2018-03-26 10:32] clarkd opened #192 "Option to force wrapping on long lines"
BitBucket doesn't automatically wrap long lines and it's a horrible experience to try and review longer lines - in our case, typically markdown/documentation.

[2018-03-28 18:18] reyronald opened #193 "Change the `package` npm script used to generate the `extension.zip`"
The [`adm-zip` npm package](https://www.npmjs.com/package/adm-zip) used in the `package` npm script that so far has been used to generate the `extension.zip` file is producing an invalid/weird ZIP that is being rejected by the Mozilla Add-Ons site when uploaded. So at the time of this writing, it is not possible to use that script to publish a new version of the extension.

Since the npm site show

[2018-04-02 22:37] #189 closed, assigned to nobody

[2018-04-03 00:11] #193 closed, assigned to reyronald

[2018-04-03 00:19] reyronald opened #195 "[Bug] Fix Options page so that it fits the screen"
With the newest version of Chrome, the `chrome://extensions` layout was updated. With this layout update, the Options page of the extension is no longer vertically scrollable, so all content that overflows past the screen size is not visible.

![new-options](https://user-images.githubusercontent.com/7514993/38222428-b455a71c-36b2-11e8-8bba-40393e4bab6b.png)

---

Labeling this issue as `help-wante

[2018-04-03 00:59] brianespinosa commented on #195
@reyronald go ahead and assign this to me.

[2018-04-03 01:40] reyronald commented on #195
@brianespinosa seems like I can't assign issues to non-collaborators :(, but go ahead! The issue is yours.

Thanks for the help! 🙌

[2018-04-04 03:21] brianespinosa commented on #195
I still have not had a chance to dig into this fully, but I did check this in Chrome Canary and you **can** scroll there just fine.

[2018-04-04 03:55] brianespinosa commented on #195
@reyronald it appears that this might not be something we can fix. The [options form](https://github.com/refined-bitbucket/refined-bitbucket/blob/9cb3607248f6199bee0b81ad62a29204ec9efa37/src/options.html) is being displayed inside of an iFrame. As far as I can tell, the only way we could solve this from within this form is set a height for the form itself and set it to overflow: scroll. We cannot

[2018-04-04 13:12] reyronald commented on #195
@brianespinosa Wow, great idea on trying with Canary! It didn't occur to me.

So apparently it was a unintended bug by the Chrome team when they redesigned the layout of the `chrome://extensions` page? If that's the case and they already have a fix for it in an upcoming version then I don't think it's worth it to invest time fixing it on our side, right?

[2018-04-04 13:56] brianespinosa commented on #195
@reyronald yeah. It looks like it is already fixed in a later version based on what I saw in Canary. And unfortunately I don't think there's a way for us to fix it since we can't target those styles in Chrome above what is running in our settings form iframe. The best we could do would be to set a height on our form with overflow-x: scroll. We would probably want to back that out once a fix was in

[2018-04-04 14:51] stramel commented on #171
I am noticing this when using with Bitbucket Diff Tree extension enabled. Seems to only be a combination of both.

[2018-04-04 15:44] reyronald commented on #171
@franklynw Can you confirm if what @stramel says is the same in your case ?

[2018-04-04 17:03] reyronald commented on #195
Apparently the fix landed in Canary 3 weeks ago here: https://chromium.googlesource.com/chromium/src/+/d4912b2051e7f264221deacb9b7ecfbeadddee9d

Since it is a minor release it will probably land in Chrome in two-three weeks (see "Stable channel" here: https://www.chromium.org/getting-involved/dev-channel). So yeah, I think we rather wait and that's it.

What you mention avoid the expanding section

[2018-04-04 17:06] reyronald commented on #195
By the way this issue was discussed by the Chromium team themselves here: https://bugs.chromium.org/p/chromium/issues/detail?id=820876. Exact same problem, and apparently it was introduced in the beginning of March.

[2018-04-10 01:58] drexler opened #197 "API calls fail in firefox addon 3.8.0"
Installing the addon for firefox v3.8.0, i noticed that all the features requiring an call to *//api.bitbucket.org/* via the fetch api were silently failing and on close inspection returned the following message: `TypeError: NetworkError when attempting to fetch resource`.

Created PR #198  for this.

[2018-04-10 17:59] Heanthor opened #199 "Git blame not aligned with code using larger font size"
With "Improve the default font-family and size of lines of code in Source view" selected as an option, the popout git blame text does not correspond to the correct line of code.

Steps to reproduce:

- Click "Blame" on a file in Source view
- Note blame entries line up with code correctly
- Enable "Improve the default font-family and size of lines of code in Source view"
- Note blame view remains

[2018-04-10 23:50] reyronald commented on #188
Firefox Add-on is working fine as of version v3.8.0 with no change, (evidenced by #198), so I'm closing this.

[2018-04-10 23:50] #188 closed, assigned to nobody

[2018-04-11 23:23] #197 closed, assigned to nobody

[2018-04-16 12:01] marco-tranzatto opened #201 "Question/Feature Request: Default Reviewers Based on Repo"
Hi all,

first of all thanks a lot for this amazing extension! I came across the link to this repo while looking how to add default pull request template in bitbucket ... I already like a lot my new browser extension!

I'm currently working in a team of more than 20 developers, mainly using bitbucket, and something we are missing a lot is the possibility to add default reviews on each repo. Let me

[2018-04-16 13:13] reyronald commented on #201
Hello @marco-tranzatto !

Thank you for your kind words! User satisfaction and that kind of feedback is what motivates me to keep maintaining this extension!

Regarding your feature request, I'm not sure I understand how it would be different than what Bitbucket already offers. There's an option under a repo's settings called Default Reviewers:

![default-reviewers](https://user-images.githubuserc

[2018-04-17 15:20] marco-tranzatto commented on #201
Hi @reyronald , thanks for your fast reply!

Probably I didn't explain myself completely. Let me try again :)
I'm aware of the built-in function of Bitbucket, but from our point of view it's just not enough. We have more than 150 repositories and setting default reviewers for each of them is not only time consuming but even quite useless on the long term run. A more easy and scalable solution, in

[2018-04-18 03:33] reyronald commented on #201
Oh I see! I get it now.

You mentioned that the configuration file would be stored in Bitbucket, so you mean you would like to include this file in the repo? If that's the case then you would have to go commit that file in your 150 repos and I'm assuming the configuration would only be applicable to the current repo, so then the contents of those 150 files themselves would have to be different per

[2018-04-18 12:15] marco-tranzatto commented on #201
Hi @reyronald

You're somehow correct, but in my vision there exists two files: one unique file stored in one "configuration_repo" in Bitbucket that lists all the groups and people belonging to these groups, and one file for each repo, that indicates to which groups the repo is linked to.

For the first file (global file indicating groups and people) I had in mind something similar to what you alr

[2018-04-20 19:20] reyronald commented on #195
So as of Chrome's Version 66.0.3359.117 (Official Build) (64-bit), this has been fixed!

Thanks again @brianespinosa for looking into ti!! ❤️

[2018-04-20 19:20] #195 closed, assigned to nobody

[2018-04-25 06:16] marco-tranzatto commented on #201
@reyronald, did you by chance have time to have a look at the previous post? I'm curious to know what you think about it :)

Cheers,
Marco.

[2018-04-25 13:24] requaos commented on #201
I look forward to maintaining my set of default reviewers, per repo, independent of the default reviewers specified in the repository settings. The first reason being that the repository maintainer is slow to update this list when turnover occurs and the second being that I do not have permissions to access the settings of the repo. Excellent plugin, and a shoutout to @drexler for Vagrantfile and

[2018-04-25 17:47] reyronald commented on #201
Hello guys, sorry for the late response.

To achieve this it would be necessary to be able to programatically manipulate the Reviewers input in the pull request creation/editing view.

From a little bit of experimentation and reverse engineering it didn't seem trivial to me at first glance, I would have to spend more time trying to figure it out. If anyone else would like to take a look and discus

[2018-04-26 20:41] peterkrieg opened #202 "Feature Request: Custom Tab Indentation Size of Code"
First of all, I want to second the positive things others have said about this extension - I'm glad I found it, it makes bitbucket a lot better!  Thanks for the great work!

When viewing code using tabs, bitbucket defaults the tab size to 8 spaces, which I feel makes the code a bit unreadable, especially when a user is accustomed to 2 space tabs, for example, instead.   A user can change the code

[2018-04-26 22:54] reyronald commented on #202
Hello @peterkrieg ! Thank you for your kind words! It 's really nice to know that the work myself and other contributors have been doing for the extension is appreciated! ^^

Regarding the feature, this is a totally valid and would be very useful! If you have the time to make a PR it would be great. It should be very simple to implement, let me know if you need any guidance or help, and looking fo

[2018-04-26 22:56] peterkrieg commented on #202
Alright, sounds good @reyronald.   I will make a PR and let you know if I have any questions, thanks!

[2018-04-26 23:16] drexler commented on #201
@reyronald  i'll have some free time over the weekend to take a closer look at this too.

[2018-04-26 23:18] reyronald commented on #201
@drexler awesome! Let me know how it goes!

[2018-04-30 08:01] marco-tranzatto commented on #201
Great to hear that @drexler !
I also would like to know how it goes once if you managed to give it a try :)

[2018-05-02 11:05] villuorav opened #204 "slim syntax highlighting pretty-please"

[2018-05-02 14:15] reyronald commented on #204
Hello @villuorav !

Would you like to contribute this yourself? You just need to edit the `language-ext.js` file with the appropiate entry, see https://github.com/refined-bitbucket/refined-bitbucket/blob/dev/src/syntax-highlight/language-ext.js

[2018-05-03 07:53] jperasmus opened #206 "Pull request and branch count for Firefox"
Hi there,

I am so happy that I stumbled upon this extension today. A lot of the things you've added is actual things I've posted to BitBucket before as feature requests. 👏🏼

Noticed a small bug on Firefox now: the PR and branch counts don't seem to show. On Chrome they show up nicely.

**Chrome:**
<img width="239" alt="counts-chrome" src="https://user-images.githubusercontent.com/6787452/39565303

[2018-05-03 13:39] reyronald commented on #206
Hello @jperasmus ! Thank you for your kind words! I'm glad the extension has been helpful to you! I would appreciate it if you could rate it in the Chrome Webstore and Firefox's Add-ons site, it helps give the extension more visibility so other users can find it!

Regarding the issue you mention, this already was solved in #197 by @drexler but it's not yet released. It will be coming in the next v

[2018-05-03 13:39] #206 closed, assigned to nobody

[2018-05-03 13:50] jperasmus commented on #206
Sure, I'll be sure to go and rate the extension in the add-on sites. Playing with it for another week or so and planning to suggest it to the rest of our team as well.

Apologies for the duplicate, I tried searching for a similar issue but didn't find it before.

I'll add new issues if I find any while using FF. Would like to possibly contribute a fix as well at one point.

[2018-05-03 13:54] reyronald commented on #206
Not at all! I really appreciate every bug report or issue created. The original issue didn't directly mention the features it was affecting, so it's not your fault :).

Looking forward to have you on board!

[2018-05-14 02:02] peterkrieg commented on #202
I didn't get around to this for a while because of the day job.. 🙂  but I added PR https://github.com/refined-bitbucket/refined-bitbucket/pull/209.   Let me know if it looks okay or if you want me to change anything!

[2018-05-14 13:01] kopach opened #210 "Add ability to copy file path"
I very often do copy path of file I'm reviewing to clipboard in order to search for it in my editor and check it there. So, I'm wondering, would it be possible to add file path copy button next to the file name in bitbucket? Or, maybe just make existing file icon clicable and by clicking on it - copy file path to clipboard.

[2018-05-14 13:06] reyronald commented on #210
Hi @kopach , long time no see.

You mean in the header of the diff when viewing Pull Requests or Commits?

[2018-05-14 13:35] kopach commented on #210
Hi @reyronald, yes, exactly 😊

[2018-05-14 13:43] reyronald commented on #210
I'll see what I can do! Although I've been pretty busy lately, so be patient =P

[2018-05-14 17:52] dguayrobotiq opened #211 "Support for clojure syntax"

[2018-05-14 18:35] reyronald commented on #211
Hello @dguayrobotiq , thanks for the suggestion.

Feel free to modify the https://github.com/refined-bitbucket/refined-bitbucket/blob/dev/src/syntax-highlight/language-ext.js file and submit a PR!

[2018-05-14 18:52] dguayrobotiq commented on #211
@reyronald I see clojure is in that list: http://prismjs.com/download.html#themes=prism-okaidia and tried adding this line to the `language-ext.js` but it's not working at all.

`'.clj': 'language-clojure'`

[2018-05-14 18:59] dguayrobotiq commented on #211
@reyronald Adding `'.clj': 'language-clojure',` to `language-ext.js` doesn't seem to work. I got the class name from here: https://github.com/troglotit/prism-clojure

[2018-05-14 19:00] reyronald commented on #211
Did you compile the extension, loaded it into your browser, enabled it and disabled the production one?

[2018-05-14 19:03] dguayrobotiq commented on #211
Yes to all of this ! I had to remove the `applications` key in `manifest.json` though to make it work.

[2018-05-14 19:16] reyronald commented on #211
Checkout the branch `lang-clojure` and try it there, let me know how it goes.

[2018-05-14 20:21] dguayrobotiq commented on #211
@reyronald Weird, that's working ! Not sure what I did wrong... Can you make a PR?

[2018-05-14 20:23] reyronald commented on #211
Already did! #212

Nothing wrong with what you did. The Prism version I was using so far didn't include Clojure support, I had to upgrade it, check the PR if you're curious.

Will be included in the next release!

[2018-05-15 12:52] #211 closed, assigned to nobody

[2018-05-15 13:40] #204 closed, assigned to nobody

[2018-05-17 09:28] Slamdunk opened #214 "Annotate page gets weird"
Hi, using the extension version 3.8.0 on Firefox 60 (but I always had this issue) the annotate page gets weird line alignment:

### Without the extension

![rb-before](https://user-images.githubusercontent.com/152236/40169008-48bd7c88-59c5-11e8-971b-6443331620af.png)

### With Refined Bitbucket

![rb-after](https://user-images.githubusercontent.com/152236/40169026-526336c4-59c5-11e8-8b92-49e203e3c

[2018-05-17 12:57] reyronald commented on #214
Hello @Slamdunk ,

All of the features of the extension are opt-in, if there's any that's causing you trouble, you can go to the Options page and disable them. In this case, you should disable the "Improve fonts..." and it should be back to normal. Let me know how it goes.

Also, I think this is a duplicate of #199

[2018-05-17 12:57] #214 closed, assigned to nobody

[2018-05-20 09:03] #202 closed, assigned to peterkrieg

[2018-05-20 10:25] #172 closed, assigned to nobody

[2018-05-20 10:51] reyronald commented on #182
# 3.9.0 (2018-05-20)

### Features

*   Adds a 'Create a Pull Request' link to the 'Compare branches of tags' page,
    closes [issue #189](https://github.com/refined-bitbucket/refined-bitbucket/issues/189),
    [pull request #191](https://github.com/refined-bitbucket/refined-bitbucket/pull/191).
    Thanks [@deepakrb](http://github.com/deepakrb).
*   Custom Tab Indentation,
    closes [issue #202

[2018-05-21 12:32] kopach commented on #172
Just noticed this new feature. Super useful. Thank you!

[2018-05-21 12:34] reyronald commented on #172
Thank you @kopach ! I released it yesterday! Glad you are finding it useful 😄

[2018-05-22 14:52] kopach commented on #210
I think, the good example of `Copy to clipboard` functionality would be Bitbucket's git command copy. Not sure, but maybe, there is a way to somehow reuse that functionality (or at least icon/styles).
![copy to clipboard](https://user-images.githubusercontent.com/8749624/40370259-2359e700-5de0-11e8-8ba2-d76c4d8ad6c3.png)

[2018-05-22 14:55] reyronald commented on #210
Functionality-wise I don't think this feature is very challenging at all, should only be a few lines of code.

The icons and styles though, thank you for pointing that out, could definitely be reused from there!

[2018-05-22 20:13] reyronald commented on #210
@kopach check out #215

[2018-05-24 09:59] jorcau opened #216 "Syntax highlighting removes <ins> and <del> tags"
Hi,

It seems that the syntax highlighting removes `<ins>` and `<del>` tags in source code making the strong background color disappear. It can make it a little more difficult to notice diffs on PRs. Here's an example of what it looks like without the extension. You can notice a stronger background color on character diffs.

![screenshot from 2018-05-24 11-55-01](https://user-images.githubusercont

[2018-05-24 13:10] reyronald commented on #216
Hello @jorcau ,

This is not the behavior that I see on my end, word diffs show up fine in my browser:

![after](https://user-images.githubusercontent.com/7514993/36613846-18391978-18b1-11e8-901b-5db484a4a2e7.png)

Is it something that happens consistently on ALL of your diffs? What browser are you using?

[2018-05-24 13:28] jorcau commented on #216
@reyronald,

Yes, it's happening on all my diffs (mainly Python, Go) except those without syntax highlighting (for instance, .tf files / HCL language).

I tried Firefox 60.0 and Chrome 66.0.3359.170 both without success.

[2018-05-24 13:59] reyronald commented on #216
Thanks for reporting @jorcau , there was definitely something wrong (I noticed now on further inspection). Fix will be included in the next patch release.

[2018-05-24 14:12] jorcau commented on #216
Sounds good!

Thanks for this great extension @reyronald!

[2018-05-26 16:38] wuservices opened #218 "Extra leading whitespace in diff sometimes"
In some diffs like this one, I've noticed there's a leading whitespace before the changed lines in the diff. Now that somebody has falsely finally called this out on my PR, I've looked a little more into it.
<img width="1540" alt="screen shot 2018-05-26 at 9 32 53 am" src="https://user-images.githubusercontent.com/190434/40578376-fa44fb30-60c7-11e8-852f-10990e5cd2ef.png">

In this screenshot you c

[2018-05-26 17:45] reyronald commented on #218
Hey @wuservices ! Thanks for reporting! Sorry about that, to be honest I've noticed that bug myself too but just ignored it 🙈

Don't worry about gathering more data, I think this is directly related with the "Don't carry pluses and minuses to clipboard when copying diff's contents" feature and I have some clues as to why it may be happening. If you disable that one feature alone in the Extension o

[2018-05-28 18:31] #216 closed, assigned to nobody

[2018-05-28 18:37] #210 closed, assigned to nobody

[2018-05-28 18:42] reyronald commented on #182
# 3.10.0 (2018-05-28)

### Features

*   Insert "Copy filename to clipboard" button in diff header,
    closes [issue #210](https://github.com/refined-bitbucket/refined-bitbucket/issues/210),
    [pull request #215](https://github.com/refined-bitbucket/refined-bitbucket/pull/215).

### Bug Fixes

*   Fix Word Diffs (`<ins>` and `<del>` tags) being removed when using syntax highlighting
    closes

[2018-05-29 01:55] wuservices commented on #218
I can confirm that disabling "Don't carry pluses and minuses to clipboard when copying diff's contents" fixes this issue temporarily, so you're spot on! Thanks for this awesome extension.

[2018-05-29 02:11] reyronald commented on #218
Great @wuservices ! Glad to hear that. I'll try to include the fix in the next release. And you're welcome :D

[2018-05-29 05:44] stonyz opened #219 "Wish to add issue "Filter" feature, just like JIRA."
Wish to add a new feature. User can customized new filters just like JIRA

[2018-05-29 07:55] kopach commented on #210
excellent, thank you @reyronald

[2018-06-05 10:24] kopach opened #220 "suggestion to make extension work on new PR page"
Personally I always do some fast pre-review of my code before publishing pull request. And I think, it would be super useful to have refined-bitbucket working in this case. The link to new PR looks like this: `/pull-requests/new?source=<branch-name>`

[2018-06-21 21:03] peterjanes opened #221 "Autocollapse only works with "Toggle diff text button" enabled"
Discovered this when I couldn't figure out why my `yarn.lock` files weren't autocollapsing. The behaviour might be by design, but perhaps the preferences UI could reflect it more directly, e.g. disabling the "autocollapse" textarea when "Toggle diff text button" is turned off.

[2018-06-22 12:59] reyronald commented on #221
You are absolutely right, the current autocollapsing feature is reusing the toggle diff button to collapse, so if it's not there, it won't work. Like you said this was by design, but was a poor choice for the reasons you just outlined. I'm sorry you wasted some of your time because of that!

I'm going to label this as a bug and the fix should be decoupling both of the features, they should work in

[2018-06-28 16:20] puneetar opened #223 "[Feature request] Setting to use DarkTheme"
Currently Bitbucket allows the use of Dark Theme in the UI. The code diff changes to Dark Theme colors. It would be great if Refined Bitbucket also uses Dark theme when showing colors and in Diffs.

[2018-06-28 16:50] reyronald commented on #223
I didn't know that, how do I enable the Dark Theme?

[2018-06-28 20:38] puneetar commented on #223
🤦‍♂️ turns out I was using a plugin to do that.

[2018-06-29 01:13] Dahaden commented on #199
Probably good to note that "Blame" has been renamed to "Annotate".

[2018-06-29 08:17] steven851007 commented on #98
Really cool extension but +1 for safari support!

[2018-06-29 13:09] reyronald commented on #223
I see. Well in that case I'm going to close this. Thank you for taking the time to drop by and suggest it!

[2018-06-29 13:09] #223 closed, assigned to nobody

[2018-06-29 14:40] #221 closed, assigned to nobody

[2018-06-30 19:16] #220 closed, assigned to reyronald

[2018-06-30 20:00] #218 closed, assigned to reyronald

[2018-06-30 20:02] reyronald commented on #151
Closing this to decrease a little bit of the clutter on the open issues page and because I haven't been able to reproduce this myself. Feel free to re-open or comment if anyone has something else to add to the discussion!

[2018-06-30 20:02] #151 closed, assigned to nobody

[2018-06-30 20:27] #181 closed, assigned to reyronald

[2018-06-30 20:32] reyronald commented on #199
Hello @Heanthor and @Dahaden ,

With the recent changes Atlassian made to Bitbucket this feature no longer works because it is targetting selectors that don't exist anymore on the source view page.

Since this was also a very personal preference of mine (the type of font used and the size), I decided to just remove the feature entirely in favor of the new "Custom CSS styles" (#227) that will be co

[2018-06-30 20:32] #199 closed, assigned to nobody

[2018-06-30 20:33] reyronald commented on #219
Hello @stonyz ,

Could you elaborate a little please? I'm not quite sure I understand what the feature would do exactly.

[2018-06-30 20:36] reyronald commented on #192
Hello @clarkd ,

Sorry it's taken me so long to take a look on this. Could you post a picture of what you mean? Is this in the source view page, or when reviewing diffs?

[2018-06-30 20:43] reyronald commented on #182
# 3.11.0 (2018-06-30)

### Features

*   **Custom styles**: Now it's possible to define your own CSS styles to be applied to Bitbucket using the
    extension through the Options page,
    closes [issue #181](https://github.com/refined-bitbucket/refined-bitbucket/issues/181),
    [pull request #227](https://github.com/refined-bitbucket/refined-bitbucket/pull/227).
*   **Default-merge-strategy**: A

[2018-06-30 23:48] AlphaGit opened #228 "Feature request: Share configurations in repository"
Hi! First of all, thank you very much for this wonderful plugin -- it definitely makes life easier on BitBucket.

I'm proposing a feature were the plugin configuration could be saved (exported) into a configuration file and saved into a repository. When visiting a repository in Bitbucket containing this file, the plugin would apply those configurations as specified in the file.

Inspired in the pu

[2018-07-01 19:56] clarkd commented on #192
Hey @reyronald.

No problem, here's an example: https://www.dropbox.com/s/gxa7fwu5kw8bop7/Screenshot%202018-07-01%2020.54.31.png?dl=0

As you can see Bitbucket adds a scrollbar because the line is too long for the screen - it would be great to have an option to force wrap all files by extension - for us that would be .md files!

Does that clarify things?

[2018-07-02 01:43] stonyz commented on #219
Thanks @reyronald ,  In "Advanced search", we can add a filter to do some complex search. but the filter can be saved. so we have to re-set the same filter when we want to use the save  query condition.  If we can save the filter,  that will be great.

[2018-07-02 14:36] reyronald commented on #192
Hey @clarkd , yeah I understand now.

My team and myself get over this issue by never relying on word-wrapping and just not committing files with lines over a certain length. There are automated tools to do this so that you don't have to keep that in mind all the time, I would suggest using [Prettier](http://www.prettier.io) and activating the [Prose Wrap rule for markdown files](https://prettier.

[2018-07-03 10:11] nickpeirson commented on #183
Hey @reyronald, I was subscribed to this issue as I'm experiencing it as well, but previously I didn't want to just add a 'me too' comment. I saw that you'd tagged it as an enhancement, however for me this is a blocker. I use side by side view regularly and if I turn on syntax on it becomes completely unusable, stalling chrome for tens of seconds at a time when I try to scroll, so for me it's defi

[2018-07-03 10:33] clarkd commented on #192
Hey,

I might be wrong, and you might have to walk me through this one but wouldn't using that mean the resultant output has line breaks in?

The markdown is our customer documentation which gets processed & built into HTML on our support portal so we wouldn't want stray linebreaks in there.

[2018-07-03 13:37] reyronald commented on #183
Hey @nickpeirson , thanks for dropping by and letting me know your stance on this!

I certainly hope not many people are uninstalling the extension just because of this. That's why I made every feature optional through the Options page, so that the user would have a choice when this type of circumstances arise.

This is indeed blocking for the side-by-side highlighting, but not for the entire synt

[2018-07-03 13:42] reyronald commented on #192
It does include line-breaks in the output, yes. But in both Markdown and HTML those line-breaks don't directly translate to line-breaks in the visual layout of the page unless there's a non-default `white-space` CSS rule applied to the container elements ([this is what I mean, the default is `normal`](https://www.w3schools.com/cssref/tryit.asp?filename=trycss_text_white-space)).

In other words, I

[2018-07-03 20:31] VladSavitsky opened #229 "Syntax Hightlighting doesn't work."
Just installed this extension. Features which not work:
* Syntax highlighting
* Set "Ignore whitespace" ON by default when entering a Pull request from the Pull requests list page

More details:
* Google Chrome 67.0.3396.99, 64 bit
* Language: PHP.
Thanks.

[2018-07-03 20:40] reyronald commented on #229
Hello @VladSavitsky !

I just re-installed the extension, [and created a pull request with a sample PHP file here and I can see syntax highlighting](https://bitbucket.org/reyronald/tutorial/pull-requests/1/change-whitespace/diff?w=1).

The ignore whitespace is working fine for me too. Is there anything else you could check?

![image](https://user-images.githubusercontent.com/7514993/42243507-9fc96

[2018-07-04 07:23] VladSavitsky commented on #229
Hi!

1. I reinstalled extension from Google Store. Nothing changed. Still no
syntax highlighting.
2. I downloaded source code from
https://github.com/refined-bitbucket/refined-bitbucket/releases/tag/v3.11.0
but I wasn't able to add this unpacked extension because in root directory is
missing manifest.json and in src/ directory is missing "prism.js"  for
content.

Probably your extension expects "<

[2018-07-12 01:07] johnzhanghua commented on #223
@puneetar  Can I ask what plugin you use for the dark theme? I am looking for it.

[2018-07-12 01:12] johnzhanghua commented on #181
@reyronald  How to set up the css? I pasted a CSS from https://userstyles.org/styles/156271/bitbucket-dark-fixes-by-prognoz-deprecated. But once I change some options above or close the option.

It disappears.

[2018-07-12 14:57] reyronald commented on #181
Hello @johnzhanghua , there's a limit to how big the size of the stored styles can be. It cannot exceed 8,192 bytes as measured by its JSON stringification. The styles you linked are just too big for the extension to handle.

You can install that specific theme using either Stylist or as a userscript instead, I believe the site that you linked guides you through both choices.

I'll make this more

[2018-07-12 14:59] reyronald opened #230 "Extension should warn when Custom Styles are too big"
Ref: https://github.com/refined-bitbucket/refined-bitbucket/issues/181#issuecomment-404541752

When the custom styles are too big, the extension will fail silently with the "Unchecked runtime.lastError while running storage.set: QUOTA_BYTES_PER_ITEM quota exceeded" error and the styles won't be saved.

We should either handle this exception and warn the user about it, or use an alternative approac

[2018-07-12 15:07] reyronald commented on #229
@VladSavitsky The instructions on how to mount the extension can be found here: https://github.com/refined-bitbucket/refined-bitbucket#compiling--contributing. The `manifest.json` file is in the `extension` folder after you compile the code. Make sure you are mounting the right directory, nothing is missing.

The "<?php" is not the problem. If the name of the file ends in `.php`, the extension sho

[2018-07-12 15:44] reyronald commented on #223
@johnzhanghua I don't know what @puneetar used, but I believe you could benefit from [Dark Reader](https://chrome.google.com/webstore/detail/dark-reader/eimadpbcbfnmbkopoojfekhnkhdbieeh?hl=en)

[2018-07-13 01:20] johnzhanghua commented on #181
@reyronald  Thank you for the reply. I've installed the dark theme via userScript. But looks there is some colour conflict of the deleted code.

I've customized the css as well.

[2018-07-13 01:33] VladSavitsky commented on #229
Hi!
This PR is not public and I have 'Access denied' error. In my projects PHP
files could have extension .module, .inc and etc.
I'll try to install extension using your instructions and test it on PR and
will give you a feedback.

чт, 12 июл. 2018 г. в 18:07, Ronald Rey <notifications@github.com>:

--
Vlad Savitsky

+38096 530 27 12
Skype: vlad_savitsky
vlad.savitsky@gmail.com
http://www.linkedin

[2018-07-13 03:19] reyronald commented on #229
You are right! The repo was private, I just made it public, check back again and see if you can open it now https://bitbucket.org/reyronald/tutorial/pull-requests/1/change-whitespace/diff?w=1

[2018-07-13 08:12] VladSavitsky commented on #229
When I open PR you've created highlighting is working really fine. But my
PR doesn't have it. Please see attacment.
I think that's because files do not have .php extention.

пт, 13 июл. 2018 г. в 6:19, Ronald Rey <notifications@github.com>:

--
Vlad Savitsky

+38096 530 27 12
Skype: vlad_savitsky
vlad.savitsky@gmail.com
http://www.linkedin.com/in/vladsavitsky

[2018-07-13 08:53] reyronald commented on #229
I see no attachment. However given what you just said, that's indeed the issue. Please refer to the list of available syntaxes here: https://github.com/refined-bitbucket/refined-bitbucket/blob/dev/src/syntax-highlight/language-ext.js

You can open a PR to add any missing extensions that you need.

[2018-07-13 08:56] reyronald commented on #229
As of right now, the only file extensions that syntax highlights PHP code are:

[code]

If your files have any other extension that are not in that or the full list, they will not be highlighted.

[2018-07-16 12:36] alextiley opened #231 "Language support: Gherkin/Cucumber (.feature extension)"
Please could you look at the feasibility of adding syntax highlight support for .feature files?

https://docs.cucumber.io/gherkin/reference/

[2018-07-16 17:56] reyronald commented on #231
Hello @alextiley, can you submit a pull request? If you can, just add an entry to this file https://github.com/refined-bitbucket/refined-bitbucket/blob/dev/src/syntax-highlight/language-ext.js like this :

[code]

(keep the alphabetical order please!)

[2018-07-17 20:04] #231 closed, assigned to nobody

[2018-07-17 20:08] alextiley commented on #231
@reyronald Thanks for your help - PR is ready. I've manually tested by loading the unpacked extension.

[2018-07-17 20:11] reyronald commented on #231
@alextiley Perfect! Thanks for the contribution, it'll be available in the next release.

[2018-07-18 17:33] #229 closed, assigned to nobody

[2018-07-21 16:18] #183 closed, assigned to nobody

[2018-07-21 16:26] reyronald commented on #182
# 3.12.0 (2018-07-21)

### Bug Fixes

*   Fix bad side-by-side scrolling performance with syntax highlighting enabled,
    closes [issue #183](https://github.com/refined-bitbucket/refined-bitbucket/issues/183),
    [pull request #233](https://github.com/refined-bitbucket/refined-bitbucket/pull/233).

### Language Support

*   Gherkin language for `.feature` files,
    closes [issue #231](https://g

[2018-07-21 16:31] reyronald commented on #183
@Daanvm @nickpeirson I just released a new version (v3.12.0) with a fix for this. I would appreciate it if you could report back and let me know if you notice the difference. Since I don't use the side-by-side feature of Bitbucket often myself I don't have much reference to go on, although in my tests I did feel an improvement.

Looking forward to your comments!

[2018-07-22 11:20] nickpeirson commented on #183
Hey @reyronald, thanks for the update.

I've done few quick tests and it's looking better so far. With it enabled, looking at pretty much any side by side diff with syntax highlighting enabled would lock up Chrome, however I've tried a few diffs with the latest extension version and it's remained mostly responsive. May be a couple of small stalls still, but nothing like the previous lockups I was

[2018-07-25 21:53] wuservices opened #234 "Seeing ___ERB0___ for ERB within HTML"
Let's say I have code like this in a diff or in a comment,

`<div class="image" style="<%= render(partial: '...') %>">`

What I end up seeing in Bitbucket is

`<div class="image" style="___ERB0___">`

In my code review, I actually asked, what is `___ERB0___` supposed to be? And then they responded with a comment saying they didn't know what was wrong, because it was supposed to say [pasted code]..

[2018-07-25 22:33] reyronald commented on #234
Wow, that's really strange, was that a `.html` file?

[2018-07-25 22:37] reyronald commented on #234
I just made a commit with that change to an `.html` file in one of my test repos and I can't reproduce it, can you open it yourself and tell me if you see it there ? https://bitbucket.org/reyronald/tutorial/commits/8b25c6581776ff7851e850d2271e31ad64b9382b

[2018-07-26 00:48] wuservices commented on #234
What if you make make a file.html.erb?

On Wed, Jul 25, 2018 at 3:37 PM Ronald Rey <notifications@github.com> wrote:

[2018-07-26 00:58] reyronald commented on #234
It's not going to be picked up by Refined Bitbucket because `.erb` is not a recognized extension for it. Didn't you see that behavior on the commit I linked?

[2018-07-27 13:39] jonkemp opened #235 "Can pull requests show if your branches are out of sync with master?"
On a branch view, Bitbucket shows how many commits the branch is behind master and gives you a link to merge master into the branch. Can the plugin add this for pull requests as well?

[2018-07-27 13:48] reyronald commented on #235
This is already added in the PR view by default, but under the "Commits" tab instead of the Overview:

![image](https://user-images.githubusercontent.com/7514993/43324482-38aca19e-9182-11e8-9199-3bfb3527c7a8.png)

Is that what you meant?

[2018-07-27 13:51] jonkemp commented on #235
Yes! I didn't know that was there. Thank you.

It would be nice though, if there was some indication on the overview tab.

[2018-07-27 14:04] reyronald commented on #235
This could be useful, I'll leave the issue open and explore the possibility of adding it later.

Thanks for the suggestion!

[2018-07-30 09:38] Daanvm commented on #183
Hi @reyronald, thanks so much!

I just returned from a week long holiday and I'm excited to test this out. I'll let you know how it goes after a couple of PR's!

[2018-08-06 09:19] Daanvm commented on #183
_Update after 1 week:_ I've not noticed any glitches or performance issues anymore. Thank you so much for this great update! 🎉

[2018-08-06 15:49] reyronald commented on #183
Hello @nickpeirson and @Daanvm , thank you for taking the time to come back and report your experience! It's very valuable to me! I'm glad to know that you are satisfied with how it's working now 🎉 :)

[2018-08-09 14:08] jestemkarol opened #238 "Overwriting !important rules"
Currently, when we overwrite Bitbucket selectors, user is not able to set his own styles via options. It'd good to have opportunity to change these values somehow.

For example:
[code]

[2018-08-09 14:31] reyronald commented on #238
Hello @jestemkarol ,

I'm not sure what you mean. I just tried your selector from the extension and it is working as expected, could you elaborate?

[2018-08-09 23:26] imyrfield commented on #171
Like @stramel, if I disable the BitBucket Diff Tree extension and reload, the issue goes away.

[2018-08-10 08:06] jestemkarol commented on #238
This selector comes from the extension [here](https://github.com/refined-bitbucket/refined-bitbucket/blob/cc515494b4767a1d82fc507a42d15db176b8ebb4/src/syntax-highlight/fix.css#L9), if I'm trying to change the colour of diff's deleted line by providing my own selector via options panel, I'm unable to do it, as that selector has `!important` rule to overwrite bitbucket selectors and I don't see any

[2018-08-10 13:34] reyronald commented on #238
How are you trying to change the color? What selector are you using? Using the same selector we are discussing will work fine. For example, using the custom CSS textarea from the options to include this:

[code]

Produces:

![image](https://user-images.githubusercontent.com/7514993/43960474-1a183564-9c80-11e8-9fa3-adbea2aeed5f.png)

[2018-08-13 07:57] #238 closed, assigned to nobody

[2018-08-13 17:03] jamesmoss opened #239 "Feature request: Show totals for number of lines added or removed"
Right now BitBucket lists out the lines added / removed per file in a PR:

![](https://cl.ly/3f1J0W1q0T23/Screen%20Shot%202018-08-13%20at%205.57.31%20pm.jpg)

Github and Gitlab show totals for these numbers which gives reviewers a good idea of how much code is being changed to add a feature. Could we show the totals at the bottom of the list of files?

[2018-08-13 18:01] reyronald commented on #239
Hello @jamesmoss , yes, that's possible, and it's a great idea! Thanks for the suggestion. I'll try to include this in the next release

[2018-08-14 13:04] oktupol commented on #234
I just had something similar in a `.tpl` file.

Instead of
[code]

Bitbucket showed me
[code]

[2018-08-14 13:07] reyronald commented on #234
Is it consistent @oktupol ? Do you see this every time you open that diff ?

[2018-08-14 15:04] wuservices commented on #234
@reyronald my problem actually was in a file.html.erb file and did go away without the extension on

I did look at your example and could not reproduce there, but was guessing that it didn't cause an issue due to the lack of erb in the extension combined with html.

[2018-08-14 23:39] gordominossi opened #240 "Undefined number of branches"
![screen shot 2018-08-14 at 20 16 42](https://user-images.githubusercontent.com/18463025/44124164-1f0447b8-a002-11e8-994a-2d15baa89335.png)

[2018-08-15 18:21] samlin86 commented on #240
Desktop view:

![branches](https://user-images.githubusercontent.com/24234325/44165315-41cb5180-a07d-11e8-88c5-12c31eebb1df.png)

[2018-08-15 18:27] reyronald commented on #240
Thanks for reporting this.

I checked and turns out that Bitbucket's API signature changed. I'll take a look at what to do about it later.

[2018-08-16 08:25] TomerBG2 opened #241 "Python triple quote string is not highlighted correctly"
Triple quote string is not highlighted correctly in python and the text inside the string is highlighted as code :

![cropped](https://user-images.githubusercontent.com/31801198/45798319-28d44280-bcb2-11e8-920d-51ff44ea71ab.jpg)

In prism.js it works fine, when trying it on their site https://prismjs.com/test.html it works.

[2018-08-16 09:17] oktupol commented on #234
@reyronald Yes, I do. I created a small repository to demonstrate this: https://bitbucket.org/cxo-swieland/test/commits/981d8ae201a8c83fc22de4d2d8124c2f87b65e25

[2018-08-16 13:13] reyronald commented on #234
@oktupol Thank you so much for the reproduction! It's extremely helpful when trying to isolate the cause of bugs! 🙌 👏

Apparently this is a flaw on [PrismJS](https://github.com/PrismJS/prism) and would have to be fixed up-stream, not here. I'll keep the issue open though until I get a response from the team.

[2018-08-18 10:34] reyronald commented on #240
Opened up an issue about in Bitbucket's issue tracker, for reference: https://bitbucket.org/site/master/issues/16993/property-size-missing-in-20-repositories

[2018-08-20 02:51] chriswburke commented on #240
@reyronald Would you consider preventing an update if the value is not a number? Happy to create a PR.

[2018-08-20 12:31] reyronald commented on #240
@chriswburke Sure! Although I'll still wait for a response from upstream before publishing a new release. This issue is not harming anybody and users can disable it through the options page if they find it too annoying.

[2018-08-24 17:01] deepakrb commented on #97
There seems to be a bit of work to do speccing this out @reyronald. I know we would find it massively useful so I would love to see this feature in RB. Can I be of any help with this?

[2018-08-24 17:34] reyronald commented on #97
Hello @deepakrb ! Nice to see you again over here :)

Well, how would you like this feature to work from the user's perspective if it was implemented? There has been a few suggestions but just curious if you and your team think differently

Maybe I can work on a proof of concept in the following week.

[2018-08-28 14:20] deepakrb commented on #97
Nice to be back @reyronald 😄

I was fully on board with @ikornienko's suggestions, as in a system similar to the current Pull Request template system where you can commit a Merge Message markdown file (with variable injection) to the root directory of the project which would be inserted into the merge message.

Just speaking personally, we have a policy where we currently manually remove the first

[2018-09-02 00:59] #97 closed, assigned to nobody

[2018-09-02 02:05] reyronald commented on #235
I ended up deciding against this for the moment. I don't want the extension to clutter Bitbucket's UI more than necessary and in this case since the feature is already there natively.

Closing this. If anybody else feels strongly in favor of it though feel free to speak up.

[2018-09-02 02:05] #235 closed, assigned to nobody

[2018-09-02 03:06] reyronald commented on #182
# 3.13.0 (2018-09-01)

### Features

-   **Merge Commit Message Template**. Similar to how the pull request template feature works,
    it is now possible to configure the extension to replace the default merge commit message for
    pull requests with a template that has access to dynamically injected variables like the pull
    request title, description, source and destination branch, and more.

[2018-09-04 13:07] reyronald commented on #97
Hey everyone, this feature is included in version 3.13.0. Please try it out and let me know what you think and if you find any issues with it.

[2018-09-06 15:13] btenny opened #248 "Pull request list view showing "undefined" overtop the branches button"
![image](https://user-images.githubusercontent.com/1723948/45168955-818fdf80-b1ca-11e8-9afe-be7aaae30661.png)

[2018-09-06 15:24] reyronald commented on #248
Duplicate of #240

[2018-09-06 15:24] #248 closed, assigned to nobody

[2018-09-06 17:30] djdmbrwsk opened #249 "Renames are seen as Adds after loading failed diffs"
Title says it all, renames are seen as Adds after loading failed diffs.  Here's a gif of this in action.
![kapture 2018-09-06 at 13 29 37](https://user-images.githubusercontent.com/886305/45174450-ee11db00-b1d8-11e8-86b9-df8add5caa7b.gif)

[2018-09-06 17:31] djdmbrwsk commented on #249
...this might be an issue with Bitbucket 😞

[2018-09-06 17:35] reyronald commented on #249
Yup, I think so. Open an issue here: https://bitbucket.org/site/master/issues?status=new&status=open

[2018-09-06 17:35] #249 closed, assigned to nobody

[2018-09-07 10:25] kopach opened #250 "Can't select some words by double-clicking them when creating/editing comment"
**Version**: v3.13.0

**Current behavior:**

1. create/edit comment
2. double click on word in textarea
3. word become deselected
See example:
![select comment](https://user-images.githubusercontent.com/8749624/45213824-faf60380-b298-11e8-8e17-ddcf14c0b751.gif)

**Expected behavior:**

on step `#3` selected word should remind selected

[2018-09-07 14:40] reyronald commented on #250
Hey @kopach,

If I remember correctly, this case used to work fine, right?

Just want to figure out if I introduced this bug by mistake or it has always been like this.

[2018-09-07 15:09] kopach commented on #250
Hey @reyronald. Not sure actually about this. What I'm definitely sure about - is that it wasn't working correctly in previous version too. I just've been to lazy  to report this 😊

[2018-09-07 15:10] reyronald commented on #250
Haha, ok, no worries! I'll look into it, thanks for reporting this! 🙏

[2018-09-07 21:16] peterjanes opened #251 "Not working at all in Firefox 63.0b4"
None of the Refined Bitbucket features are working in Firefox 63.0b4: syntax highlighting, auto-collapsing, PR and branch counts, auto-whitespace-ignoring, etc. are all missing. I can see the preferences pane and make changes, but that's about it.

I've tried disabling and re-enabling the add-on in my existing profile, but it hasn't done anything. I've also tried in a clean profile.

(I recognize

[2018-09-10 02:31] reyronald commented on #240
Apparently this is already solved upstream by the Bitbucket Staff, so closing this.

[2018-09-10 02:31] #240 closed, assigned to nobody

[2018-09-13 15:13] peterjanes commented on #251
I suspect it's due to the same change that has affected [Decentraleyes](https://git.synz.io/Synzvato/decentraleyes/issues/313) ([reported as Firefox bug 1489882](https://bugzilla.mozilla.org/show_bug.cgi?id=1489882)).

[2018-09-13 15:17] reyronald commented on #251
Hey @peterjanes ! I haven't had a chance to check this out yet. Have you tried using a stable build of Firefox?

[2018-09-13 15:21] peterjanes commented on #251
It's okay in Firefox 62. Sorry, I should have indicated that in the initial report.

[2018-10-01 08:14] alastairtree opened #252 "Integrate with the new beta pull request UI"
Hello

I love this plugin, thank you for all the hard work. I have noticed that there is a new UI from bitbucket coming, it is currently in beta in the labs https://bitbucket.org/blog/bitbuckets-new-code-review-offers-reviewers-a-fast-track-to-approving-changes.

You can enable the UI:

    1. Click your avatar in the Bitbucket sidebar
    2. Select Bitbucket Labs
    3. Enable the New pull reques

[2018-10-01 14:02] kopach opened #253 "Feature to add myself to reviewers list"
In the team we do follow convention, that we do not assign person to make review but rather person chooses PR to review itself. For such a case we do miss a feature to make this assignment in 1 click. So, I, as a developer, can add myself to list of reviewers by clicking 1 link/button without a need to click `Edit` PR button. The same way as there is an option `Assign to me` for Jira tickets or so

[2018-10-01 22:15] reyronald commented on #252
Hello @alastairtree,

Yes, I'm aware of the new update that was rolled out. I'm definitely planning to support it as well, and I think this effort would be a great candidate for version 4 of the extension!

[2018-10-10 01:05] gricey432 opened #254 "Links being injected and escaped"
Suddenly I'm having an issue in PR review where email addresses, say in a repo url, are being expanded into html.

Without extension
[code]
With extension
[code]

I'd guess this is related to #245

[2018-10-10 08:02] rschev commented on #254
Having the same problem and would like to add:
- The linkification seems to break when the text that looks like a link is surrounded by double quotes (") but not when surrounded by single quotes (')
- It seems overeager in turning text that contains an `@` into a `mailto:` link. For instance, in a *build.gradle* file, you use the `@` to specify the extensions of a dependency. `baseWar "org.group:a

[2018-10-10 10:48] reyronald commented on #254
Thank you for reporting! I'll take a look and let you know.

[2018-10-11 22:17] psyanite opened #255 "Syntax highlighting on view file"
Hi, sorry if my query is invalid.

Is it possible to add syntax highlighting when I view file?

Could provide more details if I'm being too vague.

P.S I love you guys, this is amazing you are heroes 💜

[2018-10-12 13:21] reyronald commented on #255
Hello @psyanite !

As far as I know the source view already provides syntax highlighting natively, take a look: https://bitbucket.org/atlassian/atlaskit/src/master/package.json.

![image](https://user-images.githubusercontent.com/7514993/46871701-1e641f00-ce00-11e8-84a4-977caf1aee81.png)

Is that what you meant?

[2018-10-12 20:07] krishnoid opened #256 "Hosted bitbucket"
Does this work (or can it be made to work) on an on-premises Bitbucket installation?   There's nothing in the description that says so one way or the other.

[2018-10-12 22:12] reyronald commented on #256
If you mean Bitbucket Server, then there is actually a section in the README that answers that question, here it is:

https://github.com/refined-bitbucket/refined-bitbucket#can-i-use-this-on-bitbucket-server

Cheers!

[2018-10-12 22:12] #256 closed, assigned to nobody

[2018-10-13 00:18] psyanite commented on #255
I checked on Friday and it looks like it doesn't with kt files. I will double check Monday.

Thanks for the quick response!

[2018-10-15 05:49] bary12 commented on #241
Are there any updates on this?

[2018-10-15 07:39] psyanite commented on #255
Yep, they have it already, except they don't do it on `kt` files. I should file a complaint to them.

Thanks for checking 👍

[2018-10-15 07:39] #255 closed, assigned to nobody

[2018-10-15 20:59] reyronald commented on #241
Hello!

Actually this is going to be a `wont-fix`, at least for the time being.

The reason why this works on https://prismjs.com/test.html is because the entire contents of the code is parsed in one go on that playground, but the way the extension works is different. Each line is parsed and highlighted independently, so the extension has no way of telling the current line is inside a multi-line s

[2018-10-15 20:59] #241 closed, assigned to nobody

[2018-10-15 21:01] reyronald commented on #251
Hello @peterjanes 	!

Is Firefox's version 63 out of beta yet? If it is, is the extension still not working on it?

I don't want to invest time investigating issues in a non-stable version of any browser. Let me know!

[2018-10-16 13:43] blakek commented on #251
It's still not working in `v63.0b14`.

There is a warning:

However, other plugins that are working—such as React Developer Tools—also log this same error.  I've enabled add-on debugging, but I don't see any errors logged from this plugin.

How can you debug add-on startup in Firefox v63?  I was wondering if it may log something when starting, but I don't see an option for reloading that plugin.

[2018-10-21 00:41] reyronald commented on #251
Hello @blakek ! Thanks for jumping in. I assume `v63.0b14` is still beta right? If that's the case, like I said, I wouldn't worry too much about the extension not working there until that version hits a stable release.

If it turns out that the extension stops working at all in a stable version, then definitely we should take a look.

About the logging, it's unpredictable whether you are going to

[2018-10-22 14:28] njibhu commented on #251
@reyronald Just to mention that on Firefox Developer Edition, v63 is released. Refined bitbucket is broken for a few month and the Dev Edition is very popular amongst the people who are likely to use Bitbuckets.
Firefox 63 is scheduled to be release tomorrow, everything that would impact this issue is already merged so there won't be any change. The plugin will then be broken on every release chan

[2018-10-23 14:19] blakek commented on #251
Verified, this is now broken in the stable release of Firefox (v63).

[2018-10-23 15:48] #251 closed, assigned to nobody

[2018-10-23 15:51] reyronald commented on #182
# 3.13.1 (2018-10-23)

### Bug Fixes

-   Fix extension in Firefox v63. Apparently a change in that version disallows
    extending the prototype of the `Element` type, so some code that was relying
    in that possibility had to be changed,
    closes [issue #251](https://github.com/refined-bitbucket/refined-bitbucket/issues/251),
    [pull request #257](https://github.com/refined-bitbucket/refin

[2018-10-23 15:56] reyronald commented on #251
This is now fixed and released in version v3.13.1.

Please confirm and let me know.

Thank you all for your patience!

[2018-10-23 16:16] blakek commented on #251
@reyronald It's working for me.  Thank you!

[2018-11-09 13:10] drexler commented on #170
@reyronald this issue can be closed.

[2018-11-10 23:39] reyronald commented on #182
# 3.14.0 (2018-11-10)

### Language Support

-   Reason language support for `.re` files,
    [pull request #258](https://github.com/refined-bitbucket/refined-bitbucket/pull/258).
	Thank you @baransu !
-   Salesforce related files, see pull request for more details,
    [pull request #259](https://github.com/refined-bitbucket/refined-bitbucket/pull/259).
	Thank you @PalGenadich !

### Development

[2018-11-10 23:42] reyronald commented on #170
Yeah, I think that given our conversation the best way to approach this kind of files is to handle them specifically by filename like it was done with #174.

Thank you @drexler for working on that! 🙏

Closing.

[2018-11-10 23:42] #170 closed, assigned to nobody

[2018-11-11 22:51] coagmano commented on #252
If you want to put up a task list for supporting the new UI, I'd be happy to handle a few of the smaller ones

[2018-11-13 12:33] Klaboe opened #260 "Feature Request: Option for collapsing comments"
Sometimes a comment (and subsequent replies to a comment) can get a bit out of hand and only obstructs the code on is reviewing and/or fixing...

Having the possibility to collapse comments would be a great help!

[2018-11-13 12:35] reyronald commented on #260
Hello @Klaboe

I implemented #196 a long time ago, isn't that what you are suggesting?

![show-comments](https://user-images.githubusercontent.com/7514993/40078626-24f31330-5853-11e8-946c-054acc41ae56.gif)

[2018-11-13 12:49] Klaboe commented on #260
Oh look at that! I did not know this was possible 😊

Sort of what i had in mind, but I was kinda looking for a way to do it to individual comments so that one could keep the relevant ones open; and also see where comments exist in the file.

[2018-11-15 09:26] kopach opened #261 "Code Review features doesn't work on branch compare view"
RB Version: 3.14.0

Code review features from #128 doesn't seem to be working on branch compare view.
I do follow [this instruction](https://stackoverflow.com/questions/21437196/how-to-compare-two-revisions-in-bitbucket#31795923) in order to get branch compare view:
`https://bitbucket.org/<OWNER>/<REPO>/branches/compare/<commit-hash>..<commit-hash-older>#diff`

[2018-11-18 23:18] reyronald commented on #261
Hey @kopach,

What was implemented in #128 was the branch compare view from the branch detail page. In other words, the screen you see after you go to "Branches" from the sidebar menu and click on a branch, which would be under the URL `https://bitbucket.org/{OWNER}/{REPO}/branch/{BRANCH}?dest={DESTINATION_BRANCH}`. Doesn't that page fulfill your need to compare branches?

Code review features und

[2018-11-18 23:18] #261 closed, assigned to nobody

[2018-11-19 12:09] kopach commented on #261
Hey @reyronald. Thanks for your response. Feature you've mention is not exactly what I need. On branch compare view - user now able to compare 2 commits, not only existing branches. This becomes super handy if I would like, for example, to group few lasts commits in PR and check what was done there after all.

From branch view (your URL) - go to compare view ([see here](https://bitbucket.org/repo/

[2018-11-19 12:58] reyronald commented on #261
I see. In that case feel free to open a new issue requesting that screen/page as a new feature.

Will see if I can get around to implementing it this or next week.

[2018-11-19 13:11] kopach opened #262 "Add Code Review features support on branch compare view"
Bitbucket's branch compare view allows comparing code between 2 revisions (commits) and not only branches. It would be really great to add redefine bitbucket's code review features on that view as well.

In order to open branch compare view - open branch list page -> open specific branch -> in the right top corner of page will be [additional action to open](https://bitbucket.org/repo/LboRq/images/

[2018-11-19 13:12] kopach commented on #261
Cool, thank you man. Have opened new issue here: #262

[2018-11-22 09:22] GGAlanSmithee opened #263 "Notifications that are manually "Marked as Unread" gets removed when removing all issues in another (unrelated) repository"
This is what happens visually:

1. #### There are two issues, one from repo 1 (actually unread), one from repo 2 (manually marked as unread)

![image](https://user-images.githubusercontent.com/11805103/48892798-27083600-ee3f-11e8-8d4d-29d6baa174a9.png)

____

2. #### Clicking "mark all {repo} notifications as read" on repo 1
![image](https://user-images.githubusercontent.com/11805103/48892905-6505

[2018-11-22 21:00] reyronald commented on #263
Hello @GGAlanSmithee

There's nothing in this extension that targets that screen or that feature in Bitbucket. This must be a bug in Bitbucket itself or from another extension.

If you can't reproduce this error without this extension enabled then feel free to re-open the issue again and I'll investigate just in case.

[2018-11-22 21:00] #263 closed, assigned to nobody

[2018-11-23 06:37] GGAlanSmithee commented on #263
@reyronald

I'm sorry but it's only notifications that are manually marked as unread (a feature implemented by this plugin, and not available in vanilla github) that are affected.

I've used github for 5+ years, never seen this even once during these years. I then installed this plugin yesterday specifically for the "mark as unread" feature it provides, and saw ths behaviour immediately.

I then r

[2018-11-23 07:24] reyronald commented on #263
@GGAlanSmithee You are at the wrong repository, this is Refined Bitbucket, not Refined Github.

Post your issue here: https://github.com/sindresorhus/refined-github

[2018-11-23 07:27] GGAlanSmithee commented on #263
🤦‍♂️ 🤦‍♂️ 🤦‍♂️ 🤦‍♂️ 🤦‍♂️ 🤦‍♂️ 🤦‍♂️ 🤦‍♂️ 🤦‍♂️ 🤦‍♂️ 🤦‍♂️ 🤦‍♂️ 🤦‍♂️  @reyronald I'm so sorry

[2018-11-23 07:28] reyronald commented on #263
No problems mate 😆 @GGAlanSmithee

[2018-12-06 08:58] rschev opened #264 "Syntax Highlighter strips out percent and some digits (%010d → %0d)"
This picture features the same commit (in a pull request) twice. The above is _without_ syntax highlighting enabled, below is _with_ syntax highlighting enabled.

![1544085398](https://user-images.githubusercontent.com/34025055/49572819-e4fdea80-f93c-11e8-898a-543b5a890178.png)

I use this extension mostly to assist in PR reviews, so this is kind of a dealbreaker bug.

Viewing a java file using Fi

[2018-12-18 00:49] gricey432 commented on #254
Running into more escaping issues now, e.g. the python line
[code]
becomes
[code]

[2018-12-20 23:25] reyronald commented on #182
# 3.14.1 (2018-12-20)

### Feature

-   Make the Autolinker feature for links in diffs optional. Check the Options page of the extension.
    If you are having issues like the ones described in [#254](https://github.com/refined-bitbucket/refined-bitbucket/issues/254),
    feel free to disable it while a fix is delivered,
    [pull request #265](https://github.com/refined-bitbucket/refined-bitbucke

[2018-12-20 23:27] reyronald commented on #254
@gricey432 	@rschev 	Just released an update that will make the linkifying feature optional, so that it doesn't get in the way of you pull request review experience while I look into it further.

Sorry for the inconvenience and thank you for your patience! Will work on this as soon as I have some time.

[2018-12-20 23:45] gricey432 commented on #254
Cheers!

[2018-12-21 00:47] reyronald commented on #264
Hey @rschev , this is another issue caused by the Autolinker feature. If you disable it in the Options page (only available on version v3.14.1) you won't get this behavior anymore :)

This is actually a bug in [Prism.js](https://github.com/PrismJS/prism), the library I use for syntax highlighting, not Refined Bitbucket, so I don't have much control over it. This is a minimal reproduction:

https:/

[2019-01-02 13:38] Vages opened #266 "Firefox: 'A script in the extension "Refined Bitbucket" is causing Firefox to slow down'"
First of all: I'm not an expert with the Firefox developer tools, so if I'm missing something which could give you a lot more information, please do tell!

I'm on Firefox (64.0) on Mac (10.14.2) with Refined Bitbucket (3.14.1), all the latest versions. The following error message appears on every single pull request that I try to view:

No amount of waiting seems to help. I have tried
* disabling

[2019-01-11 21:43] nikolasrod opened #267 "Feature Request: Description expand/collapse"
It would be great to have an option to expand/collapse the pull request description. Sometimes, pull requests related to front-end work can contain a bunch of images, which makes it harder to get to the list of files and go through the changes.

[2019-01-16 00:22] reyronald commented on #267
Thank you for your suggestion @nikolasrod 	!

This seems like an easy thing to implement, I'll consider adding this on the next release :)

[2019-01-17 23:06] DoWhileGeek opened #268 "Disabling the approve and/or merge button if the build is in progress or has failed"
Atlassian wants a 40% increase in revenue for requiring successful builds? No thanks. How do you folks feel about doing something like this?

[2019-01-18 03:03] reyronald commented on #268
😂 😂

Doesn't this feature already exist though, through merge checks: https://confluence.atlassian.com/bitbucketserver/checks-for-merging-pull-requests-776640039.html ? Isn't that what you had in mind?

[2019-02-04 15:16] achertovsky opened #270 "Impossible to navigate to diff correspoding line from activity"
When review the recent activities - its impossible to get to the line that was fixed.
Example:
Above line X its better to add the comment (in code)
if comment the X line and the author will follow the suggestion and will add code comment - its impossible to check from activity what was the change.

[2019-02-05 15:35] arzmir opened #271 "RB causes Vivaldi to crash (Unsupported Browser)"
Hi.
First and foremost. Thanks for writing an awesome extension! 👍

It works like a charm on Chrome, so I hoped to be able to use it also in Vivaldi, which is my preferred browser. I understand it's not inherently supported, but I hope that there is a fix out there as it is built using Chromium. :)

## The case:
I use Vivaldi for Mac, v2.2.1388

I have set up Vivaldi.net Sync to keep my laptop and

[2019-02-10 02:57] reyronald commented on #270
Hey @achertovsky

To be honest I don't understand what you mean. Can you describe in more detail how to reproduce?

[2019-02-10 03:13] reyronald opened #272 "Commit amount feature no longer working"
The commit amount feature that displays a badge with the number of commits of the current pull request is no longer working.

Turns out it's because the `size` property of the `/2.0/repositories/{team}/{repo}/refs/commits` API endpoint response is no longer there. At the moment it's unclear if this was an intentional or accidental change by the Bitbucket team. Opened an issue on their tracker aski

[2019-02-10 03:36] #262 closed, assigned to reyronald

[2019-02-10 03:37] reyronald commented on #268
I'll close this for lack of response. Feel free to re-open if needed.

[2019-02-10 03:37] #268 closed, assigned to nobody

[2019-02-10 16:56] #267 closed, assigned to reyronald

[2019-02-10 17:04] #219 closed, assigned to nobody

[2019-02-10 17:33] reyronald commented on #182
# 3.15.0 (2019-02-10)

### Feature

-   **Code Review**: Code review features (syntax highlighting, occurrences highlighting, diff collapsing, etc.) now work in "Branch compare" page,
    closes [issue #262](https://github.com/refined-bitbucket/refined-bitbucket/issues/262),
    [pull request #273](https://github.com/refined-bitbucket/refined-bitbucket/pull/273).

-   **Collapse description**: Add

[2019-02-10 18:26] achertovsky commented on #270
Imagine reviewer is doing review.
Wrote an comment on line 1024.
Developer made an fix of this line and comment disappeared with mark of "outdated".
To let reviewer check the fix - he should get to activity (cause obviously he don't remember the line where he left the comment).
In current flow he should find an line via activity, navigate to diff and find the line to check the fix, to make sure it

[2019-02-13 09:40] dcelasun opened #275 "Errors with new pull request UI"
The new [PR UI](https://confluence.atlassian.com/bitbucket/try-the-new-pull-request-experience-in-bitbucket-958455255.html) doesn't play well with refined-bitbucket:

[code]

[2019-02-13 12:34] reyronald commented on #275
Hey @dcelasun 	, thanks for reporting!

Does it cause any issues or break anything on the new UI?

[2019-02-13 12:43] dcelasun commented on #275
Hey, thanks for the speedy reply!

It doesn't break anything, but the extension itself doesn't work either (no syntax highlighting for example). Also, some features like diff ignore and auto collapse are builtin to Bitbucket now, so they won't be needed.

[2019-02-13 12:55] reyronald commented on #275
@dcelasun 	To be honest I didn't know that syntax highlighting even worked in the new PR UI (haven't used it), I just assumed it didn't, but I guess they kept some of the markup intact.

I'll fix this bug, but in the meantime you can just turn off the "Description collapse" feature in the options page and it should go back to normal.

[2019-02-27 17:01] syncrisis commented on #275
@reyronald Just a heads up, I just encountered this bug on Bitbucket Server when enabling a 3rd party plugin I've used in the past.  The new PR UI doesn't play nice with most plugins.

[2019-03-07 10:03] rbardini commented on #275
How can I turn off the "Description collapse" feature? I can't find it in the options page, and the `options.html` file doesn't have any references to the `collapsePullRequestDescription` config.

[2019-03-07 12:30] #275 closed, assigned to nobody

[2019-03-07 12:54] reyronald commented on #275
@rbardini 	You are right , I actually forgot to add that to the options page.

I released v3.15.1 just now with a fix, check it out

[2019-03-15 15:42] ChuckFields opened #278 "Plugin not enabled for private bitbucket servers"
refined-bitbucket seems to only work when you go to bitbucket.org. If you have a private bitbucket server, it does not work.

[2019-03-15 17:50] reyronald commented on #278
[Can I use this on Bitbucket Server?](https://github.com/refined-bitbucket/refined-bitbucket#can-i-use-this-on-bitbucket-server)

[2019-03-15 17:50] #278 closed, assigned to nobody

[2019-03-27 15:25] emz00 opened #279 "[FR] Ability to save "draft" comments on a PR and then submit them all at once"
When reviewing a PR I often finding myself making comments with questions that are answered later in the diff, so the comment is no longer relevant, but the author still gets an email notification for it. Even when comments are not removed the author gets a separate email for each comment, which gets quite annoying.

It would be useful to be able to save comments in "draft" form (not actually send

[2019-04-22 14:12] LoremFooBar commented on #252
Would love to see this happening! I'd be happy to help as well.

[2019-04-23 07:07] vfa-trungnm opened #280 "Add button to collapse all diff sections"
Would be great to have a button to toggle collapse of all diff sections

[2019-05-03 10:53] spont4e commented on #252
Hello @reyronald
The new pull request UI is now on by default.
Can you integrate it?

[2019-05-03 14:35] reyronald commented on #252
Hey guys! Thank you so much for your interest. Sorry I've been a little absent for a while, but yeah, I'm gonna start integrating this asap feature by feature. Will be releasing them gradually over the next weeks ✌️

[2019-05-06 08:20] jan-lund opened #281 "Pull requests not working"
Tried to create a pull request today but any branch combination resulted in the message no commits that don't already exist in the target branch. It worked when I disabled the Firefox extension.

[2019-05-08 12:24] alexschwantes opened #282 "Syntax highlighting not working for project repositories"
Have tested it out on bitbucket cloud and the syntax highlighting is working when viewing a shared private repository (with url https://bitbucket.org/user/repo/src/master/app.yaml) but if I try to view a file from a repository in a project (with url like https://bitbucket.org/project/repo/src/master/Server.kt) it doesn't highlight the syntax.

Not sure if the cause is the fact that the repo is in

[2019-05-08 13:13] reyronald commented on #282
Hello @alexschwantes !

Refined Bitbucket's syntax highlighting feature only targets diff sections, so it only applies to pull requests, commits and branch compare views.

The regular souce browser you reference is not touched by the extension at all, and this is intentional because it already has first-party support for syntax highlighting, but maybe Kotlin is not one of the supported languages.

[2019-05-08 20:36] alexschwantes commented on #282
Thanks @reyronald, I did also try the PR's but they weren't working. I figured out its because the syntax highlighting is only working in the old bitbucket PR view, not their new version. Is there any plans to support the new PR view?

[2019-05-09 19:41] maximestlaurent opened #283 "CSS style rule prevents dark theme styling"
I'm trying to the following dark theme along with Refined Bitbucket: [link](https://userstyles.org/styles/168675/fixes-for-bitbucket-dark-fixes-by-prognoz-dep). However, Refined Bitbucket makes it so deleted lines have a sometimes red, sometimes white background.

I've identified the issue and will submit a pull request related to this issue.

[2019-05-12 22:36] #283 closed, assigned to nobody

[2019-05-12 22:40] reyronald commented on #282
@alexschwantes There is, checkout this issue #252

[2019-05-12 22:40] #282 closed, assigned to nobody

[2019-05-12 22:45] reyronald commented on #281
That doesn't really sound like something related to the extension and I haven't being able to reproduce.

If you come across this again and you'd like to provide more info, it would be helpful if instead of disabling the entire extension disable feature by feature until you isolate which one might be causing it. If beyond that you can open a public repository where this is reproducible then even b

[2019-05-12 22:45] #281 closed, assigned to nobody

[2019-05-16 16:15] sromocki opened #285 "Set "Ignore whitespace" ON by default not working in Chrome"
This feature isn't working for me and I'm not sure why.  I believe it should just be appending ?w=1 to all PR links in the pull request list view.

Set "Ignore whitespace" ON by default when entering a Pull request from the Pull requests list page

https://github.com/refined-bitbucket/refined-bitbucket/issues/78

[2019-05-31 11:26] gronostajo opened #288 "Remove "Default Merge Startegy" or let users disable it"
This feature was requested in #90 and introduced in #91. I think it's counter-productive, though. Bitbucket has its own, per-repository setting for this. Maybe it was introduced after #91? I don't know.

![image](https://user-images.githubusercontent.com/1347866/58702764-fcc3a200-83a6-11e9-853b-f8eed1989c21.png)

Refined Bitbucket overrides this setting for all repos. It leads to mistakes if you w

[2019-06-04 00:03] reyronald commented on #288
@gronostajo

This feature was originally requested to Atlassian by the community on Feb. 23, 2017 [here](https://bitbucket.org/site/master/issues/13895/default-merge-strategy). Bitbucket's product manager stated that it wasn't something they were prioritizing at the moment, despite the feature request having so many votes, so I added it as a feature to Refined Bitbucket on December 2017 (#91).

It

[2019-06-04 00:21] #288 closed, assigned to reyronald

[2019-06-04 00:37] reyronald commented on #288
Released in v3.17.0

[2019-06-04 07:58] gronostajo commented on #288
Hi, thanks for the fix! I didn't mean to be disrespectful, I only meant that it's counter-productive right now, when this feature is available out of the box. I suspected that it may have been added there later, hence the "I don't know" part in original post.

[2019-06-06 00:18] dmngu9 opened #291 "Feature Request: Adding default dark theme"
I wonder if there is any chance that dark theme is supported

[2019-06-09 00:25] #285 closed, assigned to reyronald

[2019-06-09 00:26] reyronald commented on #291
I recommend you use [Dark Reader](https://chrome.google.com/webstore/detail/dark-reader/eimadpbcbfnmbkopoojfekhnkhdbieeh?hl=en)! Works very well and I use it myself :)

[2019-06-09 00:26] #291 closed, assigned to nobody

[2019-06-13 11:35] clarkd opened #294 "[FR] Show more than 4 reviewers on PR summary screen"
When there are more than 3 reviewers, you can only see the approvals from 3 of the reviewers on the PR summary/list page.

You can hover to see more but it would be great to expand what is shown (there's plenty of space!).

[2019-06-14 16:50] nikolasrod opened #295 "General comments expand/collapse toggle or hide/show checkbox"
It'd be nice to have the ability to hide the general comments (right after the PR description), as we have for file comments.

[2019-06-25 14:29] pdgendt opened #296 "Unable to scroll to next/previous comment"
When I use the shortcuts to scroll to the next comment, I get the following error:

[code]
Relevant portion of the code:

[code]

[2019-07-09 05:43] jatindhankhar opened #297 "[Feature-Request] . Ability to enable and disable extension by directly clicking on icon"
Hi,
Awesome extension, works flawlessly 👍
It would be nice to have a simple toggle button to turn on and off extension without fiddling with settings deep inside the options.
Similar to how ublock origin, on-off works.
![image](https://user-images.githubusercontent.com/2412081/60862174-68b4e800-a23a-11e9-8e9b-5492c608bc71.png)

[2019-07-10 16:10] rmsheppard opened #298 "Syntax Highlighting on View File in BitBucket"
This would be awesome if it worked on the "View File" page as well.

[2019-07-15 03:00] ScottRudiger opened #299 "Feature Request: Add `Fork` button to each repository"
I find it inconvenient (and easy to forget) to find the `Fork this repository` button hidden behind the `+` sidebar menu:

<img width="361" alt="Screen Shot 2019-07-14 at 7 57 34 PM" src="https://user-images.githubusercontent.com/26824724/61193668-c8aff200-a671-11e9-9824-e6d0a85b2df5.png">

Could the extension add a `Fork` button on the main page of each repository? Perhaps next to the `Clone` but

[2019-07-23 19:01] timkindberg opened #300 "Not working in New PR Experience"
Bitbucket released a new PR refreshed UI maybe 2 months back. I found this plugin and installed it and it seemed to do nothing until I disabled the new experience in my settings. I had to go to the Bitbucket Labs page and toggle off the "New pull request experience".

![image](https://user-images.githubusercontent.com/168046/61739614-ca0ca900-ad5a-11e9-890f-120cf687cbb3.png)

The new experience is

[2019-07-25 23:07] Gorden-Tseng opened #301 "Branch and PR number interfere with icons when sidebar is collapsed"
When I collapse the sidebar, the branch and PR number overlap with the icons as shown below.

<img width="52" alt="Screen Shot " src="https://user-images.githubusercontent.com/24713348/61914429-92466280-af0e-11e9-9cf6-2475729168cf.png">

[2019-07-31 05:27] bguerin commented on #300
Dupe of #252

[2019-07-31 05:29] bguerin commented on #252
The most missing feature for me is the commit message template

[2019-08-04 02:01] #301 closed, assigned to nobody

[2019-08-06 06:07] roypa commented on #296
Same here.
Both shortcuts for scrolling to next/previous comment on the page (Shift+n/Shift+p) leads to the same error.

[2019-08-15 00:57] luke-denton-aligent opened #303 "Syntax highlighter breaking PHP variables in a PHTML file"
I work on Magento, which uses PHTML files for templates (essentially it's a PHP file that has a fancy extension).

I was just reviewing some code, and was surprised to see the following

![RefinedBitbucket - Broken](https://user-images.githubusercontent.com/18253422/63065877-f1642980-bf46-11e9-8eee-e93399404488.png)

In the image above, we can see `___PHP0___`, which I flagged in a comment to the

[2019-08-15 07:54] Vages opened #304 "Svelte syntax highlighting"
Having syntax highlighting for the [Svelte framework](https://svelte.dev/) would be great! Usually, just parsing it as HTML works fine.

I might give this a go and submit a PR.

[2019-08-29 19:44] Rockin4Life33 commented on #271
This is odd.  I use Vivaldi and the extension works great for me.  However, in Chrome it does not work in regards to the sidebar (nav) but it does auto collapse *.lock; but works just fine in multiple coworkers Chrome...  FWIW

[2019-09-09 16:47] renatoch opened #306 "Option to ignore whitespace even when opening direct link to pull request"
I could only find the option to use whitespace when opening from the Pull requests list.
Is it possible to make it work for when opening direct link?
Something to be run after loading page, like:

`if (document.URL.indexOf("?w=1") == -1) {`
   `$("span[data-key='ignoreWhitespace']").click();`
`}`

[2019-10-01 10:48] RIP21 commented on #252
Any updates on that? syntax highlighting is heavily missed :(

[2019-10-01 18:35] anikethsaha commented on #299
would like to take this. Is there any platform to have a chat. need to clarify some doubts

[2019-10-02 07:31] anikethsaha commented on #299
Is it taken or not ?

[2019-10-02 11:24] andremw commented on #299
No, it's not taken. I assigned the issue to help you get in touch with @reyronald and start working on the issue.

[2019-10-02 11:39] anikethsaha commented on #299
Ohh okok

[2019-10-05 17:50] anikethsaha commented on #299
I looked into the bitbucket code and had a chat with @reyronald , as bitbucket is using CSS-in-js (styled-components), it would be very un-maintainable to place the fork button on top. As I would be referencing an element using clase name cause I don't see any other unique attributes to reference, I would break whenever bitbucket is publishing new version of their frontend. I thought of using `dis

[2019-10-09 22:18] binury opened #308 "Merge commit message templates are not applied"
### Attempting to use a merge commit template has no effect

## Replicate:

- Enable merge commit template
- Supply [gist](https://gist.githubusercontent.com/reyronald/5cb67b555110c4de8c41e7cec43dcc9c/raw/1c399b63cfba1758a31369919793e8ba94091a21/MERGE_COMMIT_TEMPLATE.md)
- Attempt merge
- Observe default message from Bitbucket

## Env:
Chrome | RB 3.18.1

[2019-10-09 22:19] binury commented on #308
(Gist linked above is from feature PR author's example)

[2019-10-12 07:51] #304 closed, assigned to nobody

[2019-10-17 09:35] acieplak opened #310 "Feature request: Distinguish my approvals from other approvals"
Hi,

This future request is all about the Bitbucket [BCLOUD-19247](https://jira.atlassian.com/browse/BCLOUD-19247).
It would be nice to have the ability to distinguish my approvals from other people's approval on the **_Commits_** screen. Right now, when anyone gives approve there is a green icon and it's impossible to figure out which is approved by me and which one not yet.

This is how it looks

[2019-10-25 13:50] bobinush opened #311 "Feature request: Ignore whitespace on commits"
Would be great to have the feature that is for pull requests to work on commits too from the `https://bitbucket.org/{user}/{repo}/commits/` site.

[2019-11-06 20:03] Qziem commented on #279
Yes, it would be great to have this functionality.

[2019-11-17 20:01] #296 closed, assigned to nobody

[2019-12-14 14:58] bgr opened #321 "Side-bar counters stopped working, error in console"
I've been missing the numbers in the side-bar (number of pull-requests, branches, etc.) for about a week now. I tried updating the extension, I'm on 3.18.1 in Chrome 79.0.3945.79.

Console contains the following error:
[code]

Which refers to the line:
```const [branches, pullrequests] = await Promise.all([_api.default.getBranches(), _api.default.getPullrequests()]);```

[2019-12-15 23:05] Michaelhobo commented on #308
I'm also seeing this

[2019-12-16 00:03] reyronald commented on #321
Hmm weird, I can't reproduce this :S. It works fine for me. Are you logged in when you see this error? Do you get this same error when viewing the pull request list?

Maybe try uninstalling and re-installing the extension?

[2019-12-16 16:06] bgr commented on #321
Yes, I'm logged in. My two colleagues who also use the extension and access the same Bitbucket project don't have the problem (Chrome and Firefox). I tried clearing all Atlassian and Bitbucket related cookies, and I've just tried re-installing, didn't help. I don't have adblock / privacy extensions enabled for Bitbucket.
I'll keep an eye on it and try to debug it some more if I get time.

[2019-12-20 04:41] Michaelhobo commented on #308
It sort of looks to me like CORB is blocking Refined Bitbucket from reading commits, pull requests, branches, etc.

Here's some console logs from a pull request page:

main.js:15370 Uncaught (in promise) SyntaxError: Unexpected end of JSON input
    at get (main.js:15370)
    at async pullrequestCommitAmount (main.js:17835)
main.js:15370 Uncaught (in promise) SyntaxError: Unexpected end of JSON in

[2019-12-20 06:47] reyronald commented on #308
I haven't looked into this yet but I had another bug report come in this week that happened for that reason @Michaelhobo , but I couldn't reproduce it. Requests were going through fine in my browser instance, so not sure exactly what could be causing this for some folks.

I'll look around this weekend, thanks for the hint!

[2019-12-20 15:35] Michaelhobo commented on #308
No problem, please let me know if you need me to reproduce the problem.

I think if you implement this (linked from the chromestatus link in the console logs), it should fix it: https://www.chromium.org/Home/chromium-security/extension-content-script-fetches

[2019-12-27 01:33] #308 closed, assigned to nobody

[2019-12-27 01:33] #321 closed, assigned to nobody

[2020-01-02 21:39] binury opened #323 "`approvedByList` merge template section contains `undefined` values"
The output currently looks like `Approved by: Some User <undefined>`

https://github.com/refined-bitbucket/refined-bitbucket/blob/6afde68a82031457f4e69f2e298f56fe5ff591e6/src/merge-commit-message/merge-commit-message.js#L39-L62

Obviously, that property doesn't exist but I cloned the extension and loaded it to inspect what the user object /does/ have and it appears that there isn't anything like a

[2020-01-03 15:14] reyronald commented on #323
Hey @teddy-error ,

Thank you for finding this and the thorough investigation! Yeah, I'm in favor or dropping it, let's just go with the `display_name`

About the token expired error, can you try logging out / logging back in from Bitbucket after enabling the development extension, and then refreshing your cache? Let me know if that doesn't work for you.

[2020-01-17 12:45] RobinvdM opened #324 "Python triple/multiline quotes not recognised"
In Python, triple quotes can be used to make a multiline comment. This is often used in docblocks. They are also mentioned in the [official docs](https://docs.python.org/3/tutorial/introduction.html).

It seems that these quotes are not recognised by the highlighter, as you can see in the image below

![image](https://user-images.githubusercontent.com/1828008/72613141-0e09f080-392f-11ea-94c6-b467c

[2020-01-27 04:49] #323 closed, assigned to nobody

[2020-01-27 05:08] reyronald commented on #252
**v3.19.0** will be up in the store soon with the merge commit template feature working in the new PR experience (cc @bguerin, let me know if it works smoothly for you or if you find any bugs)

@RIP21 Syntax highlighting for the new PR experience will not be implemented here because the Bitbucket team is working to implement it natively themselves and hopefully will land in a few months, so there'

[2020-01-27 05:08] #252 closed, assigned to nobody

[2020-01-27 05:08] #300 closed, assigned to nobody

[2020-01-27 07:48] bguerin commented on #252
YEAH !! I will test as soon as my plugin get updated

[2020-01-27 16:13] BenWildeman opened #326 "[Bug] line limit line over comments"
With the newly added line limit, it draws the column line over file comments:
![image](https://user-images.githubusercontent.com/3674467/73191728-df0a3080-411f-11ea-9edc-7299f5119cfb.png)

also draws over inline comments but only within the padding:
![image](https://user-images.githubusercontent.com/3674467/73194498-327e7d80-4124-11ea-9841-8cb4ac5c249b.png)

[2020-01-27 16:32] bguerin commented on #252
Thanks a lot @reyronald it works perfect !

[2020-01-29 05:56] mnn opened #328 "Missing plus character in diff (incorrect indentation)"
<img width="538" alt="2020-01-29_06-42" src="https://user-images.githubusercontent.com/1975567/73331057-e5ed8c00-4262-11ea-8a97-c8962b887498.png">

I guess the "Don't carry pluses and minuses to clipboard when copying diff's contents" is responsible, because after disabling it, indentation seems fine.

I saw #171, but in that issue it's not a `+`/`-` from diff, but a character from source code.

C

[2020-01-29 15:39] trojkat commented on #252
@reyronald thanks for this update! The merge commit template works great but in a previous version, this template also applied to the squash but it's not working anymore :-(

[2020-02-04 01:21] #326 closed, assigned to nobody

[2020-02-12 10:11] kopach opened #330 "Feature request: get list of commits in pull request"
Is there any chance, extension could list all "Non-merge" commits in PR (or branch diff page)? In that way, It would be possible to easily copy commit list and run cherry-pick on them in terminal, e.g.: `git cherry-pick <commit1> <commit2>...`

I know, this is quite a specific case, but sometimes I need this, and manual copy/paste a dozen of commits from PR is nightmare.

[2020-02-16 13:27] reyronald commented on #252
@trojkat Can you elaborate on what you mean by that? I changed the default merge strategy to Squash and it still works for me

[2020-02-16 13:29] reyronald commented on #330
Hello @kopach

I'm not sure I understand what you mean to be honest, there's already a commit list in the pull request view in both the old and new UI experience.

[2020-02-16 19:31] kopach commented on #330
hi @reyronald. Sorry, for my pure initial explanation. So, basically, what I would like to have – is some copy button by pressing which I would have all commit hashes copied to clipboard at once in following format: `xxxx zzzzz ccccc`. Another option I could imagine - could be some button which would open popup-like box with all the commit hashes listed in one place one by one without any addition

[2020-02-19 08:36] gronostajo opened #331 "RB decodes encoded HTML entities"
See this PR: https://bitbucket.org/gronostaj/html-escaping-test/pull-requests/1/expect-bugs-here/diff

The actual 2nd line is:

[code]

With RB enabled it looks like this:

[code]

[2020-03-02 14:19] dcu opened #333 "Syntax highlighting for Golang not working on new experiencie"
In the new PR experience files with .go extension are not highlighted

[2020-03-02 14:20] dcu opened #334 "Add support for terraform files"
It'd be great if you could add support for highlighting terraform files

[2020-03-02 14:21] reyronald commented on #333
Syntax highlighting is not implemented for the new experience and won't be, as the Bitbucket teams is working on first-party support that is expected to come in a few months.

[2020-03-02 14:21] #333 closed, assigned to nobody

[2020-03-02 14:33] dcu commented on #333
that's sad, bitbucket team has been saying they're working on syntax highlighting for years and it never happens, that's why I installed this extension. how are you so sure they are going to deliver this time?

[2020-03-02 14:48] reyronald commented on #333
I can't say I am "sure" they are going to deliver, but as far as I know it's in their roadmap for the next 4 months.

https://jira.atlassian.com/browse/BCLOUD-8673?focusedCommentId=2361698&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-2361698

If they announce they're not going to be delivering this, I'll support it in the extension

[2020-03-02 16:27] ClementMarrast commented on #264
Hey @reyronald ,

I've still have this bug, would it be possible to update Prism.js library?

Thanks

[2020-03-02 17:04] reyronald commented on #264
It was already updated long ago. If you still have it it is either a different case or was re-introduced in a recent version of Prism.js

Can you open a new issue? If you can include a public repo with a pull request that has the problem it'll be much easier to track down.